swagger: '2.0'
info:
  title: Orders V3
  version: ''
  description: >-

    - [OAuth Scopes](#oauth-scopes)

    - [Authentication](#authentication)

    - [Available Endpoints](#available-endpoints)

    - [Order Transactions](#order-transactions)

    - [Resources](#resources)


    The V3 REST API's Orders resource surfaces endpoints related to payment
    processing. The `/orders/{id}/transactions` endpoint returns transaction
    details for the specified order. 


    <!--Use `/orders/{id}/payment_actions/capture` and
    `/orders/{id}/payment_actions/void` to capture and void order payment
    authorizations.-->


    To programmatically create, update, and delete orders themselves, see
    [Orders
    v2](https://developer.bigcommerce.com/api-reference/store-management/orders).
    To process payments, see [Payment
    Processing](https://developer.bigcommerce.com/api-reference/payments/payments-process-payments).


    ## OAuth Scopes

    | UI Name                                      | Permission |
    Parameter                                     |

    |----------------------------------------------|------------|-----------------------------------------------|

    | Order Transactions                           | modify     |
    `store_v2_transactions`                       |

    | Order Transactions                           | read-only  |
    `store_v2_transactions_read_only`             |

    | Orders                                       | modify     |
    `store_v2_orders`                             |

    | Orders                                       | read-only  |
    `store_v2_orders_read_only`                   |


    For more information on OAuth Scopes, see:
    [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).


    ## Authentication


    Requests can be authenticated by sending a `client_id` and `access_token`
    via `X-Auth-Client` and `X-Auth-Token` HTTP headers:


    ```http

    GET /stores/{$$.env.store_hash}/v3/catalog/summary

    host: api.bigcommerce.com

    Accept: application/json

    X-Auth-Client: {client_id}

    X-Auth-Token: {access_token}

    ```


    |Header|Parameter|Description|

    |-|-|-|

    |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
    installing an app in a BigCommerce control panel.|

    |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
    installing an app in a BigCommerce control panel.|


    For more information on Authenticating BigCommerce APIs, see:
    [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).


    ## Available Endpoints

    | Endpoint                                |
    Description                                                             |

    |-----------------------------------------|-------------------------------------------------------------------------|

    | `/orders/{id}/transactions`             | Get list of transaction data for
    an order                               |

    <!--| `/orders/{id}/payment_actions/capture`  | Capture a payment
    authorization for an order                            |

    | `/orders/{id}/payment_actions/void`     | Void the payment authorization
    on an order                              | -->


    ## Order Transactions


    The `/orders/{id}/transactions` endpoint returns details about the payment
    instruments used to pay for an order. Depending on the payment method used,
    different details will be available. Not all credit card payment gateways
    will return full card details or all CVV/fraud response details. This is
    primarily used to get detailed gateway response information for credit card
    transactions, however it will also return any available information about
    digital wallet payments, as well as details about orders paid (partially or
    in full) via a gift certificate or store credit.


    The test payment gateway available in the BigCommerce control panel does not
    return any payment information.


    ## Resources 

    * [Orders
    Overview](https://developer.bigcommerce.com/api-docs/orders/orders-overview)

    * [Orders
    V2](https://developer.bigcommerce.com/api-reference/store-management/orders)

    * [Payment
    Processing](https://developer.bigcommerce.com/api-reference/payments/payments-process-payments)
  termsOfService: ''
  license:
    name: ''
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v3'
tags:
  - name: Transactions
  - name: Payment Actions
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  '/orders/{order_id}/transactions':
    parameters:
      - name: order_id
        in: path
        description: |
          The ID of the `Order` to which the transactions belong.
        required: true
        type: integer
    get:
      tags:
        - Transactions
      description: >-
        Returns transations related to an order.


        **Notes**

        Depending on the payment method used, different details will be
        available. Not all credit card payment gateways will return full card
        details or all CVV/fraud response details.


        Test Payment Gateway does not return any information.
      operationId: getTransactions
      responses:
        '200':
          description: ''
          schema:
            type: object
            description: Response payload for the BigCommerce Order Transactions API.
            properties:
              data:
                type: array
                items:
                  description: >-
                    A BigCommerce Transaction object describes a single
                    transaction.
                  allOf:
                    - type: object
                      title: Transaction Base
                      properties:
                        event:
                          type: string
                          description: |
                            Store event that created the transaction.
                          enum:
                            - purchase
                            - authorization
                            - capture
                            - refund
                            - void
                            - pending
                            - settled
                        method:
                          type: string
                          description: >
                            The payment method: `credit_card` - a credit-card
                            transaction; `electronic_wallet` - an online wallet;
                            `store_credit` - a transaction using store credit;
                            `gift_certificate` - a transaction using a gift
                            certificate; `custom` - manual payment methods;
                            `token` - payment token; `nonce` - temporary payment
                            token; `offsite` - online payment off the site
                            (e.g., PayPal); `offline` - payment method that
                            takes place offline.
                          enum:
                            - credit_card
                            - electronic_wallet
                            - gift_certificate
                            - store_credit
                            - apple_pay_card
                            - apple_pay_token
                            - token
                            - custom
                            - offsite
                            - offline
                            - nonce
                        amount:
                          type: number
                          format: float
                          description: |
                            Amount of money in the transaction.
                        currency:
                          type: string
                          format: ISO-4217
                          description: |
                            Currency used for the transaction.
                        gateway:
                          type: string
                          description: |
                            The payment gateway, where applicable.
                          enum:
                            - 2checkout
                            - adyen
                            - amazon
                            - authorizenet
                            - bankdeposit
                            - braintree
                            - cheque
                            - cod
                            - custom
                            - firstdatagge4
                            - giftcertificate
                            - hps
                            - instore
                            - klarna
                            - migs
                            - moneyorder
                            - nmi
                            - paypalexpress
                            - paypalpaymentsprous
                            - paypalpaymentsprouk
                            - plugnpay
                            - qbmsv2
                            - securenet
                            - square
                            - storecredit
                            - stripe
                            - testgateway
                            - usaepay
                        gateway_transaction_id:
                          description: >
                            The transaction ID returned by the payment gateway
                            for this transaction item.
                          type: string
                        date_created:
                          description: |
                            The datetime of the transaction.
                          type: string
                          format: date-time
                        test:
                          type: boolean
                          description: >
                            True if the transaction performed was a test, or if
                            the gateway is in test mode.
                        status:
                          type: string
                          description: |
                            Status of the transaction.
                          enum:
                            - ok
                            - error
                        fraud_review:
                          type: boolean
                          description: >
                            Result of gateway fraud review, if any. Default is
                            `false`.
                        reference_transaction_id:
                          type: integer
                          description: >
                            Identifier for an existing transaction upon which
                            this transaction acts.
                        offline:
                          type: object
                          description: 'Offline payment (e.g., check or purchase order).'
                          properties:
                            display_name:
                              description: |
                                Display name for the offline payment.
                              type: string
                          title: Offline
                        custom:
                          type: object
                          description: Custom payment from manual order.
                          properties:
                            payment_method:
                              description: >
                                Text entered for the payment method in the
                                control panel.
                              type: string
                          title: Custom
                        '':
                          type: string
                      required:
                        - event
                        - method
                        - amount
                        - currency
                        - gateway
                    - properties:
                        id:
                          type: integer
                          description: |
                            Unique identifier for the transaction.
                        order_id:
                          type: string
                          description: >
                            Identifier for the BigCommerce Order with which this
                            transaction is associated.
                        date_created:
                          description: |
                            The datetime of the transaction.
                          type: string
                          format: date-time
                        payment_instrument_token:
                          type: string
                          description: >-
                            This field contains internal BigPay token for stored
                            card that is then mapped to the actual third-party
                            token. We currently do not offer a way to get third
                            party tokens.These tokens are read-only and do not
                            return any information about the payment.
                        avs_result:
                          description: >-
                            Address Verification Service (AVS) result from the
                            payment gateway.
                          type: object
                          properties:
                            code:
                              description: AVS code.
                              type: string
                            message:
                              description: AVS message.
                              type: string
                            street_match:
                              description: AVS Code for street matching result.
                              type: string
                            postal_match:
                              description: AVS Code for postal matching result.
                              type: string
                          title: AVS Results
                        cvv_result:
                          description: >-
                            Card Verification Value result from the payment
                            gateway.
                          type: object
                          properties:
                            code:
                              description: CVV code.
                              type: string
                            message:
                              description: CVV message.
                              type: string
                          title: CVV Result
                        credit_card:
                          type: object
                          description: A credit-card model.
                          properties:
                            card_type:
                              description: |
                                The credit-card type: Visa, MasterCard, etc.
                              type: string
                            card_iin:
                              description: |
                                The IIN of a credit-card number.
                              type: string
                            card_last4:
                              description: |
                                The last 4 digits of a credit-card number.
                              type: string
                            card_expiry_month:
                              description: |
                                The expiry month of a credit-card.
                              type: integer
                              minimum: 1
                              maximum: 12
                            card_expiry_year:
                              description: |
                                The expiry year of a credit-card.
                              type: integer
                          title: Credit Card
                        gift_certificate:
                          type: object
                          description: A gift-certificate model.
                          title: Gift Certificate
                          properties:
                            code:
                              description: |
                                The gift-certificate code.
                              type: string
                              example: MB345
                            original_balance:
                              description: >
                                The balance on a gift certificate when it was
                                purchased.
                              type: number
                              format: float
                              example: 100
                            starting_balance:
                              description: >
                                The balance on a gift certificate at the time of
                                this purchase.
                              type: number
                              format: float
                              example: 100
                            remaining_balance:
                              description: |
                                The remaining balance on a gift certificate.
                              type: number
                              format: float
                              example: 35.42
                            status:
                              description: >
                                The status of a gift certificate: `active` -
                                gift certificate is active; `pending` - gift
                                certificate purchase is pending; `disabled` -
                                gift certificate is disabled; `expired` - gift
                                certificate is expired.
                              type: string
                              enum:
                                - active
                                - pending
                                - disabled
                                - expired
                        store_credit:
                          type: object
                          description: |
                            A store credit model.
                          properties:
                            remaining_balance:
                              description: |
                                Remaining balance of shopper's store credit.
                              type: string
                  title: Transaction
                  type: object
              meta:
                type: object
                description: >-
                  Data about the response, including pagination and collection
                  totals.
                properties:
                  pagination:
                    type: object
                    description: >-
                      Data about the response, including pagination and
                      collection totals.
                    title: Pagination
                    properties:
                      total:
                        type: integer
                        description: |
                          Total number of items in the result set.
                        example: 36
                      count:
                        type: integer
                        description: |
                          Total number of items in the collection response.
                        example: 36
                      per_page:
                        type: integer
                        description: >
                          The amount of items returned in the collection per
                          page, controlled by the limit parameter.
                        example: 50
                      current_page:
                        type: integer
                        description: |
                          The page you are currently on within the collection.
                        example: 1
                      total_pages:
                        type: integer
                        description: |
                          The total number of pages in the collection.
                        example: 1
                      links:
                        type: object
                        description: >
                          Pagination links for the previous and next parts of
                          the whole collection.
                        properties:
                          previous:
                            type: string
                            description: >
                              Link to the previous page returned in the
                              response.
                          current:
                            type: string
                            description: |
                              Link to the current page returned in the response.
                            example: '?page=1&limit=50'
                          next:
                            type: string
                            description: |
                              Link to the next page returned in the response.
                title: Collection Meta
            title: Transaction Collection Response
          examples:
            Square Payment Gateway:
              data:
                - id: 85926313
                  order_id: '121'
                  event: purchase
                  method: nonce
                  amount: 1
                  currency: USD
                  gateway: squarev2
                  gateway_transaction_id: pN5Kd7R9ilEI2ygBawCy7tMF|qwnAFAxRZ7tYRtIpZULg1yMF
                  status: ok
                  test: false
                  fraud_review: false
                  reference_transaction_id: {}
                  date_created: '2018-05-08T15:06:12+00:00'
                  avs_result:
                    code: ''
                    message: ''
                    street_match: ''
                    postal_match: ''
                  cvv_result:
                    code: ''
                    message: ''
                  credit_card: {}
                  gift_certificate: {}
                  store_credit: {}
                  offline: {}
                  custom: {}
                  payment_instrument_token: {}
              meta:
                pagination:
                  total: 1
                  count: 1
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: '?page=1&limit=50'
            Pay In Store:
              data:
                - id: 100287014
                  order_id: '176'
                  event: pending
                  method: offline
                  amount: 25
                  currency: USD
                  gateway: instore
                  gateway_transaction_id: {}
                  status: ok
                  test: false
                  fraud_review: false
                  reference_transaction_id: {}
                  date_created: '2018-09-05T14:02:10+00:00'
                  avs_result: {}
                  cvv_result: {}
                  credit_card: {}
                  gift_certificate: {}
                  store_credit: {}
                  offline:
                    display_name: Pay in Store
                  custom: {}
                  payment_instrument_token: {}
              meta:
                pagination:
                  total: 1
                  count: 1
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: '?page=1&limit=50'
        '204':
          description: |
            No content found to fulfill request.
          schema:
            description: No-content response for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  204 HTTP status code.
                type: integer
              title:
                description: The error title describing the situation.
                type: string
              type:
                type: string
              instance:
                type: string
            title: No Content
        '404':
          description: |
            The resource was not found.
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: |
                  404 HTTP status code.
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Get Transactions
      parameters:
        - name: order_id
          in: path
          description: |
            The ID of the `Order` to which the transactions belong.
          required: true
          type: integer
        - in: header
          type: string
          name: Accept
          default: application/json
        - name: Content-Type
          in: header
          type: string
          default: application/json
      x-private: true
  '/orders/{id}/payment_actions/capture':
    post:
      responses:
        '201':
          $ref: '#/responses/201_Acknowledged'
        '400':
          $ref: '#/responses/400_BadRequest'
        '404':
          $ref: '#/responses/404_NotFound'
        '422':
          $ref: '#/responses/422_UnprocessableEntity'
        '502':
          $ref: '#/responses/502_GatewayError'
        '503':
          $ref: '#/responses/503_ServiceUnavailable'
        '504':
          $ref: '#/responses/504_GatewayTimeout'
      summary: Capture a Payment
      operationId: postPaymentActionsCapture
      tags:
        - Payment Actions
      description: Capture the payment on a particular order.
      x-private: true
    parameters:
      - name: id
        in: path
        type: string
        required: true
  '/orders/{id}/payment_actions/void':
    post:
      responses:
        '201':
          $ref: '#/responses/201_Acknowledged'
        '400':
          $ref: '#/responses/400_BadRequest'
        '404':
          $ref: '#/responses/404_NotFound'
        '422':
          $ref: '#/responses/422_UnprocessableEntity'
        '502':
          $ref: '#/responses/502_GatewayError'
        '503':
          $ref: '#/responses/503_ServiceUnavailable'
        '504':
          $ref: '#/responses/504_GatewayTimeout'
      tags:
        - Payment Actions
      operationId: postOrdersPaymentActionsVoid
      summary: Void a Payment Authorization
      description: Void the payment authorization on a particular order.
      x-private: true
    parameters:
      - name: id
        in: path
        type: string
        required: true
        description: Order `id`
parameters:
  OrderIdParam:
    name: order_id
    in: path
    description: |
      The ID of the `Order` to which the transactions belong.
    required: true
    type: integer
  Accept:
    in: header
    type: string
    name: Accept
    default: application/json
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Order Transactions | modify | `store_v2_transactions` |

      |  Order Transactions | read-only | `store_v2_transactions_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
  X-Auth-Token:
    type: apiKey
    in: header
    name: X-Auth-Token
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Order Transactions | modify | `store_v2_transactions` |

      |  Order Transactions | read-only | `store_v2_transactions_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
definitions:
  CollectionMeta:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    properties:
      pagination:
        type: object
        description: 'Data about the response, including pagination and collection totals.'
        title: Pagination
        properties:
          total:
            type: integer
            description: |
              Total number of items in the result set.
            example: 36
          count:
            type: integer
            description: |
              Total number of items in the collection response.
            example: 36
          per_page:
            type: integer
            description: >
              The amount of items returned in the collection per page,
              controlled by the limit parameter.
            example: 50
          current_page:
            type: integer
            description: |
              The page you are currently on within the collection.
            example: 1
          total_pages:
            type: integer
            description: |
              The total number of pages in the collection.
            example: 1
          links:
            type: object
            description: >
              Pagination links for the previous and next parts of the whole
              collection.
            properties:
              previous:
                type: string
                description: |
                  Link to the previous page returned in the response.
              current:
                type: string
                description: |
                  Link to the current page returned in the response.
                example: '?page=1&limit=50'
              next:
                type: string
                description: |
                  Link to the next page returned in the response.
    title: Collection Meta
  Pagination:
    type: object
    description: 'Data about the response, including pagination and collection totals.'
    title: Pagination
    properties:
      total:
        type: integer
        description: |
          Total number of items in the result set.
        example: 36
      count:
        type: integer
        description: |
          Total number of items in the collection response.
        example: 36
      per_page:
        type: integer
        description: >
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        example: 50
      current_page:
        type: integer
        description: |
          The page you are currently on within the collection.
        example: 1
      total_pages:
        type: integer
        description: |
          The total number of pages in the collection.
        example: 1
      links:
        type: object
        description: >
          Pagination links for the previous and next parts of the whole
          collection.
        properties:
          previous:
            type: string
            description: |
              Link to the previous page returned in the response.
          current:
            type: string
            description: |
              Link to the current page returned in the response.
            example: '?page=1&limit=50'
          next:
            type: string
            description: |
              Link to the next page returned in the response.
  Meta:
    type: object
    title: Meta
    properties:
      meta:
        type: object
        description: 'Data about the response, including pagination and collection totals.'
        title: Pagination
        properties:
          total:
            type: integer
            description: |
              Total number of items in the result set.
            example: 36
          count:
            type: integer
            description: |
              Total number of items in the collection response.
            example: 36
          per_page:
            type: integer
            description: >
              The amount of items returned in the collection per page,
              controlled by the limit parameter.
            example: 50
          current_page:
            type: integer
            description: |
              The page you are currently on within the collection.
            example: 1
          total_pages:
            type: integer
            description: |
              The total number of pages in the collection.
            example: 1
          links:
            type: object
            description: >
              Pagination links for the previous and next parts of the whole
              collection.
            properties:
              previous:
                type: string
                description: |
                  Link to the previous page returned in the response.
              current:
                type: string
                description: |
                  Link to the current page returned in the response.
                example: '?page=1&limit=50'
              next:
                type: string
                description: |
                  Link to the next page returned in the response.
  ErrorResponse:
    allOf:
      - type: object
        description: |
          Error payload for the BigCommerce API.
        properties:
          status:
            description: |
              The HTTP status code.
            type: integer
          title:
            description: |
              The error title describing the particular error.
            type: string
          type:
            type: string
          instance:
            type: string
        title: Base Error
      - type: object
        properties:
          errors:
            type: object
            additionalProperties:
              type: string
            title: DetailedErrors
    title: Error Response
  BaseError:
    type: object
    description: |
      Error payload for the BigCommerce API.
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: Base Error
  DetailedErrors:
    type: object
    additionalProperties:
      type: string
    title: DetailedErrors
  TransactionPost:
    type: object
    title: Transaction Base
    properties:
      event:
        type: string
        description: |
          Store event that created the transaction.
        enum:
          - purchase
          - authorization
          - capture
          - refund
          - void
          - pending
          - settled
      method:
        type: string
        description: >
          The payment method: `credit_card` - a credit-card transaction;
          `electronic_wallet` - an online wallet; `store_credit` - a transaction
          using store credit; `gift_certificate` - a transaction using a gift
          certificate; `custom` - manual payment methods; `token` - payment
          token; `nonce` - temporary payment token; `offsite` - online payment
          off the site (e.g., PayPal); `offline` - payment method that takes
          place offline.
        enum:
          - credit_card
          - electronic_wallet
          - gift_certificate
          - store_credit
          - apple_pay_card
          - apple_pay_token
          - token
          - custom
          - offsite
          - offline
          - nonce
      amount:
        type: number
        format: float
        description: |
          Amount of money in the transaction.
      currency:
        type: string
        format: ISO-4217
        description: |
          Currency used for the transaction.
      gateway:
        type: string
        description: |
          The payment gateway, where applicable.
        enum:
          - 2checkout
          - adyen
          - amazon
          - authorizenet
          - bankdeposit
          - braintree
          - cheque
          - cod
          - custom
          - firstdatagge4
          - giftcertificate
          - hps
          - instore
          - klarna
          - migs
          - moneyorder
          - nmi
          - paypalexpress
          - paypalpaymentsprous
          - paypalpaymentsprouk
          - plugnpay
          - qbmsv2
          - securenet
          - square
          - storecredit
          - stripe
          - testgateway
          - usaepay
      gateway_transaction_id:
        description: >
          The transaction ID returned by the payment gateway for this
          transaction item.
        type: string
      date_created:
        description: |
          The datetime of the transaction.
        type: string
        format: date-time
      test:
        type: boolean
        description: >
          True if the transaction performed was a test, or if the gateway is in
          test mode.
      status:
        type: string
        description: |
          Status of the transaction.
        enum:
          - ok
          - error
      fraud_review:
        type: boolean
        description: |
          Result of gateway fraud review, if any. Default is `false`.
      reference_transaction_id:
        type: integer
        description: >
          Identifier for an existing transaction upon which this transaction
          acts.
      offline:
        type: object
        description: 'Offline payment (e.g., check or purchase order).'
        properties:
          display_name:
            description: |
              Display name for the offline payment.
            type: string
        title: Offline
      custom:
        type: object
        description: Custom payment from manual order.
        properties:
          payment_method:
            description: |
              Text entered for the payment method in the control panel.
            type: string
        title: Custom
      '':
        type: string
    required:
      - event
      - method
      - amount
      - currency
      - gateway
  NotFound:
    description: Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          404 HTTP status code.
        type: integer
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: Not Found
  TransactionResponse:
    type: object
    description: >
      Response payload for the BigCommerce Order Transactions API single
      transaction.
    properties:
      data:
        description: A BigCommerce Transaction object describes a single transaction.
        allOf:
          - type: object
            title: Transaction Base
            properties:
              event:
                type: string
                description: |
                  Store event that created the transaction.
                enum:
                  - purchase
                  - authorization
                  - capture
                  - refund
                  - void
                  - pending
                  - settled
              method:
                type: string
                description: >
                  The payment method: `credit_card` - a credit-card transaction;
                  `electronic_wallet` - an online wallet; `store_credit` - a
                  transaction using store credit; `gift_certificate` - a
                  transaction using a gift certificate; `custom` - manual
                  payment methods; `token` - payment token; `nonce` - temporary
                  payment token; `offsite` - online payment off the site (e.g.,
                  PayPal); `offline` - payment method that takes place offline.
                enum:
                  - credit_card
                  - electronic_wallet
                  - gift_certificate
                  - store_credit
                  - apple_pay_card
                  - apple_pay_token
                  - token
                  - custom
                  - offsite
                  - offline
                  - nonce
              amount:
                type: number
                format: float
                description: |
                  Amount of money in the transaction.
              currency:
                type: string
                format: ISO-4217
                description: |
                  Currency used for the transaction.
              gateway:
                type: string
                description: |
                  The payment gateway, where applicable.
                enum:
                  - 2checkout
                  - adyen
                  - amazon
                  - authorizenet
                  - bankdeposit
                  - braintree
                  - cheque
                  - cod
                  - custom
                  - firstdatagge4
                  - giftcertificate
                  - hps
                  - instore
                  - klarna
                  - migs
                  - moneyorder
                  - nmi
                  - paypalexpress
                  - paypalpaymentsprous
                  - paypalpaymentsprouk
                  - plugnpay
                  - qbmsv2
                  - securenet
                  - square
                  - storecredit
                  - stripe
                  - testgateway
                  - usaepay
              gateway_transaction_id:
                description: >
                  The transaction ID returned by the payment gateway for this
                  transaction item.
                type: string
              date_created:
                description: |
                  The datetime of the transaction.
                type: string
                format: date-time
              test:
                type: boolean
                description: >
                  True if the transaction performed was a test, or if the
                  gateway is in test mode.
              status:
                type: string
                description: |
                  Status of the transaction.
                enum:
                  - ok
                  - error
              fraud_review:
                type: boolean
                description: |
                  Result of gateway fraud review, if any. Default is `false`.
              reference_transaction_id:
                type: integer
                description: >
                  Identifier for an existing transaction upon which this
                  transaction acts.
              offline:
                type: object
                description: 'Offline payment (e.g., check or purchase order).'
                properties:
                  display_name:
                    description: |
                      Display name for the offline payment.
                    type: string
                title: Offline
              custom:
                type: object
                description: Custom payment from manual order.
                properties:
                  payment_method:
                    description: |
                      Text entered for the payment method in the control panel.
                    type: string
                title: Custom
              '':
                type: string
            required:
              - event
              - method
              - amount
              - currency
              - gateway
          - properties:
              id:
                type: integer
                description: |
                  Unique identifier for the transaction.
              order_id:
                type: string
                description: >
                  Identifier for the BigCommerce Order with which this
                  transaction is associated.
              date_created:
                description: |
                  The datetime of the transaction.
                type: string
                format: date-time
              payment_instrument_token:
                type: string
                description: >-
                  This field contains internal BigPay token for stored card that
                  is then mapped to the actual third-party token. We currently
                  do not offer a way to get third party tokens.These tokens are
                  read-only and do not return any information about the payment.
              avs_result:
                description: >-
                  Address Verification Service (AVS) result from the payment
                  gateway.
                type: object
                properties:
                  code:
                    description: AVS code.
                    type: string
                  message:
                    description: AVS message.
                    type: string
                  street_match:
                    description: AVS Code for street matching result.
                    type: string
                  postal_match:
                    description: AVS Code for postal matching result.
                    type: string
                title: AVS Results
              cvv_result:
                description: Card Verification Value result from the payment gateway.
                type: object
                properties:
                  code:
                    description: CVV code.
                    type: string
                  message:
                    description: CVV message.
                    type: string
                title: CVV Result
              credit_card:
                type: object
                description: A credit-card model.
                properties:
                  card_type:
                    description: |
                      The credit-card type: Visa, MasterCard, etc.
                    type: string
                  card_iin:
                    description: |
                      The IIN of a credit-card number.
                    type: string
                  card_last4:
                    description: |
                      The last 4 digits of a credit-card number.
                    type: string
                  card_expiry_month:
                    description: |
                      The expiry month of a credit-card.
                    type: integer
                    minimum: 1
                    maximum: 12
                  card_expiry_year:
                    description: |
                      The expiry year of a credit-card.
                    type: integer
                title: Credit Card
              gift_certificate:
                type: object
                description: A gift-certificate model.
                title: Gift Certificate
                properties:
                  code:
                    description: |
                      The gift-certificate code.
                    type: string
                    example: MB345
                  original_balance:
                    description: |
                      The balance on a gift certificate when it was purchased.
                    type: number
                    format: float
                    example: 100
                  starting_balance:
                    description: >
                      The balance on a gift certificate at the time of this
                      purchase.
                    type: number
                    format: float
                    example: 100
                  remaining_balance:
                    description: |
                      The remaining balance on a gift certificate.
                    type: number
                    format: float
                    example: 35.42
                  status:
                    description: >
                      The status of a gift certificate: `active` - gift
                      certificate is active; `pending` - gift certificate
                      purchase is pending; `disabled` - gift certificate is
                      disabled; `expired` - gift certificate is expired.
                    type: string
                    enum:
                      - active
                      - pending
                      - disabled
                      - expired
              store_credit:
                type: object
                description: |
                  A store credit model.
                properties:
                  remaining_balance:
                    description: |
                      Remaining balance of shopper's store credit.
                    type: string
        title: Transaction
        type: object
      meta:
        type: object
        description: May be used in the future
    title: Transaction Response
  TransactionCollectionResponse:
    type: object
    description: Response payload for the BigCommerce Order Transactions API.
    properties:
      data:
        type: array
        items:
          description: A BigCommerce Transaction object describes a single transaction.
          allOf:
            - type: object
              title: Transaction Base
              properties:
                event:
                  type: string
                  description: |
                    Store event that created the transaction.
                  enum:
                    - purchase
                    - authorization
                    - capture
                    - refund
                    - void
                    - pending
                    - settled
                method:
                  type: string
                  description: >
                    The payment method: `credit_card` - a credit-card
                    transaction; `electronic_wallet` - an online wallet;
                    `store_credit` - a transaction using store credit;
                    `gift_certificate` - a transaction using a gift certificate;
                    `custom` - manual payment methods; `token` - payment token;
                    `nonce` - temporary payment token; `offsite` - online
                    payment off the site (e.g., PayPal); `offline` - payment
                    method that takes place offline.
                  enum:
                    - credit_card
                    - electronic_wallet
                    - gift_certificate
                    - store_credit
                    - apple_pay_card
                    - apple_pay_token
                    - token
                    - custom
                    - offsite
                    - offline
                    - nonce
                amount:
                  type: number
                  format: float
                  description: |
                    Amount of money in the transaction.
                currency:
                  type: string
                  format: ISO-4217
                  description: |
                    Currency used for the transaction.
                gateway:
                  type: string
                  description: |
                    The payment gateway, where applicable.
                  enum:
                    - 2checkout
                    - adyen
                    - amazon
                    - authorizenet
                    - bankdeposit
                    - braintree
                    - cheque
                    - cod
                    - custom
                    - firstdatagge4
                    - giftcertificate
                    - hps
                    - instore
                    - klarna
                    - migs
                    - moneyorder
                    - nmi
                    - paypalexpress
                    - paypalpaymentsprous
                    - paypalpaymentsprouk
                    - plugnpay
                    - qbmsv2
                    - securenet
                    - square
                    - storecredit
                    - stripe
                    - testgateway
                    - usaepay
                gateway_transaction_id:
                  description: >
                    The transaction ID returned by the payment gateway for this
                    transaction item.
                  type: string
                date_created:
                  description: |
                    The datetime of the transaction.
                  type: string
                  format: date-time
                test:
                  type: boolean
                  description: >
                    True if the transaction performed was a test, or if the
                    gateway is in test mode.
                status:
                  type: string
                  description: |
                    Status of the transaction.
                  enum:
                    - ok
                    - error
                fraud_review:
                  type: boolean
                  description: |
                    Result of gateway fraud review, if any. Default is `false`.
                reference_transaction_id:
                  type: integer
                  description: >
                    Identifier for an existing transaction upon which this
                    transaction acts.
                offline:
                  type: object
                  description: 'Offline payment (e.g., check or purchase order).'
                  properties:
                    display_name:
                      description: |
                        Display name for the offline payment.
                      type: string
                  title: Offline
                custom:
                  type: object
                  description: Custom payment from manual order.
                  properties:
                    payment_method:
                      description: >
                        Text entered for the payment method in the control
                        panel.
                      type: string
                  title: Custom
                '':
                  type: string
              required:
                - event
                - method
                - amount
                - currency
                - gateway
            - properties:
                id:
                  type: integer
                  description: |
                    Unique identifier for the transaction.
                order_id:
                  type: string
                  description: >
                    Identifier for the BigCommerce Order with which this
                    transaction is associated.
                date_created:
                  description: |
                    The datetime of the transaction.
                  type: string
                  format: date-time
                payment_instrument_token:
                  type: string
                  description: >-
                    This field contains internal BigPay token for stored card
                    that is then mapped to the actual third-party token. We
                    currently do not offer a way to get third party tokens.These
                    tokens are read-only and do not return any information about
                    the payment.
                avs_result:
                  description: >-
                    Address Verification Service (AVS) result from the payment
                    gateway.
                  type: object
                  properties:
                    code:
                      description: AVS code.
                      type: string
                    message:
                      description: AVS message.
                      type: string
                    street_match:
                      description: AVS Code for street matching result.
                      type: string
                    postal_match:
                      description: AVS Code for postal matching result.
                      type: string
                  title: AVS Results
                cvv_result:
                  description: Card Verification Value result from the payment gateway.
                  type: object
                  properties:
                    code:
                      description: CVV code.
                      type: string
                    message:
                      description: CVV message.
                      type: string
                  title: CVV Result
                credit_card:
                  type: object
                  description: A credit-card model.
                  properties:
                    card_type:
                      description: |
                        The credit-card type: Visa, MasterCard, etc.
                      type: string
                    card_iin:
                      description: |
                        The IIN of a credit-card number.
                      type: string
                    card_last4:
                      description: |
                        The last 4 digits of a credit-card number.
                      type: string
                    card_expiry_month:
                      description: |
                        The expiry month of a credit-card.
                      type: integer
                      minimum: 1
                      maximum: 12
                    card_expiry_year:
                      description: |
                        The expiry year of a credit-card.
                      type: integer
                  title: Credit Card
                gift_certificate:
                  type: object
                  description: A gift-certificate model.
                  title: Gift Certificate
                  properties:
                    code:
                      description: |
                        The gift-certificate code.
                      type: string
                      example: MB345
                    original_balance:
                      description: |
                        The balance on a gift certificate when it was purchased.
                      type: number
                      format: float
                      example: 100
                    starting_balance:
                      description: >
                        The balance on a gift certificate at the time of this
                        purchase.
                      type: number
                      format: float
                      example: 100
                    remaining_balance:
                      description: |
                        The remaining balance on a gift certificate.
                      type: number
                      format: float
                      example: 35.42
                    status:
                      description: >
                        The status of a gift certificate: `active` - gift
                        certificate is active; `pending` - gift certificate
                        purchase is pending; `disabled` - gift certificate is
                        disabled; `expired` - gift certificate is expired.
                      type: string
                      enum:
                        - active
                        - pending
                        - disabled
                        - expired
                store_credit:
                  type: object
                  description: |
                    A store credit model.
                  properties:
                    remaining_balance:
                      description: |
                        Remaining balance of shopper's store credit.
                      type: string
          title: Transaction
          type: object
      meta:
        type: object
        description: 'Data about the response, including pagination and collection totals.'
        properties:
          pagination:
            type: object
            description: >-
              Data about the response, including pagination and collection
              totals.
            title: Pagination
            properties:
              total:
                type: integer
                description: |
                  Total number of items in the result set.
                example: 36
              count:
                type: integer
                description: |
                  Total number of items in the collection response.
                example: 36
              per_page:
                type: integer
                description: >
                  The amount of items returned in the collection per page,
                  controlled by the limit parameter.
                example: 50
              current_page:
                type: integer
                description: |
                  The page you are currently on within the collection.
                example: 1
              total_pages:
                type: integer
                description: |
                  The total number of pages in the collection.
                example: 1
              links:
                type: object
                description: >
                  Pagination links for the previous and next parts of the whole
                  collection.
                properties:
                  previous:
                    type: string
                    description: |
                      Link to the previous page returned in the response.
                  current:
                    type: string
                    description: |
                      Link to the current page returned in the response.
                    example: '?page=1&limit=50'
                  next:
                    type: string
                    description: |
                      Link to the next page returned in the response.
        title: Collection Meta
    title: Transaction Collection Response
  Transaction:
    description: A BigCommerce Transaction object describes a single transaction.
    allOf:
      - type: object
        title: Transaction Base
        properties:
          event:
            type: string
            description: |
              Store event that created the transaction.
            enum:
              - purchase
              - authorization
              - capture
              - refund
              - void
              - pending
              - settled
          method:
            type: string
            description: >
              The payment method: `credit_card` - a credit-card transaction;
              `electronic_wallet` - an online wallet; `store_credit` - a
              transaction using store credit; `gift_certificate` - a transaction
              using a gift certificate; `custom` - manual payment methods;
              `token` - payment token; `nonce` - temporary payment token;
              `offsite` - online payment off the site (e.g., PayPal); `offline`
              - payment method that takes place offline.
            enum:
              - credit_card
              - electronic_wallet
              - gift_certificate
              - store_credit
              - apple_pay_card
              - apple_pay_token
              - token
              - custom
              - offsite
              - offline
              - nonce
          amount:
            type: number
            format: float
            description: |
              Amount of money in the transaction.
          currency:
            type: string
            format: ISO-4217
            description: |
              Currency used for the transaction.
          gateway:
            type: string
            description: |
              The payment gateway, where applicable.
            enum:
              - 2checkout
              - adyen
              - amazon
              - authorizenet
              - bankdeposit
              - braintree
              - cheque
              - cod
              - custom
              - firstdatagge4
              - giftcertificate
              - hps
              - instore
              - klarna
              - migs
              - moneyorder
              - nmi
              - paypalexpress
              - paypalpaymentsprous
              - paypalpaymentsprouk
              - plugnpay
              - qbmsv2
              - securenet
              - square
              - storecredit
              - stripe
              - testgateway
              - usaepay
          gateway_transaction_id:
            description: >
              The transaction ID returned by the payment gateway for this
              transaction item.
            type: string
          date_created:
            description: |
              The datetime of the transaction.
            type: string
            format: date-time
          test:
            type: boolean
            description: >
              True if the transaction performed was a test, or if the gateway is
              in test mode.
          status:
            type: string
            description: |
              Status of the transaction.
            enum:
              - ok
              - error
          fraud_review:
            type: boolean
            description: |
              Result of gateway fraud review, if any. Default is `false`.
          reference_transaction_id:
            type: integer
            description: >
              Identifier for an existing transaction upon which this transaction
              acts.
          offline:
            type: object
            description: 'Offline payment (e.g., check or purchase order).'
            properties:
              display_name:
                description: |
                  Display name for the offline payment.
                type: string
            title: Offline
          custom:
            type: object
            description: Custom payment from manual order.
            properties:
              payment_method:
                description: |
                  Text entered for the payment method in the control panel.
                type: string
            title: Custom
          '':
            type: string
        required:
          - event
          - method
          - amount
          - currency
          - gateway
      - properties:
          id:
            type: integer
            description: |
              Unique identifier for the transaction.
          order_id:
            type: string
            description: >
              Identifier for the BigCommerce Order with which this transaction
              is associated.
          date_created:
            description: |
              The datetime of the transaction.
            type: string
            format: date-time
          payment_instrument_token:
            type: string
            description: >-
              This field contains internal BigPay token for stored card that is
              then mapped to the actual third-party token. We currently do not
              offer a way to get third party tokens.These tokens are read-only
              and do not return any information about the payment.
          avs_result:
            description: >-
              Address Verification Service (AVS) result from the payment
              gateway.
            type: object
            properties:
              code:
                description: AVS code.
                type: string
              message:
                description: AVS message.
                type: string
              street_match:
                description: AVS Code for street matching result.
                type: string
              postal_match:
                description: AVS Code for postal matching result.
                type: string
            title: AVS Results
          cvv_result:
            description: Card Verification Value result from the payment gateway.
            type: object
            properties:
              code:
                description: CVV code.
                type: string
              message:
                description: CVV message.
                type: string
            title: CVV Result
          credit_card:
            type: object
            description: A credit-card model.
            properties:
              card_type:
                description: |
                  The credit-card type: Visa, MasterCard, etc.
                type: string
              card_iin:
                description: |
                  The IIN of a credit-card number.
                type: string
              card_last4:
                description: |
                  The last 4 digits of a credit-card number.
                type: string
              card_expiry_month:
                description: |
                  The expiry month of a credit-card.
                type: integer
                minimum: 1
                maximum: 12
              card_expiry_year:
                description: |
                  The expiry year of a credit-card.
                type: integer
            title: Credit Card
          gift_certificate:
            type: object
            description: A gift-certificate model.
            title: Gift Certificate
            properties:
              code:
                description: |
                  The gift-certificate code.
                type: string
                example: MB345
              original_balance:
                description: |
                  The balance on a gift certificate when it was purchased.
                type: number
                format: float
                example: 100
              starting_balance:
                description: >
                  The balance on a gift certificate at the time of this
                  purchase.
                type: number
                format: float
                example: 100
              remaining_balance:
                description: |
                  The remaining balance on a gift certificate.
                type: number
                format: float
                example: 35.42
              status:
                description: >
                  The status of a gift certificate: `active` - gift certificate
                  is active; `pending` - gift certificate purchase is pending;
                  `disabled` - gift certificate is disabled; `expired` - gift
                  certificate is expired.
                type: string
                enum:
                  - active
                  - pending
                  - disabled
                  - expired
          store_credit:
            type: object
            description: |
              A store credit model.
            properties:
              remaining_balance:
                description: |
                  Remaining balance of shopper's store credit.
                type: string
    title: Transaction
    type: object
  CreditCard:
    type: object
    description: A credit-card model.
    properties:
      card_type:
        description: |
          The credit-card type: Visa, MasterCard, etc.
        type: string
      card_iin:
        description: |
          The IIN of a credit-card number.
        type: string
      card_last4:
        description: |
          The last 4 digits of a credit-card number.
        type: string
      card_expiry_month:
        description: |
          The expiry month of a credit-card.
        type: integer
        minimum: 1
        maximum: 12
      card_expiry_year:
        description: |
          The expiry year of a credit-card.
        type: integer
    title: Credit Card
  StoreCredit:
    type: object
    description: |
      A store credit model.
    properties:
      remaining_balance:
        description: |
          Remaining balance of shopper's store credit.
        type: string
  Custom:
    type: object
    description: Custom payment from manual order.
    properties:
      payment_method:
        description: |
          Text entered for the payment method in the control panel.
        type: string
    title: Custom
  Offline:
    type: object
    description: 'Offline payment (e.g., check or purchase order).'
    properties:
      display_name:
        description: |
          Display name for the offline payment.
        type: string
    title: Offline
  GiftCertificate:
    type: object
    description: A gift-certificate model.
    title: Gift Certificate
    properties:
      code:
        description: |
          The gift-certificate code.
        type: string
        example: MB345
      original_balance:
        description: |
          The balance on a gift certificate when it was purchased.
        type: number
        format: float
        example: 100
      starting_balance:
        description: |
          The balance on a gift certificate at the time of this purchase.
        type: number
        format: float
        example: 100
      remaining_balance:
        description: |
          The remaining balance on a gift certificate.
        type: number
        format: float
        example: 35.42
      status:
        description: >
          The status of a gift certificate: `active` - gift certificate is
          active; `pending` - gift certificate purchase is pending; `disabled` -
          gift certificate is disabled; `expired` - gift certificate is expired.
        type: string
        enum:
          - active
          - pending
          - disabled
          - expired
  AVSResult:
    description: Address Verification Service (AVS) result from the payment gateway.
    type: object
    properties:
      code:
        description: AVS code.
        type: string
      message:
        description: AVS message.
        type: string
      street_match:
        description: AVS Code for street matching result.
        type: string
      postal_match:
        description: AVS Code for postal matching result.
        type: string
    title: AVS Results
  CVVResult:
    description: Card Verification Value result from the payment gateway.
    type: object
    properties:
      code:
        description: CVV code.
        type: string
      message:
        description: CVV message.
        type: string
    title: CVV Result
  NoContent:
    description: No-content response for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          204 HTTP status code.
        type: integer
      title:
        description: The error title describing the situation.
        type: string
      type:
        type: string
      instance:
        type: string
    title: No Content
  metaEmpty_Full:
    type: object
    title: metaEmpty_Full
  pagination_Full:
    type: object
    title: pagination_Full
    properties:
      total:
        description: Total number of items in the result set.
        type: integer
        format: int32
      count:
        description: Total number of items in the collection response.
        type: integer
        format: int32
      per_page:
        description: >-
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        type: integer
        format: int32
      current_page:
        description: The page you are currently on within the collection.
        type: integer
        format: int32
      total_pages:
        description: The total number of pages in the collection.
        type: integer
        format: int32
      links:
        $ref: '#/definitions/links_Full'
  metaCollection_Full:
    type: object
    title: metaCollection_Full
    properties:
      pagination:
        $ref: '#/definitions/pagination_Full'
  links_Full:
    type: object
    properties:
      previous:
        type: string
        description: |
          Link to the previous page returned in the response.
      current:
        type: string
        description: |
          Link to the current page returned in the response.
        example: '?page=1&limit=50'
      next:
        type: string
        description: |
          Link to the next page returned in the response.
    title: links_Full
  error_Full:
    type: object
    title: error_Full
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
  errorDetailed_Full:
    type: object
    properties:
      errors:
        type: object
        additionalProperties:
          type: string
        title: DetailedErrors
    title: errorDetailed_Full
responses:
  502_GatewayError:
    description: >-
      If something happens during the request that causes it to fail, a 502
      response will be returned. A new request should be made; however, it could
      fail.
    schema:
      $ref: '#/definitions/error_Full'
    examples:
      application/json:
        status: 502
        title: A login URL could not be generated. Please try another request.
        type: 'https://developer.bigcommerce.com/api#api-status-codes'
  504_GatewayTimeout:
    description: >-
      If this occurs, you should retry the request. Typically retrying the
      request several times will result in a successful request; However, if you
      are unable to successfully make a request, please check the BigCommerce
      system status [here](https://status.bigcommerce.com/). A service is likely
      down and the request will need to be made again when it is back up (in
      several hours usually)
    schema:
      $ref: '#/definitions/errorDetailed_Full'
    examples:
      application/json:
        status: 504
        title: Gateway Timeout
        type: 'https://developer.bigcommerce.com/api#api-status-codes'
        errors: {}
  403_Unauthorized:
    description: ''
    schema:
      $ref: '#/definitions/error_Full'
    examples:
      application/json:
        status: 403
        title: Unauthorized Access. You do not have permission to make this request.
        type: 'https://developer.bigcommerce.com/api#api-status-codes'
  400_BadRequest:
    description: |-
      Malformed request syntax. Typically need to fix the JSON
      Body to resend successfully.
    schema:
      $ref: '#/definitions/error_Full'
    examples:
      application/json:
        status: 400
        title: Input is invalid.
        type: 'https://developer.bigcommerce.com/api#api-status-codes'
  404_NotFound:
    description: >-
      If the requested account resource is not found for the franchise, return a
      404 Not Found.
    schema:
      $ref: '#/definitions/error_Full'
    examples:
      application/json:
        status: 404
        title: 'Account with {id} not found'
        type: 'https://developer.bigcommerce.com/api#api-status-codes'
  422_UnprocessableEntity:
    description: >-
      This occurs when missing or unacceptable data is passed for one or more
      fields. Please correct the values for the fields listed in the errors
      object.
    schema:
      $ref: '#/definitions/errorDetailed_Full'
    examples:
      application/json:
        status: 422
        title: JSON data is missing or invalid
        type: 'https://developer.bigcommerce.com/api#api-status-codes'
        errors:
          name: error.expected.jsstring
          primary_contact.district: error.expected.jsstring.
  503_ServiceUnavailable:
    description: >-
      If this occurs, you should retry the request. If you are unable to
      successfully make a request, please check the BigCommerce system status
      [here](https://status.bigcommerce.com/). A service is likely down and the
      request will need to be made again when it is back up (in several hours
      usually)
    schema:
      $ref: '#/definitions/error_Full'
    examples:
      application/json:
        status: 503
        title: Service Unavailable
        type: 'https://developer.bigcommerce.com/api#api-status-codes'
  paymentActionsCapture_Resp:
    description: ''
    schema:
      type: object
      properties: {}
  paymentActionsVoid_Resp:
    description: ''
    schema:
      type: object
      properties: {}
  201_Acknowledged:
    description: Request acknowledged.
    schema:
      type: object
      properties: {}
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
