swagger: '2.0'
info:
  title: BigCommerce Common Models
  version: ''
  description: ''
  contact:
    url: 'https://developer.bigcommerce.com'
    name: BigCommerce Developer Documentation
  license:
    name: ''
  termsOfService: ''
host: api.bigcommerce.com
paths:
  /example:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties: {}
      description: >-
        ## OAuth Scopes

        | UI Name                                      | Permission |
        Parameter                                     |

        |----------------------------------------------|------------|-----------------------------------------------|

        | Carts                                        | modify     |
        `store_cart`                                  |

        | Carts                                        | read-only  |
        `store_cart_read_only`                        |

        | Channel Listings                             | modify     |
        `store_channel_listings`                      |

        | Channel Listings                             | read-only  |
        `store_channel_listings_read_only`            |

        | Channel Settings                             | modify     |
        `store_channel_settings`                      |

        | Channel Settings                             | read-only  |
        `store_channel_settings_read_only`            |

        | Checkout Content                             | modify     |
        `store_content_checkout`                      |

        | Checkout Content                             | read-only  |
        `store_content_checkout_read_only`            |

        | Checkouts                                    | modify     |
        `store_checkout`                              |

        | Checkouts                                    | read-only  |
        `store_checkout_read_only`                    |

        | Content                                      | modify     |
        `store_v2_content`                            |

        | Content                                      | read-only  |
        `store_v2_content_read_only`                  |

        | Create Payments                              | create     |
        `store_payments_access_token_create`          |

        | Customer Login                               | login      |
        `store_v2_customers_login`                    |

        | Customers                                    | modify     |
        `store_v2_customers_login`                    |

        | Customers                                    | read-only  |
        `store_v2_customers_login_read_only`          |

        | Get Payment Methods                          | read-only  |
        `store_payments_methods_read`                 |

        | Information & Settings                       | modify     |
        `store_v2_information`                        |

        | Information & Settings                       | read-only  |
        `store_v2_information_read_only`              |

        | Marketing                                    | modify     |
        `store_v2_marketing`                          |

        | Marketing                                    | read-only  |
        `store_v2_marketing_read_only`                |

        | Order Transactions                           | modify     |
        `store_v2_transactions`                       |

        | Order Transactions                           | read-only  |
        `store_v2_transactions_read_only`             |

        | Orders                                       | modify     |
        `store_v2_orders`                             |

        | Orders                                       | read-only  |
        `store_v2_orders_read_only`                   |

        | Products                                     | modify     |
        `store_v2_products`                           |

        | Products                                     | read-only  |
        `store_v2_products_read_only`                 |

        | Sites & Routes                               | modify     |
        `store_sites`                                 |

        | Sites & Routes                               | read-only  |
        `store_sites_read_only`                       |

        | Storefront API Customer Impersonation Tokens | manage     |
        `store_storefront_api_customer_impersonation` |

        | Storefront API Tokens                        | manage     |
        `store_storefront_api`                        |

        | Themes                                       | modify     |
        `store_themes_manage`                         |


        ## Usage Notes


        **Topic**

        * thing

        * thing

        * thing


        **Topic**

        * thing

        * thing

        * thing
      summary: Get a Thing
      tags:
        - Example
      operationId: getExample
definitions:
  _metaEmpty:
    type: object
    title: _metaEmpty
  _pagination:
    type: object
    title: _pagination
    properties:
      total:
        description: Total number of items in the result set.
        type: integer
        format: int32
      count:
        description: Total number of items in the collection response.
        type: integer
        format: int32
      per_page:
        description: >-
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        type: integer
        format: int32
      current_page:
        description: The page you are currently on within the collection.
        type: integer
        format: int32
      total_pages:
        description: The total number of pages in the collection.
        type: integer
        format: int32
      links:
        $ref: '#/definitions/_links'
  _metaCollection:
    type: object
    title: _metaCollection
    properties:
      pagination:
        $ref: '#/definitions/_pagination'
  _links:
    type: object
    properties:
      previous:
        type: string
        description: |
          Link to the previous page returned in the response.
      current:
        type: string
        description: |
          Link to the current page returned in the response.
        example: '?page=1&limit=50'
      next:
        type: string
        description: |
          Link to the next page returned in the response.
    title: _links
  response_defaultError:
    allOf:
      - $ref: '#/definitions/_errorBase'
      - $ref: '#/definitions/_errorDetailed'
    title: response_defaultError
  _errorBase:
    type: object
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: _errorBase
  response_404:
    type: object
    properties:
      status:
        description: |
          404 HTTP status code.
        type: integer
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: response_404
  _errorDetailed:
    type: object
    properties:
      errors:
        type: object
        additionalProperties:
          type: string
        title: DetailedErrors
  _responseHeaders:
    type: object
    properties:
      Date:
        type: string
        description: The date the response was sent.
        example: 'Tue, 15 Nov 2011 12:45:26 GMT'
      last-modified:
        type: string
        description: >-
          The date the resource was last modified. Please refer to the
          individual resource pages for support for this header.
        example: 'Tue, 15 Nov 2011 12:45:26 GMT'
      Content-Type:
        type: string
        description: >-
          The MIME type of the response, dependent on the extension of the
          endpoint that was requested.
        example: application/json
      Content-Location:
        type: string
        description: Sent if the request was redirected.
        example: /api/v2/orders/5.json
      Location:
        type: string
        description: The URI of a newly created resource. Sent with a 201 Created response.
        example: /api/v2/products/7
      X-Retry-After:
        type: integer
        description: >-
          Rate limited response, indicating the number of seconds before the
          quota refreshes. See Rate Limits for more information.
        example: '15'
      X-BC-ApiLimit-Remaining:
        type: integer
        description: >-
          The number of API requests remaining for the current period (rolling
          one hour). See Rate Limits for more information.
        example: '987'
      X-BC-Store-Version:
        type: string
        description: >-
          The version of BigCommerce the store is running on. This header is
          available on versions 7.3.6+.
        example: 7.3.6
      Content-Encoding:
        type: string
        description: >-
          Allows API clients to request content to be compressed before being
          sent back in the response to an API request.
        example: gzip
      Transfer-Encoding:
        type: string
        description: Specifies the form of encoding used to transfer the resource.
        example: chunked
      X-Rate-Limit-Requests-Left:
        type: integer
        description: >-
          Details how many remaining requests your client can make in the
          current window before being rate-limited. In this case, you would
          expect to be able to make 6 more requests in the next 3000
          milliseconds; on the 7th request within 3000 milliseconds, you would
          be rate-limited and would receive an HTTP 429 response.
        example: '16101491'
      X-Rate-Limit-Requests-Quota:
        type: integer
        description: >-
          Shows how many API requests are allowed in the current window for your
          client.
        example: '16101495'
      X-Rate-Limit-Time-Reset-Ms:
        type: integer
        description: >-
          Shows how many milliseconds are remaining in the window. In this case,
          3000 milliseconds – so, 3000 milliseconds after this request, the API
          quota will be refreshed.
        example: '30000'
      X-Rate-Limit-Time-Window-Ms:
        type: integer
        description: Shows the size of your current rate-limiting window.
        example: '9762'
    title: _responseHeaders
  _requestHeaders:
    type: object
    properties:
      Accept:
        type: >-
          application/json (for .json requests) application/xml (for .xml
          requests)
        description: The MIME type for the format you want to receive a response in.
        example: application/xml
      Content-Type:
        type: >-
          application/json (for JSON requests) application/xml (for XML
          requests)
        description: >-
          The MIME type of the request body. Used to validate and parse the
          request to the API.
        example: application/json
      User-Agent:
        type: String
        description: >-
          While it is not required, we ask that you specify a user agent which
          identifies your integration/client with your requests.
        example: ''
      X-Auth-Client:
        type: String
        description: Client ID of the requesting app
        example: ''
      X-Auth-Token:
        type: String
        description: >-
          Access token authorizing the app to access resources on behalf of a
          user
        example: ''
    title: _requestHeaders
  _availableAPIs:
    type: object
    title: _availableAPIs
    properties:
      Banners:
        description: >-
          Create and manage store banners


          **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/banners`


          **Scopes:** `store_v2_marketing`
      Blog Posts:
        description: >-
          Create and manage store blog posts| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/blog/posts`
          | **Scopes:** `store_v2_content`
      Blog Tags:
        description: >-
          Create and manage store blog tags| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/blog/tags`
          | **Scopes:** `store_v2_content`
      Brand Images:
        description: >-
          Create and manage brand images| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/brands/{id}/images`
          | **Scopes:** `store_v2_products`
      Brand Metafields:
        description: >-
          Create and manage brand metafields| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/brands/{id}/metafields`
          | **Scopes:** `store_v2_products`
      Brands:
        description: >-
          Create and manage brands| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/brands`
          | **Scopes:** `store_v2_products`
      Carts:
        description: >-
          Create an manage store carts| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/carts` |
          **Scopes:** `store_cart`
      Catalog:
        description: >-
          Create and manage store categories, products, and brands| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/catalog` |
          **Scopes:** `store_v2_products`
      Categories:
        description: >-
          Create and manage categorties| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/categories`
          | **Scopes:** `store_v2_products`
      Category Images:
        description: >-
          Create and manage category images| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/categories/{id}/images`
          | **Scopes:** `store_v2_products`
      Category Metafields:
        description: >-
          Create and manage category metafields| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/categories/{id}/metafields`
          | **Scopes:** `store_v2_products`
      Channels:
        description: >-
          Create and manage catalog listings and channels| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/channels` |
          **Scopes:** `store_channel_listings`
      Checkouts:
        description: >-
          Create checkouts for a store| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/checkouts`
          | **Scopes:** `store_checkout`
      Coupons:
        description: >-
          Create and manage store coupons| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/coupons` |
          **Scopes:** `store_v2_marketing`
      Currenies:
        description: >-
          Create and manage store currencies and their display| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/currencies`
          | **Scopes:** `store_v2_information`
      Current Customer:
        description: >-
          Identify customer's on the front-end securely| **Path**:
          `https://{$$.env.store_domain}/current/customer.jwt` | **Scopes:**
          `store_v2_customers_login`
      Customer Login:
        description: >-
          Use JWT & SSO to login a customer| **Path**:
          `https://{$$.env.store_domain}/login/token/{token}` | **Scopes:**
          `store_v2_customers_login`
      Customers Attribute Values:
        description: >-
          Create and manage customer attribute values| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/customers/attribute-values`
          | **Scopes:** `store_v3_customers`
      Customers Attributes:
        description: >-
          Create and manage customer attributes| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/customers/attributes`
          | **Scopes:** `store_v2_customers`
      Customers Form Field Values:
        description: >-
          Create an manage customer form field values| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/customers/form-field-values

          ` | **Scopes:** `store_v2_customers`
      Customers Groups:
        description: >-
          Create and manage customer groups| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/customer_groups`
          | **Scopes:** `store_v2_customers`
      Customers v2:
        description: >-
          Create and manage  customers and their addresses| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/customers`
          | **Scopes:** `store_v2_customers`
      Customers v3:
        description: >-
          Create and manage customers and their addresses| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/customers`
          | **Scopes:** `store_v3_customers`
      Customers Validate Password:
        description: >-
          Validate customer passwords| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/customers/{id}/validate`
          | **Scopes:** `store_v2_customers`
      Geography:
        description: >-
          Get a list of states, provincies, and countries| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/countries`
          | **Scopes:** `store_v2_information`
      Gift Certificates:
        description: >-
          Manage gift certificates| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/gift_certificates`
          | **Scopes:** `store_v2_marketing`
      Order Transactions:
        description: >-
          View order payment information| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/orders{id}/transactions`
          | **Scopes:** `store_v2_transactions`
      Orders:
        description: >-
          Create and manage orders| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/orders` |
          **Scopes:** `store_v2_orders`
      Pages:
        description: >-
          Create and manage store content pages| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/pages` |
          **Scopes:** `store_v2_content`
      Payment Methods:
        description: >-
          Get a store's enabled payment methods| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/payments/methods`
          | **Scopes:** `store_v2_information`
      Payment Processing:
        description: >-
          Process payments on orders and checkouts| **Path**:
          `https://payments.bigcommerce.com/stores/{$$.env.store_hash}/payments`
          | **Scopes:** `store_payments_access_token_create`
      Payment Processing Methods:
        description: >-
          Get order payment methods for processing| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/payments/methods`
          | **Scopes:** `store_payments_methods_read`
      Payment Processing Token:
        description: >-
          Get an access token for payment processing| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/payments/accsess_tokens`
          | **Scopes:** `store_payments_access_token_create`
      Price List Records:
        description: >-
          Create and manage price list records| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/pricelists/records`
          | **Scopes:** `store_v2_products`
      Price Lists:
        description: >-
          Create and manage catalog pricing variations| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/pricelists`
          | **Scopes:** `store_v2_products`
      Product Bulk Pricing Rules:
        description: >-
          Create and manage product bulk pricing rules| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/buld-pricing-rules`
          | **Scopes:** `store_v2_products`
      Product Complex Rules:
        description: >-
          Create and manage product complex rules| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/complex-rules`
          | **Scopes:** `store_v2_products`
      Product Custom Fields:
        description: >-
          Create and manage product custom fields| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/custom-fields`
          | **Scopes:** `store_v2_products`
      Product Images:
        description: >-
          Create and manage product images| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/images`
          | **Scopes:** `store_v2_products`
      Product Metafields:
        description: >-
          Create and manage product meta fields| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/metafields`
          | **Scopes:** `store_v2_products`
      Product Modifier Images:
        description: >-
          Create and manage product modifer images| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/modifiers/{id}/images`
          | **Scopes:** `store_v2_products`
      Product Modifier Values:
        description: >-
          Create and manage product modifier values| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/modifers/{id}/values`
          | **Scopes:** `store_v2_products`
      Product Modifiers:
        description: >-
          Create and manage product midifiers| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/modifiers`
          | **Scopes:** `store_v2_products`
      Product Reviews:
        description: >-
          Create and manage product reviews| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/reviews`
          | **Scopes:** `store_v2_products`
      Product Variant Option Values:
        description: >-
          Create and manage product variant option values| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/options/{id}/values`
          | **Scopes:** `store_v2_products`
      Product Variant Options:
        description: >-
          Create and manage product variant options| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/options`
          | **Scopes:** `store_v2_products`
      Product Variants:
        description: >-
          Create and manage product variants| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/variants`
          | **Scopes:** `store_v2_products`
      Product Videos:
        description: >-
          Create and manage product videos| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/videos`
          | **Scopes:** `store_v2_products`
      Products:
        description: >-
          Create and manage products| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products`
          | **Scopes:** `store_v2_products`
      ProductVariant Metafields:
        description: >-
          Create and manage product meta flields| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/products/{id}/variants/{id}/metafields`
          | **Scopes:** `store_v2_products`
      Redirects:
        description: >-
          Manage a store's URL redirects| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/redirects`
          | **Scopes:** `store_v2_content`
      Scripts:
        description: >-
          Add client-side code to a store| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/content/scripts`
          | **Scopes:** `store_v2_content`
      Shipping:
        description: >-
          Create and manage a store's shipping methods and zones.| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/shipping` |
          **Scopes:** `store_v2_information`
      Shipping Carriers:
        description: >-
          Create and manage shipping carriers| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/shipping` |
          **Scopes:** `store_v2_information`
      Shipping Methods:
        description: >-
          Create and manage shipping methods| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/shipping` |
          **Scopes:** `store_v2_information`
      Shipping Poviders Connection Options:
        description: >-
          Specification for creating an external shipping carrier service|
          **Path**: `https://{provider_doman}/check_connection_options` |
          **Scopes:** `n/a`
      Shipping Provider Rate Request:
        description: >-
          Specification for creating an external shipping carrier service|
          **Path**: `https://{provider_domain}/rate` | **Scopes:** `n/a`
      Shipping Zones:
        description: >-
          Create and manage shipping zones| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v4/shipping` |
          **Scopes:** `store_v2_information`
      Sites:
        description: >-
          Manage sites and routing for headless storefronts| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/Sites` |
          **Scopes:** `store_sites`
      Store Infomation:
        description: >-
          Get store metadata| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/store` |
          **Scopes:** `store_v2_information`
      Storefront API Token:
        description: >-
          Create Auth Tokens for use with Storefront APIs| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/api-token`
          | **Scopes:** `store_storefront_api`
      Storefront Carts:
        description: >-
          Create and get carts on the front-end| **Path**:
          `https://{$$.env.store_domain}/api/storefront//carts` | **Scopes:**
          `store_storefront_api`
      Storefront Checkouts:
        description: >-
          Create and get checkouts on the front-end| **Path**:
          `https://{$$.env.store_domain}/api/storefront//checkouts` |
          **Scopes:** `store_storefront_api`
      Storefront Customer Impersonation Token:
        description: >-
          Create a storefront API token for customer impersonation| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/api-token-customer-impersonation`
          | **Scopes:** `store_storefront_api_customer_impersonation`
      Storefront Orders:
        description: >-
          Get order data on the front-end after order is palced| **Path**:
          `https://{$$.env.store_domain}/api/storefront//orders` | **Scopes:**
          `store_storefront_api`
      Subscribers:
        description: >-
          Create and manage store newsletter subscribers| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/customers/subscribers`
          | **Scopes:** `store_v2_customers`
      Tax Class:
        description: >-
          Get a store's available tax classes| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/tax_classes`
          | **Scopes:** `store_v2_information`
      Themes:
        description: >-
          Create and manage store theme's| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/themes` |
          **Scopes:** `store_themes_manage`
      Time Zone:
        description: >-
          Get store system timestamp| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/time` |
          **Scopes:** `store_v2_information`
      Variants:
        description: >-
          Get and update all variants| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/catalog/variants`
          | **Scopes:** `store_v2_products`
      Webhooks:
        description: >-
          Manage store Webhooks| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/hooks` |
          **Scopes:** `default`
      Widgets:
        description: >-
          Create and manage store widgets| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/content/widgets`
          | **Scopes:** `store_v2_content`
      Widgets Placements:
        description: >-
          Place, move, and remove store widgets| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/content/placements`
          | **Scopes:** `store_v2_content`
      Widgets Regions:
        description: >-
          Get list of regions widgets can be placed for a specified template
          file| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/content/regions`
          | **Scopes:** `store_v2_content`
      Widgets Templates:
        description: >-
          Create and manage widget templates| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v2/content/widget-templates`
          | **Scopes:** `store_v2_content`
      Wishlist:
        description: >-
          Create and manage customer wishlists| **Path**:
          `https://api.bigcommerce.com/stores/{$$.env.store_hash}/v3/wishlists`
          | **Scopes:** `store_v2_customers`
schemes:
  - https
parameters:
  Accept:
    in: header
    type: string
    name: Accept
    default: application/json
    required: true
    description: Accept
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
    description: Content-Type
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Accept: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).
  X-Auth-Token:
    type: apiKey
    in: header
    description: >-
      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Accept: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication)
    name: X-Auth-Token
  OAuth:
    type: oauth2
    flow: application
    tokenUrl: 'https://login.bigcommerce.com/oauth2/token'
    description: >-
      ## Request Headers


      API requests are authenticated by the following HTTP headers:


      * `X-Auth-Client` -- The Client ID of the requesting app. 

      * `X-Auth-Token` -- Access token authorizing an app to access store data
      on behalf of a user.


      In addition, while not all resources require the Accept and Content-Type
      headers, many do. To ensure that your calls succeed, always include these
      headers. For more details on request headers and their accepted values,
      see [Request
      Headers](https://developer.bigcommerce.com/api-docs/getting-started/about-our-api#request-headers).


      `https://login.bigcommerce.com/oauth2/token`


      ### Request


      ```http

      POST /oauth2/token HTTP/1.1

      Host: login.bigcommerce.com

      Content-Type: application/x-www-form-urlencoded

      Content-Length: 186

      client_id={CLIENT_ID}&client_secret={CLIENT_SECRET}&code=qr6h3thvbvag2ffq&scope=store_v2_orders&grant_type=authorization_code&redirect_uri=https://app.example.com/oauth&context=stores/{STORE_HASH}

      ```


      ### Response


      ```json

      {
        "access_token": "ACCESS_TOKEN",
        "scope": "store_v2_orders",
        "user": {
          "id": 24654,
          "email": "merchant@mybigcommerce.com"
        },
        "context": "stores/STORE_HASH"
      }

      ```
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
consumes: []
produces: []
basePath: '/stores/{$$.env.store_hash}/v3'
tags:
  - name: Example
