swagger: '2.0'
info:
  title: BigCommerce Common Models
  version: ''
  description: ''
  contact:
    url: 'https://developer.bigcommerce.com'
    name: BigCommerce Developer Documentation
  license:
    name: ''
  termsOfService: ''
host: api.bigcommerce.com
paths:
  /example:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties: {}
      description: >-
        ## OAuth Scopes

        | UI Name                                      | Permission |
        Parameter                                     |

        |----------------------------------------------|------------|-----------------------------------------------|

        | Carts                                        | modify     |
        `store_cart`                                  |

        | Carts                                        | read-only  |
        `store_cart_read_only`                        |

        | Channel Listings                             | modify     |
        `store_channel_listings`                      |

        | Channel Listings                             | read-only  |
        `store_channel_listings_read_only`            |

        | Channel Settings                             | modify     |
        `store_channel_settings`                      |

        | Channel Settings                             | read-only  |
        `store_channel_settings_read_only`            |

        | Checkout Content                             | modify     |
        `store_content_checkout`                      |

        | Checkout Content                             | read-only  |
        `store_content_checkout_read_only`            |

        | Checkouts                                    | modify     |
        `store_checkout`                              |

        | Checkouts                                    | read-only  |
        `store_checkout_read_only`                    |

        | Content                                      | modify     |
        `store_v2_content`                            |

        | Content                                      | read-only  |
        `store_v2_content_read_only`                  |

        | Create Payments                              | create     |
        `store_payments_access_token_create`          |

        | Customer Login                               | login      |
        `store_v2_customers_login`                    |

        | Customers                                    | modify     |
        `store_v2_customers_login`                    |

        | Customers                                    | read-only  |
        `store_v2_customers_login_read_only`          |

        | Get Payment Methods                          | read-only  |
        `store_payments_methods_read`                 |

        | Information & Settings                       | modify     |
        `store_v2_information`                        |

        | Information & Settings                       | read-only  |
        `store_v2_information_read_only`              |

        | Marketing                                    | modify     |
        `store_v2_marketing`                          |

        | Marketing                                    | read-only  |
        `store_v2_marketing_read_only`                |

        | Order Transactions                           | modify     |
        `store_v2_transactions`                       |

        | Order Transactions                           | read-only  |
        `store_v2_transactions_read_only`             |

        | Orders                                       | modify     |
        `store_v2_orders`                             |

        | Orders                                       | read-only  |
        `store_v2_orders_read_only`                   |

        | Products                                     | modify     |
        `store_v2_products`                           |

        | Products                                     | read-only  |
        `store_v2_products_read_only`                 |

        | Sites & Routes                               | modify     |
        `store_sites`                                 |

        | Sites & Routes                               | read-only  |
        `store_sites_read_only`                       |

        | Storefront API Customer Impersonation Tokens | manage     |
        `store_storefront_api_customer_impersonation` |

        | Storefront API Tokens                        | manage     |
        `store_storefront_api`                        |

        | Themes                                       | modify     |
        `store_themes_manage`                         |


        ## Usage Notes


        **Topic**

        * thing

        * thing

        * thing


        **Topic**

        * thing

        * thing

        * thing
      summary: Get a Thing
      tags:
        - Example
      operationId: getExample
definitions:
  _metaEmpty:
    type: object
    title: _metaEmpty
  _pagination:
    type: object
    title: _pagination
    properties:
      total:
        description: Total number of items in the result set.
        type: integer
        format: int32
      count:
        description: Total number of items in the collection response.
        type: integer
        format: int32
      per_page:
        description: >-
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        type: integer
        format: int32
      current_page:
        description: The page you are currently on within the collection.
        type: integer
        format: int32
      total_pages:
        description: The total number of pages in the collection.
        type: integer
        format: int32
      links:
        $ref: '#/definitions/_links'
  _metaCollection:
    type: object
    title: _metaCollection
    properties:
      pagination:
        $ref: '#/definitions/_pagination'
  _links:
    type: object
    properties:
      previous:
        type: string
        description: |
          Link to the previous page returned in the response.
      current:
        type: string
        description: |
          Link to the current page returned in the response.
        example: '?page=1&limit=50'
      next:
        type: string
        description: |
          Link to the next page returned in the response.
    title: _links
  response_defaultError:
    allOf:
      - $ref: '#/definitions/_errorBase'
      - $ref: '#/definitions/_errorDetailed'
    title: response_defaultError
    description: Error message.
  _errorBase:
    type: object
    properties:
      status:
        description: |
          The HTTP status code.
        type: integer
      title:
        description: |
          The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: _errorBase
  response_404:
    description: Error payload for the BigCommerce API.
    type: object
    properties:
      status:
        description: |
          404 HTTP status code.
        type: integer
      title:
        description: The error title describing the particular error.
        type: string
      type:
        type: string
      instance:
        type: string
    title: response_404
  _errorDetailed:
    type: object
    properties:
      errors:
        type: object
        additionalProperties:
          type: string
        title: DetailedErrors
schemes:
  - https
parameters:
  Accept:
    in: header
    type: string
    name: Accept
    default: application/json
    required: true
    description: Accept
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
    description: Content-Type
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Accept: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).
  X-Auth-Token:
    type: apiKey
    in: header
    description: >-
      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Accept: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication)
    name: X-Auth-Token
  OAuth:
    type: oauth2
    flow: application
    tokenUrl: 'https://login.bigcommerce.com/oauth2/token'
    description: >-
      ## Request Headers


      API requests are authenticated by the following HTTP headers:


      * `X-Auth-Client` -- The Client ID of the requesting app. 

      * `X-Auth-Token` -- Access token authorizing an app to access store data
      on behalf of a user.


      In addition, while not all resources require the Accept and Content-Type
      headers, many do. To ensure that your calls succeed, always include these
      headers. For more details on request headers and their accepted values,
      see [Request
      Headers](https://developer.bigcommerce.com/api-docs/getting-started/about-our-api#request-headers).


      `https://login.bigcommerce.com/oauth2/token`


      ### Request


      ```http

      POST /oauth2/token HTTP/1.1

      Host: login.bigcommerce.com

      Content-Type: application/x-www-form-urlencoded

      Content-Length: 186

      client_id={CLIENT_ID}&client_secret={CLIENT_SECRET}&code=qr6h3thvbvag2ffq&scope=store_v2_orders&grant_type=authorization_code&redirect_uri=https://app.example.com/oauth&context=stores/{STORE_HASH}

      ```


      ### Response


      ```json

      {
        "access_token": "ACCESS_TOKEN",
        "scope": "store_v2_orders",
        "user": {
          "id": 24654,
          "email": "merchant@mybigcommerce.com"
        },
        "context": "stores/STORE_HASH"
      }

      ```
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
consumes: []
produces: []
basePath: '/stores/{$$.env.store_hash}/v3'
tags:
  - name: Example
