swagger: '2.0'
info:
  title: BigCommerce API
  version: 3.0.0b
  description: A Swagger Document for the BigCommmerce v3 API.
  termsOfService: 'http://www.bigcommerce.com/terms'
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
tags:
  - name: Catalog
    description: BigCommerce Catalog API Definition.
  - name: Brands
    description: Testing
  - name: Bulk Pricing Rules
  - name: Category
  - name: Complex Rules
  - name: Customers
    description: BigCommerce Customers API Definition.
  - name: Products
  - name: Price Lists
    description: BigCommerce Price Lists API Definition.
  - name: Orders
    description: BigCommerce Orders API Definition.
  - name: Themes
    description: BigCommerce Themes API Definition.
  - name: Widget Template
    description: BigCommerce Widget Templates API Definition.
  - name: Widget
    description: BigCommerce Widgets API Definition.
  - name: Placement
    description: BigCommerce Placements API Definition.
  - name: Script
    description: BigCommerce Scripts API Definition.
  - name: PriceLists
  - name: Legacy
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /catalog/products:
    get:
      description: >-
        Get all products from your BigCommerce catalog. Optional parameters can
        be passed in.
      operationId: getProducts
      parameters:
        - $ref: '#/parameters/FilterIdParam'
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterSkuParam'
        - $ref: '#/parameters/FilterUpcParam'
        - $ref: '#/parameters/FilterPriceParam'
        - $ref: '#/parameters/FilterWeightParam'
        - $ref: '#/parameters/FilterConditionParam'
        - $ref: '#/parameters/FilterBrandIdParam'
        - $ref: '#/parameters/FilterDateModifiedParam'
        - $ref: '#/parameters/FilterDateLastImportedParam'
        - $ref: '#/parameters/FilterIsVisibleParam'
        - $ref: '#/parameters/FilterIsFeaturedParam'
        - $ref: '#/parameters/FilterIsFreeShippingParam'
        - $ref: '#/parameters/FilterInventoryLevelParam'
        - $ref: '#/parameters/FilterInventoryLowParam'
        - $ref: '#/parameters/FilterOutOfStockParam'
        - $ref: '#/parameters/FilterTotalSoldParam'
        - $ref: '#/parameters/ProductFilterTypeParam'
        - $ref: '#/parameters/FilterCategoriesParam'
        - $ref: '#/parameters/ProductFilterKeywordParam'
        - $ref: '#/parameters/ProductFilterKeywordContextParam'
        - $ref: '#/parameters/FilterStatusParam'
        - $ref: '#/parameters/FilterIncludeParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/FilterAvailabilityParam'
        - $ref: '#/parameters/FilterPriceListIdParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/DirectionParam'
        - $ref: '#/parameters/ProductSortParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: >-
            This example sorts the results by name, included the variants and
            limits the number per page to 10.
            `/v3/catalog/products?sort=name&include=variants&limit=10`
          schema:
            $ref: '#/definitions/ProductCollectionResponse'
          examples:
            application/json:
              data:
                - id: 174
                  name: 1L Le Parfait Jar
                  type: physical
                  sku: ''
                  description: >-
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Morbi vel metus ac est egestas porta sed quis erat.
                    Integer id nulla massa. Proin vitae enim nisi. Praesent non
                    dignissim nulla. Nulla mattis id massa ac pharetra. Mauris
                    et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum
                    quis leo sit amet, rutrum volutpat metus. Curabitur libero
                    nunc, interdum ac libero non, tristique porttitor metus. Ut
                    non dignissim lorem, in vestibulum leo. Vivamus sodales quis
                    turpis eget.</span></p>
                  weight: 1
                  width: 0
                  depth: 0
                  height: 0
                  price: 7.95
                  cost_price: 0
                  retail_price: 10
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 7.95
                  categories:
                    - 23
                    - 21
                  brand_id: 36
                  option_set_id: null
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 7
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: 'jar, glass'
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:46+00:00'
                  date_modified: '2018-09-05T20:42:07+00:00'
                  view_count: 10
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/1l-le-parfait-jar/
                    is_customized: true
                  base_variant_id: 345
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 345
                      product_id: 174
                      sku: ''
                      sku_id: null
                      price: 7.95
                      calculated_price: 7.95
                      sale_price: 0
                      retail_price: 10
                      map_price: 0
                      weight: 1
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 1
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: >-
                        https://cdn8.bigcommerce.com/s-jrah6gmn/products/174/images/425/leparfaitmedium3_1024x1024_1024x1024__37756__81924.1534344526.560.850.jpg?c=2
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
                - id: 167
                  name: Able Brewing System
                  type: physical
                  sku: ''
                  description: >-
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Morbi vel metus ac est egestas porta sed quis erat.
                    Integer id nulla massa. Proin vitae enim nisi. Praesent non
                    dignissim nulla. Nulla mattis id massa ac pharetra. Mauris
                    et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum
                    quis leo sit amet, rutrum volutpat metus. Curabitur libero
                    nunc, interdum ac libero non, tristique porttitor metus. Ut
                    non dignissim lorem, in vestibulum leo. Vivamus sodales quis
                    turpis eget.</span></p>
                  weight: 1
                  width: 0
                  depth: 0
                  height: 0
                  price: 225
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 225
                  categories:
                    - 23
                    - 21
                  brand_id: 43
                  option_set_id: 52
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 2
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:36+00:00'
                  date_modified: '2018-08-20T15:11:17+00:00'
                  view_count: 21
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/able-brewing-system/
                    is_customized: true
                  base_variant_id: 338
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 338
                      product_id: 167
                      sku: ''
                      sku_id: null
                      price: 225
                      calculated_price: 225
                      sale_price: 0
                      retail_price: 0
                      map_price: 0
                      weight: 1
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 1
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: >-
                        https://cdn8.bigcommerce.com/s-jrah6gmn/products/167/images/398/ablebrewingsystem4_1024x1024__07155__93974.1534344516.560.850.jpg?c=2
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
                - id: 181
                  name: All Purpose Cleaner
                  type: physical
                  sku: ''
                  description: >-
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Morbi vel metus ac est egestas porta sed quis erat.
                    Integer id nulla massa. Proin vitae enim nisi. Praesent non
                    dignissim nulla. Nulla mattis id massa ac pharetra. Mauris
                    et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum
                    quis leo sit amet, rutrum volutpat metus. Curabitur libero
                    nunc, interdum ac libero non, tristique porttitor metus. Ut
                    non dignissim lorem, in vestibulum leo. Vivamus sodales quis
                    turpis eget.</span></p>
                  weight: 1
                  width: 0
                  depth: 0
                  height: 0
                  price: 15
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 15
                  categories:
                    - 21
                    - 22
                  brand_id: 37
                  option_set_id: null
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 0
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:51+00:00'
                  date_modified: '2018-08-15T15:01:15+00:00'
                  view_count: 0
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/all-purpose-cleaner/
                    is_customized: true
                  base_variant_id: 352
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 352
                      product_id: 181
                      sku: ''
                      sku_id: null
                      price: 15
                      calculated_price: 15
                      sale_price: 0
                      retail_price: 0
                      map_price: 0
                      weight: 1
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 1
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: >-
                        https://cdn8.bigcommerce.com/s-jrah6gmn/products/181/images/442/CommonGoodAllPurposeCleaner_d37aa1e8_e16f_4309_bddd_8fae0d94efc7_1024x1024__40180__66527.1534344531.560.850.jpg?c=2
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
                - id: 193
                  name: BigCommerce Coffee Mug
                  type: physical
                  sku: ''
                  description: ''
                  weight: 4
                  width: 0
                  depth: 0
                  height: 0
                  price: 10
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 10
                  categories:
                    - 21
                  brand_id: 38
                  option_set_id: null
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 0
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: ''
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-09-05T20:19:06+00:00'
                  date_modified: '2018-09-05T20:19:06+00:00'
                  view_count: 0
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /bigcommerce-coffee-mug/
                    is_customized: false
                  base_variant_id: 385
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 385
                      product_id: 193
                      sku: ''
                      sku_id: null
                      price: 10
                      calculated_price: 10
                      sale_price: 0
                      retail_price: 0
                      map_price: 0
                      weight: 4
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 4
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
                - id: 194
                  name: BigCommerce Coffee Mug_2
                  type: physical
                  sku: ''
                  description: ''
                  weight: 3
                  width: 0
                  depth: 0
                  height: 0
                  price: 11
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 11
                  categories:
                    - 21
                  brand_id: 38
                  option_set_id: null
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 0
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: ''
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-09-05T20:20:47+00:00'
                  date_modified: '2018-09-05T20:20:47+00:00'
                  view_count: 0
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /bigcommerce-coffee-mug_2/
                    is_customized: false
                  base_variant_id: 386
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 386
                      product_id: 194
                      sku: ''
                      sku_id: null
                      price: 11
                      calculated_price: 11
                      sale_price: 0
                      retail_price: 0
                      map_price: 0
                      weight: 3
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 3
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
                - id: 195
                  name: BigCommerce Coffee Mug_3
                  type: physical
                  sku: ''
                  description: ''
                  weight: 3
                  width: 0
                  depth: 0
                  height: 0
                  price: 11
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 11
                  categories:
                    - 21
                  brand_id: 38
                  option_set_id: 50
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 0
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-09-05T20:22:19+00:00'
                  date_modified: '2018-09-07T20:01:26+00:00'
                  view_count: 0
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /bigcommerce-coffee-mug_3/
                    is_customized: false
                  base_variant_id: null
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 388
                      product_id: 195
                      sku: SKU-4484A834
                      sku_id: 351
                      price: null
                      calculated_price: 11
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 3
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 174
                          label: Beige
                          option_id: 221
                          option_display_name: Color
                    - id: 389
                      product_id: 195
                      sku: SKU-9E932372
                      sku_id: 352
                      price: null
                      calculated_price: 11
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 3
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 175
                          label: Grey
                          option_id: 221
                          option_display_name: Color
                    - id: 390
                      product_id: 195
                      sku: SKU-29CE333F
                      sku_id: 353
                      price: null
                      calculated_price: 11
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 3
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 176
                          label: Black
                          option_id: 221
                          option_display_name: Color
                    - id: 391
                      product_id: 195
                      sku: SKU-02FBF02A
                      sku_id: 354
                      price: null
                      calculated_price: 11
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 3
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 189
                          label: Black-Walnut
                          option_id: 221
                          option_display_name: Color
                - id: 184
                  name: Canvas Laundry Cart
                  type: physical
                  sku: ''
                  description: >-
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Morbi vel metus ac est egestas porta sed quis erat.
                    Integer id nulla massa. Proin vitae enim nisi. Praesent non
                    dignissim nulla. Nulla mattis id massa ac pharetra. Mauris
                    et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum
                    quis leo sit amet, rutrum volutpat metus. Curabitur libero
                    nunc, interdum ac libero non, tristique porttitor metus. Ut
                    non dignissim lorem, in vestibulum leo. Vivamus sodales quis
                    turpis eget.</span></p>
                  weight: 15
                  width: 0
                  depth: 0
                  height: 0
                  price: 249
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 249
                  categories:
                    - 23
                    - 22
                  brand_id: 36
                  option_set_id: 51
                  option_set_display: right
                  inventory_level: 1497
                  inventory_warning_level: 0
                  inventory_tracking: variant
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 6
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:53+00:00'
                  date_modified: '2018-08-28T19:02:11+00:00'
                  view_count: 22
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/canvas-laundry-cart/
                    is_customized: true
                  base_variant_id: null
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 364
                      product_id: 184
                      sku: SMA-RED
                      sku_id: 330
                      price: 15.99
                      calculated_price: 15.99
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: 15
                      calculated_weight: 15
                      width: 4
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 497
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 177
                          label: Small
                          option_id: 199
                          option_display_name: Size
                        - id: 180
                          label: Red
                          option_id: 200
                          option_display_name: Color
                    - id: 365
                      product_id: 184
                      sku: MED-RED
                      sku_id: 331
                      price: 555
                      calculated_price: 555
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 500
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 178
                          label: Medium
                          option_id: 199
                          option_display_name: Size
                        - id: 180
                          label: Red
                          option_id: 200
                          option_display_name: Color
                    - id: 366
                      product_id: 184
                      sku: LAR-RED
                      sku_id: 332
                      price: null
                      calculated_price: 253.99
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 500
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 179
                          label: Large
                          option_id: 199
                          option_display_name: Size
                        - id: 180
                          label: Red
                          option_id: 200
                          option_display_name: Color
                    - id: 367
                      product_id: 184
                      sku: SMA-GRE
                      sku_id: 333
                      price: null
                      calculated_price: 249
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 177
                          label: Small
                          option_id: 199
                          option_display_name: Size
                        - id: 181
                          label: Green
                          option_id: 200
                          option_display_name: Color
                    - id: 368
                      product_id: 184
                      sku: MED-GRE
                      sku_id: 334
                      price: null
                      calculated_price: 249
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 178
                          label: Medium
                          option_id: 199
                          option_display_name: Size
                        - id: 181
                          label: Green
                          option_id: 200
                          option_display_name: Color
                    - id: 369
                      product_id: 184
                      sku: LAR-GRE
                      sku_id: 335
                      price: null
                      calculated_price: 253.99
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 179
                          label: Large
                          option_id: 199
                          option_display_name: Size
                        - id: 181
                          label: Green
                          option_id: 200
                          option_display_name: Color
                    - id: 370
                      product_id: 184
                      sku: SMA-BLU
                      sku_id: 336
                      price: null
                      calculated_price: 249
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 177
                          label: Small
                          option_id: 199
                          option_display_name: Size
                        - id: 182
                          label: Blue
                          option_id: 200
                          option_display_name: Color
                    - id: 371
                      product_id: 184
                      sku: MED-BLU
                      sku_id: 337
                      price: null
                      calculated_price: 249
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 178
                          label: Medium
                          option_id: 199
                          option_display_name: Size
                        - id: 182
                          label: Blue
                          option_id: 200
                          option_display_name: Color
                    - id: 372
                      product_id: 184
                      sku: LAR-BLU
                      sku_id: 338
                      price: null
                      calculated_price: 253.99
                      sale_price: null
                      retail_price: null
                      map_price: null
                      weight: null
                      calculated_weight: 15
                      width: null
                      height: null
                      depth: null
                      is_free_shipping: false
                      fixed_cost_shipping_price: null
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: ''
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values:
                        - id: 179
                          label: Large
                          option_id: 199
                          option_display_name: Size
                        - id: 182
                          label: Blue
                          option_id: 200
                          option_display_name: Color
                - id: 173
                  name: Ceramic Measuring Spoon Set
                  type: physical
                  sku: ''
                  description: >-
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi vel metus ac est egestas porta sed quis erat. Integer
                    id nulla massa. Proin vitae enim nisi. Praesent non
                    dignissim nulla. Nulla mattis id massa ac pharetra. Mauris
                    et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum
                    quis leo sit amet, rutrum volutpat metus. Curabitur libero
                    nunc, interdum ac libero non, tristique porttitor metus. Ut
                    non dignissim lorem, in vestibulum leo. Vivamus sodales quis
                    turpis eget.</p>
                  weight: 1
                  width: 0
                  depth: 0
                  height: 0
                  price: 18
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 18
                  categories:
                    - 23
                    - 21
                  brand_id: 36
                  option_set_id: null
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 1
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:45+00:00'
                  date_modified: '2018-08-20T15:14:23+00:00'
                  view_count: 0
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/ceramic-measuring-spoon-set/
                    is_customized: true
                  base_variant_id: 344
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 344
                      product_id: 173
                      sku: ''
                      sku_id: null
                      price: 18
                      calculated_price: 18
                      sale_price: 0
                      retail_price: 0
                      map_price: 0
                      weight: 1
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 1
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: >-
                        https://cdn8.bigcommerce.com/s-jrah6gmn/products/173/images/424/measuringspoons1_1024x1024__22102__55079.1534344525.560.850.jpg?c=2
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
                - id: 170
                  name: Ceramic Measuring Spoons
                  type: physical
                  sku: ''
                  description: >-
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Morbi vel metus ac est egestas porta sed quis erat.
                    Integer id nulla massa. Proin vitae enim nisi. Praesent non
                    dignissim nulla. Nulla mattis id massa ac pharetra. Mauris
                    et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum
                    quis leo sit amet, rutrum volutpat metus. Curabitur libero
                    nunc, interdum ac libero non, tristique porttitor metus. Ut
                    non dignissim lorem, in vestibulum leo. Vivamus sodales quis
                    turpis eget.</span></p>
                  weight: 1
                  width: 0
                  depth: 0
                  height: 0
                  price: 25
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 25
                  categories:
                    - 23
                    - 21
                  brand_id: 36
                  option_set_id: null
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 0
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:42+00:00'
                  date_modified: '2018-08-15T15:01:15+00:00'
                  view_count: 0
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/ceramic-measuring-spoons/
                    is_customized: true
                  base_variant_id: 341
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 341
                      product_id: 170
                      sku: ''
                      sku_id: null
                      price: 25
                      calculated_price: 25
                      sale_price: 0
                      retail_price: 0
                      map_price: 0
                      weight: 1
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 1
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: >-
                        https://cdn8.bigcommerce.com/s-jrah6gmn/products/170/images/411/measuringsquares2_1024x1024__07108__95421.1534344522.560.850.jpg?c=2
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
                - id: 176
                  name: Ceramic Sugar & Creamer Set
                  type: physical
                  sku: ''
                  description: >-
                    <div data-position="description"> <div class="description">
                    <div class="rte-content"> <p><span>Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Morbi vel metus ac est
                    egestas porta sed quis erat. Integer id nulla massa. Proin
                    vitae enim nisi. Praesent non dignissim nulla. Nulla mattis
                    id massa ac pharetra. Mauris et nisi in dolor aliquam
                    sodales. Aliquam dui nisl, dictum quis leo sit amet, rutrum
                    volutpat metus. Curabitur libero nunc, interdum ac libero
                    non, tristique porttitor metus. Ut non dignissim lorem, in
                    vestibulum leo. Vivamus sodales quis turpis eget.</span></p>
                    </div> </div> </div>
                  weight: 1
                  width: 0
                  depth: 0
                  height: 0
                  price: 59
                  cost_price: 0
                  retail_price: 0
                  sale_price: 0
                  map_price: 0
                  tax_class_id: 0
                  product_tax_code: ''
                  calculated_price: 59
                  categories:
                    - 23
                    - 21
                  brand_id: 36
                  option_set_id: null
                  option_set_display: right
                  inventory_level: 0
                  inventory_warning_level: 0
                  inventory_tracking: none
                  reviews_rating_sum: 0
                  reviews_count: 0
                  total_sold: 1
                  fixed_cost_shipping_price: 0
                  is_free_shipping: false
                  is_visible: true
                  is_featured: false
                  related_products:
                    - -1
                  warranty: ''
                  bin_picking_number: ''
                  layout_file: product.html
                  upc: ''
                  mpn: ''
                  gtin: ''
                  search_keywords: ''
                  availability: available
                  availability_description: ''
                  gift_wrapping_options_type: any
                  gift_wrapping_options_list: []
                  sort_order: 0
                  condition: New
                  is_condition_shown: false
                  order_quantity_minimum: 0
                  order_quantity_maximum: 0
                  page_title: ''
                  meta_keywords: []
                  meta_description: ''
                  date_created: '2018-08-15T14:48:48+00:00'
                  date_modified: '2018-08-31T15:19:27+00:00'
                  view_count: 0
                  preorder_release_date: null
                  preorder_message: ''
                  is_preorder_only: false
                  is_price_hidden: false
                  price_hidden_label: ''
                  custom_url:
                    url: /all/ceramic-sugar-creamer-set/
                    is_customized: true
                  base_variant_id: 347
                  open_graph_type: product
                  open_graph_title: ''
                  open_graph_description: ''
                  open_graph_use_meta_description: true
                  open_graph_use_product_name: true
                  open_graph_use_image: true
                  variants:
                    - id: 347
                      product_id: 176
                      sku: ''
                      sku_id: null
                      price: 59
                      calculated_price: 59
                      sale_price: 0
                      retail_price: 0
                      map_price: 0
                      weight: 1
                      width: 0
                      height: 0
                      depth: 0
                      is_free_shipping: false
                      fixed_cost_shipping_price: 0
                      calculated_weight: 1
                      purchasing_disabled: false
                      purchasing_disabled_message: ''
                      image_url: >-
                        https://cdn8.bigcommerce.com/s-jrah6gmn/products/176/images/432/milkandcreamer1_1024x1024__69117__81345.1534344528.560.850.jpg?c=2
                      cost_price: 0
                      upc: ''
                      mpn: ''
                      gtin: ''
                      inventory_level: 0
                      inventory_warning_level: 0
                      bin_picking_number: ''
                      option_values: []
              meta:
                pagination:
                  total: 39
                  count: 10
                  per_page: 10
                  current_page: 1
                  total_pages: 4
                  links:
                    next: '?sort=name&include=variants&limit=10&page=2'
                    current: '?sort=name&include=variants&limit=10&page=1'
                  too_many: false
      summary: Get All Products
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
      tags:
        - Products
        - Catalog
    post:
      description: Create a product. Only one product can be created at a time.
      operationId: createProduct
      parameters:
        - name: product
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProductPost'
          x-examples:
            Simple Product:
              name: BigCommerce Coffee Mug
              price: '10.00'
              categories:
                - 23
                - 21
              weight: 4
              type: physical
            Creating a Product with Variants: |-
              {
                  "name": "BigCommerce Coffee Mug",
                  "price": "10.00",
                  "categories":[
                          23,21
                      ],
                      
                  "weight": 4,
                  "type": "physical",
                  "variants":[
                      {
                          "sku": "SKU-BLU",
                          "option_values":[
                                  {
                                      "option_display_name": "Mug Color",
                                      "label": "Blue"
                                  }
                              ]
                      },
                      {
                          "sku": "SKU-GRAY",
                          "option_values":[
                                  {
                                      "option_display_name": "Mug Color",
                                      "label": "Gray"
                                  }
                              ]
                      }
                  ]
              }
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ProductResponse'
          examples:
            application/json:
              data:
                id: 174
                name: 1L Le Parfait Jar
                type: physical
                sku: ''
                description: >-
                  <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Morbi vel metus ac est egestas porta sed quis erat.
                  Integer id nulla massa. Proin vitae enim nisi. Praesent non
                  dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et
                  nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis
                  leo sit amet, rutrum volutpat metus. Curabitur libero nunc,
                  interdum ac libero non, tristique porttitor metus. Ut non
                  dignissim lorem, in vestibulum leo. Vivamus sodales quis
                  turpis eget.</span></p>
                weight: 1
                width: 0
                depth: 0
                height: 0
                price: 7.95
                cost_price: 0
                retail_price: 10
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: ''
                calculated_price: 7.95
                categories:
                  - 23
                  - 21
                brand_id: 36
                option_set_id: null
                option_set_display: right
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                reviews_rating_sum: 0
                reviews_count: 0
                total_sold: 7
                fixed_cost_shipping_price: 0
                is_free_shipping: false
                is_visible: true
                is_featured: false
                related_products:
                  - -1
                warranty: ''
                bin_picking_number: ''
                layout_file: product.html
                upc: ''
                mpn: ''
                gtin: ''
                search_keywords: 'jar, glass'
                availability: available
                availability_description: ''
                gift_wrapping_options_type: any
                gift_wrapping_options_list: []
                sort_order: 0
                condition: New
                is_condition_shown: false
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: ''
                meta_keywords: []
                meta_description: ''
                date_created: '2018-08-15T14:48:46+00:00'
                date_modified: '2018-09-05T20:42:07+00:00'
                view_count: 10
                preorder_release_date: null
                preorder_message: ''
                is_preorder_only: false
                is_price_hidden: false
                price_hidden_label: ''
                custom_url:
                  url: /all/1l-le-parfait-jar/
                  is_customized: true
                base_variant_id: 345
                open_graph_type: product
                open_graph_title: ''
                open_graph_description: ''
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
              meta: {}
        '409':
          description: >
            `Product` was in conflict with another product. This is the result
            of duplicate unique values, such as name or SKU; a missing or
            invalid `category_id`, `brand_id`, or `tax_class id`; or a
            conflicting `bulk_pricing_rule`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            `Product` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Create a Product
      tags:
        - Products
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    delete:
      description: >-
        Delete a product(s). At least one filter parameter should be passed to
        control what is being deleted. For example to delete products with the
        id's of 1,2 and 3, use `DELETE /v3/catalog/products?id:in=1,2,3`
      operationId: deleteProducts
      parameters:
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterSkuParam'
        - $ref: '#/parameters/FilterPriceParam'
        - $ref: '#/parameters/FilterWeightParam'
        - $ref: '#/parameters/FilterConditionParam'
        - $ref: '#/parameters/FilterBrandIdParam'
        - $ref: '#/parameters/FilterDateModifiedParam'
        - $ref: '#/parameters/FilterDateLastImportedParam'
        - $ref: '#/parameters/FilterIsVisibleParam'
        - $ref: '#/parameters/FilterIsFeaturedParam'
        - $ref: '#/parameters/FilterInventoryLevelParam'
        - $ref: '#/parameters/FilterTotalSoldParam'
        - $ref: '#/parameters/ProductFilterTypeParam'
        - $ref: '#/parameters/FilterCategoriesParam'
        - $ref: '#/parameters/ProductFilterKeywordParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: ''
      summary: Delete a Products(s)
      tags:
        - Products
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
  '/catalog/products/{product_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      description: Get a product using `product_id`. Optional parameters can be passed in.
      operationId: getProductById
      parameters:
        - $ref: '#/parameters/FilterIncludeParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/FilterPriceListIdParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ProductResponse'
          examples:
            application/json:
              data:
                id: 174
                name: 1L Le Parfait Jar
                type: physical
                sku: ''
                description: >-
                  <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Morbi vel metus ac est egestas porta sed quis erat.
                  Integer id nulla massa. Proin vitae enim nisi. Praesent non
                  dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et
                  nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis
                  leo sit amet, rutrum volutpat metus. Curabitur libero nunc,
                  interdum ac libero non, tristique porttitor metus. Ut non
                  dignissim lorem, in vestibulum leo. Vivamus sodales quis
                  turpis eget.</span></p>
                weight: 1
                width: 0
                depth: 0
                height: 0
                price: 7.95
                cost_price: 0
                retail_price: 10
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: ''
                calculated_price: 7.95
                categories:
                  - 23
                  - 21
                brand_id: 36
                option_set_id: null
                option_set_display: right
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                reviews_rating_sum: 0
                reviews_count: 0
                total_sold: 7
                fixed_cost_shipping_price: 0
                is_free_shipping: false
                is_visible: true
                is_featured: false
                related_products:
                  - -1
                warranty: ''
                bin_picking_number: ''
                layout_file: product.html
                upc: ''
                mpn: ''
                gtin: ''
                search_keywords: 'jar, glass'
                availability: available
                availability_description: ''
                gift_wrapping_options_type: any
                gift_wrapping_options_list: []
                sort_order: 0
                condition: New
                is_condition_shown: false
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: ''
                meta_keywords: []
                meta_description: ''
                date_created: '2018-08-15T14:48:46+00:00'
                date_modified: '2018-09-05T20:42:07+00:00'
                view_count: 10
                preorder_release_date: null
                preorder_message: ''
                is_preorder_only: false
                is_price_hidden: false
                price_hidden_label: ''
                custom_url:
                  url: /all/1l-le-parfait-jar/
                  is_customized: true
                base_variant_id: 345
                open_graph_type: product
                open_graph_title: ''
                open_graph_description: ''
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
      summary: Get a Product by Id
      tags:
        - Products
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    put:
      description: Updates a product using the `product_id`.
      operationId: updateProduct
      parameters:
        - name: product
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProductPut'
          x-examples:
            application/json:
              name: Fog Linen Chambray Towel - Beige Stripe
              type: physical
              sku: SLCTBS
              description: >-
                <p>The perfect beach towel: thin, lightweight and highly
                absorbent. Crafted by Fog Linen in Japan using soft Lithuanian
                linen, each towel rolls up for compact stowaway. Dry off after a
                refreshing dip in the ocean and stretch out on it for a sun
                bath. The thinness ensures a quick dry so you can have it rolled
                back up in your bag without soaking your
                belongings.</p>\r\n<p>Measures 75 x 145 cm/29.5 x 57
                in</p>\r\n<p>100% Linen</p>
              weight: 1
              width: 6
              depth: 2
              height: 4
              price: 49.99
              cost_price: 12.99
              retail_price: 32.99
              tax_class_id: 0
              product_tax_code: '3451'
              categories:
                - 1
                - 2
              brand_id: 5
              inventory_level: 10
              inventory_warning_level: 10
              inventory_tracking: none
              fixed_cost_shipping_price: 8
              is_free_shipping: false
              is_visible: true
              is_featured: true
              related_products:
                - -1
              bin_picking_number: 56WB
              layout_file: product.html
              upc: '1234567890'
              search_keywords: 'towel, bath, kitchen'
              availability: available
              gift_wrapping_options_type: any
              gift_wrapping_options_list:
                - 1
                - 2
                - 3
              sort_order: 4
              condition: New
              is_condition_shown: true
              order_quantity_minimum: 5
              order_quantity_maximum: 50
              meta_keywords: []
              view_count: 146
              preorder_release_date: 'null'
              is_preorder_only: false
              is_price_hidden: false
              custom_url:
                url: /this-is-a-custom-url/
                is_customized: true
              open_graph_type: product
              id: 113
              custom_fields:
                - name: Release year
                  value: '1987'
                  id: 1
              bulk_pricing_rules:
                - quantity_min: 10
                  quantity_max: 50
                  type: price
                  amount: 10
                  id: 3
              variants:
                - cost_price: 3
                  price: 50.99
                  sale_price: 45
                  retail_price: 50.99
                  weight: 1
                  width: 4
                  height: 14.6
                  depth: 22
                  is_free_shipping: true
                  purchasing_disabled: true
                  purchasing_disabled_message: This item not available at this time.
                  inventory_level: 100
                  inventory_warning_level: 10
                  product_id: 87
                  sku: S-ORAN-1
                  brand_name: Common Good
                  brand_id: 1
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ProductResponse'
          examples:
            application/json:
              data:
                id: 174
                name: 1L Le Parfait Jar
                type: physical
                sku: ''
                description: >-
                  <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Morbi vel metus ac est egestas porta sed quis erat.
                  Integer id nulla massa. Proin vitae enim nisi. Praesent non
                  dignissim nulla. Nulla mattis id massa ac pharetra. Mauris et
                  nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis
                  leo sit amet, rutrum volutpat metus. Curabitur libero nunc,
                  interdum ac libero non, tristique porttitor metus. Ut non
                  dignissim lorem, in vestibulum leo. Vivamus sodales quis
                  turpis eget.</span></p>
                weight: 1
                width: 0
                depth: 0
                height: 0
                price: 7.95
                cost_price: 0
                retail_price: 10
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: ''
                calculated_price: 7.95
                categories:
                  - 23
                  - 21
                brand_id: 36
                option_set_id: null
                option_set_display: right
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                reviews_rating_sum: 0
                reviews_count: 0
                total_sold: 7
                fixed_cost_shipping_price: 0
                is_free_shipping: false
                is_visible: true
                is_featured: false
                related_products:
                  - -1
                warranty: ''
                bin_picking_number: ''
                layout_file: product.html
                upc: ''
                mpn: ''
                gtin: ''
                search_keywords: 'jar, glass'
                availability: available
                availability_description: ''
                gift_wrapping_options_type: any
                gift_wrapping_options_list: []
                sort_order: 0
                condition: New
                is_condition_shown: false
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: ''
                meta_keywords: []
                meta_description: ''
                date_created: '2018-08-15T14:48:46+00:00'
                date_modified: '2018-09-05T20:42:07+00:00'
                view_count: 10
                preorder_release_date: null
                preorder_message: ''
                is_preorder_only: false
                is_price_hidden: false
                price_hidden_label: ''
                custom_url:
                  url: /all/1l-le-parfait-jar/
                  is_customized: true
                base_variant_id: 345
                open_graph_type: product
                open_graph_title: ''
                open_graph_description: ''
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            `Product` was in conflict with another product. This is caused by:
            duplicate unique values, such as name or SKU; a missing category,
            brand, or tax_class with which the product is being associated; or a
            conflicting bulk pricing rule.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            `Product` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Update a Product
      tags:
        - Products
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    delete:
      description: |
        Deletes a `Product` object from the BigCommerce Catalog.
      operationId: deleteProductById
      responses:
        '204':
          description: ''
      summary: Delete Products by Id
      tags:
        - Products
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
  '/catalog/products/{product_id}/images':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets all images on a product.
      operationId: getProductImages
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            List of product images and metadata.
          schema:
            $ref: '#/definitions/ProductImageCollectionResponse'
        '204':
          description: |
            There are not any images on this product.
        '404':
          description: |
            The product ID does not exist.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: >
        Creates an image on a product. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: createProductImage
      parameters:
        - name: productImage
          in: body
          required: true
          description: |
            A BigCommerce `ProductImage` object.
          schema:
            $ref: '#/definitions/ProductImagePost'
      responses:
        '200':
          description: |
            A product image.
          schema:
            $ref: '#/definitions/ProductImageResponse'
        '404':
          description: |
            The product ID does not exist.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/images/{image_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ImageIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets image on a product.
      operationId: getProductImageById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of product images and metadata.
          schema:
            $ref: '#/definitions/ProductImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates an image on a product. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: updateProductImage
      parameters:
        - name: productImage
          in: body
          required: true
          description: |
            A BigCommerce `ProductImage` object.
          schema:
            $ref: '#/definitions/ProductImagePut'
      responses:
        '200':
          description: |
            A product image.
          schema:
            $ref: '#/definitions/ProductImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductImage` in the BigCommerce Catalog.
      operationId: deleteProductImage
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/videos':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets all videos on a product.
      operationId: getProductVideos
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            List of product videos and metadata.
          schema:
            $ref: '#/definitions/ProductVideoCollectionResponse'
    post:
      tags:
        - Catalog
      description: |
        Creates a video on a product, using a video ID from a host site.
      operationId: createProductVideo
      parameters:
        - name: productVideo
          in: body
          required: true
          description: |
            A BigCommerce `ProductVideo` object.
          schema:
            $ref: '#/definitions/ProductVideoPost'
      responses:
        '200':
          description: |
            A product video.
          schema:
            $ref: '#/definitions/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/videos/{video_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VideoIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets video on a product.
      operationId: getProductVideoById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of product videos and metadata.
          schema:
            $ref: '#/definitions/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a video on a product.
      operationId: updateProductVideo
      parameters:
        - name: productVideo
          in: body
          required: true
          description: |
            A BigCommerce `ProductVideo` object.
          schema:
            $ref: '#/definitions/ProductVideoPut'
      responses:
        '200':
          description: |
            A product video.
          schema:
            $ref: '#/definitions/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductVideo` in the BigCommerce Catalog.
      operationId: deleteProductVideo
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/variants':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Returns a `Variant` object list from the BigCommerce Catalog.
      operationId: getVariantsByProductId
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of variants and metadata.
          schema:
            $ref: '#/definitions/VariantCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a `Variant` object.
      operationId: createVariant
      parameters:
        - name: Variant
          in: body
          required: true
          description: |
            `Variant` object.
          schema:
            $ref: '#/definitions/VariantPost'
      responses:
        '200':
          description: |
            A variant and metadata.
          schema:
            $ref: '#/definitions/VariantResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/variants/{variant_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VariantIdParam'
    get:
      tags:
        - Catalog
      description: Gets a `Variant` object.
      operationId: getVariantById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A variant and metadata.
          schema:
            $ref: '#/definitions/VariantResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Variant` object.
      operationId: updateVariant
      parameters:
        - name: Variant
          in: body
          required: true
          description: |
            A `Variant` object.
          schema:
            $ref: '#/definitions/VariantPut'
      responses:
        '200':
          description: |
            A variant and metadata.
          schema:
            $ref: '#/definitions/VariantResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Variant`.
      operationId: deleteVariantById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/variants/{variant_id}/metafields':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VariantIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `product_id` and `variant_id`.
      operationId: getVariantMetafieldsByProductIdAndVariantId
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/MetafieldKeyParam'
        - $ref: '#/parameters/MetafieldNamespaceParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          schema:
            $ref: '#/definitions/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a variant `Metafield`.
      operationId: createVariantMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPost'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate unique-key combinations of the app's
            client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}':
    parameters:
      - $ref: '#/parameters/MetafieldIdParam'
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VariantIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `product_id` and `variant_id`.
      operationId: getVariantMetafieldByProductIdAndVariantId
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateVariantMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPut'
      responses:
        '200':
          description: |
            A metafield and metadata.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteVariantMetafieldById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/variants/{variant_id}/image':
    post:
      tags:
        - Catalog
      operationId: createVariantImage
      parameters:
        - $ref: '#/parameters/ProductIdParam'
        - $ref: '#/parameters/VariantIdParam'
        - $ref: '#/parameters/ImageFileParam'
      consumes:
        - multipart/form-data
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: '#/definitions/ImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            Image was not valid. This is the result of a missing `image_file`
            field or of an incorrect file type. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/options':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `Option` objects.
      operationId: getOptions
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of options and metadata.
          schema:
            $ref: '#/definitions/OptionCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      parameters:
        - name: Option
          in: body
          required: true
          description: |
            An `Option` object.
          schema:
            $ref: '#/definitions/OptionPost'
      description: Creates an `Option`.
      operationId: createOption
      responses:
        '200':
          description: |
            An `Option` object.
          schema:
            $ref: '#/definitions/OptionResponse'
        '409':
          description: >
            Option was in conflict with another option. This is the result of
            duplicate unique fields, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            Option was not valid. This is the result of missing required fields,
            or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/options/{option_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/OptionIdParam'
    get:
      tags:
        - Catalog
      description: Gets `Option` object by product ID and option ID.
      operationId: getOptionById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An `Option` object.
          schema:
            $ref: '#/definitions/OptionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `Option`, based on the `product_id` and `option_id`.
      operationId: updateOption
      parameters:
        - name: option
          in: body
          required: true
          description: |
            A BigCommerce `Option` object.
          schema:
            $ref: '#/definitions/OptionPut'
      responses:
[...]
