swagger: '2.0'
info:
  title: BigCommerce API
  version: 3.0.0b
  description: A Swagger Document for the BigCommmerce v3 API.
  termsOfService: 'http://www.bigcommerce.com/terms'
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
tags:
  - name: Catalog
    description: BigCommerce Catalog API Definition.
  - name: Brands
    description: Testing
  - name: Customers
    description: BigCommerce Customers API Definition.
  - name: Orders
    description: BigCommerce Orders API Definition.
  - name: Themes
    description: BigCommerce Themes API Definition.
  - name: PriceLists
    description: BigCommerce Price Lists API Definition.
  - name: Widget Template
    description: BigCommerce Widget Templates API Definition.
  - name: Widget
    description: BigCommerce Widgets API Definition.
  - name: Placement
    description: BigCommerce Placements API Definition.
  - name: Script
    description: BigCommerce Scripts API Definition.
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /catalog/products:
    get:
      tags:
        - Catalog
      description: >
        Returns a paginated collection of `Products` objects from the
        BigCommerce Catalog.
      operationId: getProducts
      parameters:
        - $ref: '#/parameters/FilterIdParam'
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterSkuParam'
        - $ref: '#/parameters/FilterUpcParam'
        - $ref: '#/parameters/FilterPriceParam'
        - $ref: '#/parameters/FilterWeightParam'
        - $ref: '#/parameters/FilterConditionParam'
        - $ref: '#/parameters/FilterBrandIdParam'
        - $ref: '#/parameters/FilterDateModifiedParam'
        - $ref: '#/parameters/FilterDateLastImportedParam'
        - $ref: '#/parameters/FilterIsVisibleParam'
        - $ref: '#/parameters/FilterIsFeaturedParam'
        - $ref: '#/parameters/FilterIsFreeShippingParam'
        - $ref: '#/parameters/FilterInventoryLevelParam'
        - $ref: '#/parameters/FilterInventoryLowParam'
        - $ref: '#/parameters/FilterOutOfStockParam'
        - $ref: '#/parameters/FilterTotalSoldParam'
        - $ref: '#/parameters/ProductFilterTypeParam'
        - $ref: '#/parameters/FilterCategoriesParam'
        - $ref: '#/parameters/ProductFilterKeywordParam'
        - $ref: '#/parameters/ProductFilterKeywordContextParam'
        - $ref: '#/parameters/FilterStatusParam'
        - $ref: '#/parameters/FilterIncludeParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/FilterAvailabilityParam'
        - $ref: '#/parameters/FilterPriceListIdParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/DirectionParam'
        - $ref: '#/parameters/ProductSortParam'
      responses:
        '200':
          description: |
            An array of products and metadata.
          schema:
            $ref: '#/definitions/ProductCollectionResponse'
    post:
      tags:
        - Catalog
      description: |
        Creates a `Product` in the BigCommerce Catalog.
      operationId: createProduct
      parameters:
        - name: product
          in: body
          required: true
          description: |
            A BigCommerce `Product` object.
          schema:
            $ref: '#/definitions/ProductPost'
      responses:
        '200':
          description: |
            A product.
          schema:
            $ref: '#/definitions/ProductResponse'
          examples:
            application/json:
              data:
                name: nisi dolo
                type: physical
                sku: ''
                description: ullamco sed eu
                weight: 7666212815.525436
                width: 6042557614.385316
                depth: 2654007171.39839
                height: 3622238219.80296
                price: 27196583.748899084
                cost_price: 35141541.008602895
                retail_price: 87361717.32988656
                sale_price: 43248877.037026115
                tax_class_id: 852257091
                product_tax_code: pariatu
                categories:
                  - 76244146
                  - 85963646
                  - 92807504
                brand_id: 745287585
                inventory_level: 617662525
                inventory_warning_level: 356234433
                inventory_tracking: none
                fixed_cost_shipping_price: 76899191.12541202
                is_free_shipping: true
                is_visible: false
                is_featured: false
                related_products:
                  - -75896369
                  - -40863180
                warranty: ea
                bin_picking_number: ex com
                layout_file: i
                upc: ex Lor
                search_keywords: incididun
                availability: preorder
                availability_description: id
                gift_wrapping_options_type: none
                gift_wrapping_options_list:
                  - 97836128
                sort_order: 660287234
                condition: Refurbished
                is_condition_shown: false
                order_quantity_minimum: 359037085
                order_quantity_maximum: 469321009
                page_title: occae
                meta_keywords:
                  - dolore esse consectetur ut
                  - sit labore magna velit
                  - cillum Duis ea fugiat ut
                meta_description: elit c
                view_count: 316245655
                preorder_release_date: '1971-11-05T18:16:03.185Z'
                preorder_message: en
                is_preorder_only: false
                is_price_hidden: true
                price_hidden_label: sint labor
                custom_url:
                  url: id
                  is_customized: true
                open_graph_type: song
                open_graph_title: adipisicing irure nostrud
                open_graph_description: proident amet cupidatat
                open_graph_use_meta_description: false
                open_graph_use_product_name: false
                open_graph_use_image: false
                id: 58255432
                calculated_price: -20657464.939725354
                reviews_rating_sum: -20445602
                reviews_count: -11454395
                total_sold: 22659345
                custom_fields:
                  - name: ea
                    value: adip
                    id: 36193503
                  - name: con
                    value: volup
                    id: 49733545
                bulk_pricing_rules:
                  - quantity_min: 13050319
                    quantity_max: 48551468
                    type: percent
                    amount: 1371931.6383473012
                    id: 20029367
                  - quantity_min: 24999376
                    quantity_max: 48429507
                    type: fixed
                    amount: 58942081.27708778
                    id: 16824197
                date_created: '2014-06-27T02:40:26.380Z'
                date_modified: '1942-11-20T13:24:43.539Z'
                images:
                  - is_thumbnail: false
                    sort_order: -579217388
                    description: fugiat do est
                    id: 98591525
                    product_id: 19089930
                    image_file: culpa in sed Ut
                    url_zoom: in ea reprehenderit dolor
                    url_standard: ex in
                    url_thumbnail: dolor quis
                    url_tiny: aliquip reprehenderit
                    date_modified: '1946-01-14T06:51:45.243Z'
                  - is_thumbnail: true
                    sort_order: -1979859596
                    description: sed sunt commodo
                    id: 55021305
                    product_id: 69355094
                    image_file: qui sunt aliqua eu
                    url_zoom: ipsum
                    url_standard: magna Lorem comm
                    url_thumbnail: esse Ut nulla ipsum Excepteur
                    url_tiny: pariatur cupidatat laboris
                    date_modified: '1962-12-23T16:45:08.041Z'
                  - is_thumbnail: true
                    sort_order: -227110157
                    description: ad elit dolore l
                    id: 69965368
                    product_id: -14645865
                    image_file: mollit esse ullamco
                    url_zoom: Ut
                    url_standard: tempor irure dolore occaecat sed
                    url_thumbnail: reprehend
                    url_tiny: minim eiusmod
                    date_modified: '1961-01-12T13:16:00.430Z'
                  - is_thumbnail: true
                    sort_order: 629497136
                    description: cillum non i
                    id: -83792878
                    product_id: 44691854
                    image_file: Duis exercitation aute aliquip
                    url_zoom: dolor mollit nostrud aliqua
                    url_standard: est dolor nostrud
                    url_thumbnail: dolore id
                    url_tiny: ad reprehenderit
                    date_modified: '1964-01-06T20:00:55.269Z'
                videos:
                  - title: tempor
                    description: nulla sit
                    sort_order: -322649057
                    type: youtube
                    id: -63695741
                    video_id: non
                    product_id: -49284510
                    length: est et sed laborum
                  - title: ipsum rep
                    description: elit irure reprehenderit
                    sort_order: -177367620
                    type: youtube
                    id: 62885418
                    video_id: reprehen
                    product_id: -7353021
                    length: amet Ut si
                  - title: id
                    description: fugiat velit ut
                    sort_order: -968169124
                    type: youtube
                    id: -96585563
                    video_id: sit laborum
                    product_id: -83639567
                    length: et laboris anim
                  - title: ut
                    description: velit amet ess
                    sort_order: 480596128
                    type: youtube
                    id: -4034506
                    video_id: qui eiusmod
                    product_id: -30033382
                    length: ad mag
                variants:
                  - cost_price: 20588631.28951771
                    price: 12091002.341029821
                    sale_price: 71885358.48455466
                    retail_price: 31799387.66935446
                    weight: 30988739.60164512
                    width: 44871393.51432525
                    height: 75002446.31819502
                    depth: 15820871.220664356
                    is_free_shipping: false
                    fixed_cost_shipping_price: 92085501.61310513
                    purchasing_disabled: false
                    purchasing_disabled_message: ut nul
                    image_url: deserunt culpa non dolor est
                    upc: non
                    inventory_level: -57591202
                    inventory_warning_level: 19999996
                    bin_picking_number: sed Ut q
                    id: 36953497
                    product_id: 43752000
                    sku: laboris ipsum
                    sku_id: -27575393
                    option_values:
                      - option_display_name: sint mag
                        label: 'deserunt '
                        id: 68920383
                        option_id: 45312427
                      - option_display_name: dolor aliq
                        label: ut aliquip
                        id: -7634255
                        option_id: 17654915
                      - option_display_name: amet ex d
                        label: offic
                        id: -94154072
                        option_id: -92304859
                    calculated_price: -91632227.32050955
                  - cost_price: 47585782.87986612
                    price: 22395819.212373924
                    sale_price: 74917703.0901311
                    retail_price: 7295156.953607096
                    weight: 9412298.814132947
                    width: 96832492.55151169
                    height: 9780371.838773271
                    depth: 57058169.034378655
                    is_free_shipping: true
                    fixed_cost_shipping_price: 46503954.61579415
                    purchasing_disabled: false
                    purchasing_disabled_message: consecte
                    image_url: aliquip exercitation voluptate
                    upc: nulla dolor mollit
                    inventory_level: -61811312
                    inventory_warning_level: 2364312
                    bin_picking_number: paria
                    id: -9163234
                    product_id: -31188007
                    sku: dolore enim reprehenderit aliquip
                    sku_id: 71983470
                    option_values:
                      - option_display_name: labore
                        label: aliqua ut
                        id: -14250021
                        option_id: 84547313
                      - option_display_name: commodo
                        label: in exerci
                        id: -9950792
                        option_id: -21004470
                      - option_display_name: consequ
                        label: labo
                        id: 12124980
                        option_id: 66126985
                      - option_display_name: ut molli
                        label: deseru
                        id: 31517110
                        option_id: -26668460
                    calculated_price: -2330456.462124929
                  - cost_price: 13940826.790158333
                    price: 91047946.82578565
                    sale_price: 45108558.17395687
                    retail_price: 91648625.8127307
                    weight: 32515305.23504327
                    width: 65207417.88721691
                    height: 71262684.60633725
                    depth: 47847370.318180874
                    is_free_shipping: false
                    fixed_cost_shipping_price: 81873375.3045761
                    purchasing_disabled: true
                    purchasing_disabled_message: o
                    image_url: sunt nostrud proident
                    upc: elit cillum
                    inventory_level: 60625926
                    inventory_warning_level: 29278555
                    bin_picking_number: enim
                    id: -30160815
                    product_id: -49292930
                    sku: dolor anim aliqua fugiat
                    sku_id: 41201387
                    option_values:
                      - option_display_name: aute labo
                        label: et
                        id: -77010391
                        option_id: -38487920
                      - option_display_name: con
                        label: oc
                        id: 8340715
                        option_id: 47648059
                      - option_display_name: offic
                        label: ulla
                        id: -22120396
                        option_id: 84238126
                    calculated_price: 55831855.14897317
                base_variant_id: 95097349
              meta: {}
        '409':
          description: >
            `Product` was in conflict with another product. This is the result
            of duplicate unique values, such as name or SKU; a missing or
            invalid `category_id`, `brand_id`, or `tax_class id`; or a
            conflicting `bulk_pricing_rule`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            `Product` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Product` objects from the BigCommerce Catalog.
      operationId: deleteProducts
      parameters:
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterSkuParam'
        - $ref: '#/parameters/FilterPriceParam'
        - $ref: '#/parameters/FilterWeightParam'
        - $ref: '#/parameters/FilterConditionParam'
        - $ref: '#/parameters/FilterBrandIdParam'
        - $ref: '#/parameters/FilterDateModifiedParam'
        - $ref: '#/parameters/FilterDateLastImportedParam'
        - $ref: '#/parameters/FilterIsVisibleParam'
        - $ref: '#/parameters/FilterIsFeaturedParam'
        - $ref: '#/parameters/FilterInventoryLevelParam'
        - $ref: '#/parameters/FilterTotalSoldParam'
        - $ref: '#/parameters/ProductFilterTypeParam'
        - $ref: '#/parameters/FilterCategoriesParam'
        - $ref: '#/parameters/ProductFilterKeywordParam'
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Returns a `Product` from the BigCommerce Catalog.
      operationId: getProductById
      parameters:
        - $ref: '#/parameters/FilterIncludeParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/FilterPriceListIdParam'
      responses:
        '200':
          description: |
            A product.
          schema:
            $ref: '#/definitions/ProductResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a `Product` in the BigCommerce Catalog.
      operationId: updateProduct
      parameters:
        - name: product
          in: body
          required: true
          description: |
            A BigCommerce `Product` object.
          schema:
            $ref: '#/definitions/ProductPut'
      responses:
        '200':
          description: |
            A product.
          schema:
            $ref: '#/definitions/ProductResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            `Product` was in conflict with another product. This is caused by:
            duplicate unique values, such as name or SKU; a missing category,
            brand, or tax_class with which the product is being associated; or a
            conflicting bulk pricing rule.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            `Product` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Product` object from the BigCommerce Catalog.
      operationId: deleteProductById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/images':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets all images on a product.
      operationId: getProductImages
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            List of product images and metadata.
          schema:
            $ref: '#/definitions/ProductImageCollectionResponse'
        '204':
          description: |
            There are not any images on this product.
        '404':
          description: |
            The product ID does not exist.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: >
        Creates an image on a product. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: createProductImage
      parameters:
        - name: productImage
          in: body
          required: true
          description: |
            A BigCommerce `ProductImage` object.
          schema:
            $ref: '#/definitions/ProductImagePost'
      responses:
        '200':
          description: |
            A product image.
          schema:
            $ref: '#/definitions/ProductImageResponse'
        '404':
          description: |
            The product ID does not exist.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/images/{image_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ImageIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets image on a product.
      operationId: getProductImageById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of product images and metadata.
          schema:
            $ref: '#/definitions/ProductImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates an image on a product. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: updateProductImage
      parameters:
        - name: productImage
          in: body
          required: true
          description: |
            A BigCommerce `ProductImage` object.
          schema:
            $ref: '#/definitions/ProductImagePut'
      responses:
        '200':
          description: |
            A product image.
          schema:
            $ref: '#/definitions/ProductImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductImage` in the BigCommerce Catalog.
      operationId: deleteProductImage
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/videos':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets all videos on a product.
      operationId: getProductVideos
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            List of product videos and metadata.
          schema:
            $ref: '#/definitions/ProductVideoCollectionResponse'
    post:
      tags:
        - Catalog
      description: |
        Creates a video on a product, using a video ID from a host site.
      operationId: createProductVideo
      parameters:
        - name: productVideo
          in: body
          required: true
          description: |
            A BigCommerce `ProductVideo` object.
          schema:
            $ref: '#/definitions/ProductVideoPost'
      responses:
        '200':
          description: |
            A product video.
          schema:
            $ref: '#/definitions/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/videos/{video_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VideoIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets video on a product.
      operationId: getProductVideoById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of product videos and metadata.
          schema:
            $ref: '#/definitions/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a video on a product.
      operationId: updateProductVideo
      parameters:
        - name: productVideo
          in: body
          required: true
          description: |
            A BigCommerce `ProductVideo` object.
          schema:
            $ref: '#/definitions/ProductVideoPut'
      responses:
        '200':
          description: |
            A product video.
          schema:
            $ref: '#/definitions/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductVideo` in the BigCommerce Catalog.
      operationId: deleteProductVideo
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/variants':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Returns a `Variant` object list from the BigCommerce Catalog.
      operationId: getVariantsByProductId
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of variants and metadata.
          schema:
            $ref: '#/definitions/VariantCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a `Variant` object.
      operationId: createVariant
      parameters:
        - name: Variant
          in: body
          required: true
          description: |
            `Variant` object.
          schema:
            $ref: '#/definitions/VariantPost'
      responses:
        '200':
          description: |
            A variant and metadata.
          schema:
            $ref: '#/definitions/VariantResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/variants/{variant_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VariantIdParam'
    get:
      tags:
        - Catalog
      description: Gets a `Variant` object.
      operationId: getVariantById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A variant and metadata.
          schema:
            $ref: '#/definitions/VariantResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Variant` object.
      operationId: updateVariant
      parameters:
        - name: Variant
          in: body
          required: true
          description: |
            A `Variant` object.
          schema:
            $ref: '#/definitions/VariantPut'
      responses:
        '200':
          description: |
            A variant and metadata.
          schema:
            $ref: '#/definitions/VariantResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Variant`.
      operationId: deleteVariantById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/variants/{variant_id}/metafields':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VariantIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `product_id` and `variant_id`.
      operationId: getVariantMetafieldsByProductIdAndVariantId
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/MetafieldKeyParam'
        - $ref: '#/parameters/MetafieldNamespaceParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          schema:
            $ref: '#/definitions/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a variant `Metafield`.
      operationId: createVariantMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPost'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate unique-key combinations of the app's
            client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}':
    parameters:
      - $ref: '#/parameters/MetafieldIdParam'
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/VariantIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `product_id` and `variant_id`.
      operationId: getVariantMetafieldByProductIdAndVariantId
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateVariantMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPut'
      responses:
        '200':
          description: |
            A metafield and metadata.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteVariantMetafieldById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/variants/{variant_id}/image':
    post:
      tags:
        - Catalog
      operationId: createVariantImage
      parameters:
        - $ref: '#/parameters/ProductIdParam'
        - $ref: '#/parameters/VariantIdParam'
        - $ref: '#/parameters/ImageFileParam'
      consumes:
        - multipart/form-data
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: '#/definitions/ImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            Image was not valid. This is the result of a missing `image_file`
            field or of an incorrect file type. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/options':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `Option` objects.
      operationId: getOptions
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of options and metadata.
          schema:
            $ref: '#/definitions/OptionCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      parameters:
        - name: Option
          in: body
          required: true
          description: |
            An `Option` object.
          schema:
            $ref: '#/definitions/OptionPost'
      description: Creates an `Option`.
      operationId: createOption
      responses:
        '200':
          description: |
            An `Option` object.
          schema:
            $ref: '#/definitions/OptionResponse'
        '409':
          description: >
            Option was in conflict with another option. This is the result of
            duplicate unique fields, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            Option was not valid. This is the result of missing required fields,
            or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/options/{option_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/OptionIdParam'
    get:
      tags:
        - Catalog
      description: Gets `Option` object by product ID and option ID.
      operationId: getOptionById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An `Option` object.
          schema:
            $ref: '#/definitions/OptionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `Option`, based on the `product_id` and `option_id`.
      operationId: updateOption
      parameters:
        - name: option
          in: body
          required: true
          description: |
            A BigCommerce `Option` object.
          schema:
            $ref: '#/definitions/OptionPut'
      responses:
        '200':
          description: |
            An `Option` object.
          schema:
            $ref: '#/definitions/OptionResponse'
        '409':
          description: >
            The `Option` was in conflict with another option. This is the result
            of duplicate unique fields, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Option` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `Option`, based on the `product_id` and `option_id`.
      operationId: deleteOptionById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/options/{option_id}/values':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/OptionIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `OptionValue` objects.
      operationId: getOptionValues
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of option values and metadata.
          schema:
            $ref: '#/definitions/OptionValueCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `OptionValue`.
      operationId: createOptionValue
      parameters:
        - name: OptionValue
          in: body
          required: true
          description: |
            A `OptionValue` object.
          schema:
            $ref: '#/definitions/OptionValuePost'
      responses:
        '200':
          description: |
            A `OptionValue` object.
          schema:
            $ref: '#/definitions/OptionValueResponse'
        '422':
          description: >
            The `OptionValue` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/options/{option_id}/values/{value_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/OptionIdParam'
      - $ref: '#/parameters/ValueIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `OptionValue` by `product_id`, `option_id`, and `value_id`.
      operationId: getOptionValueById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `OptionValue` object.
          schema:
            $ref: '#/definitions/OptionValueResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates a Product's `OptionValue` based on the `product_id`,
        `option_id`, and `value_id`.
      operationId: updateOptionValue
      parameters:
        - name: OptionValue
          in: body
          required: true
          description: |
            A BigCommerce `OptionValue` object.
          schema:
            $ref: '#/definitions/OptionValuePut'
      responses:
        '200':
          description: |
            A `OptionValue` object.
          schema:
            $ref: '#/definitions/OptionValueResponse'
        '422':
          description: >
            The `OptionValue` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `OptionValue` based on the `product_id`,
        `option_id`, and `value_id`.
      operationId: deleteOptionValueById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/modifiers':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `Modifier` objects.
      operationId: getModifiers
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of modifiers and metadata.
          schema:
            $ref: '#/definitions/ModifierCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `Modifier`.
      operationId: createModifier
      parameters:
        - name: Modifier
          in: body
          required: true
          description: |
            A `Modifier` object.
          schema:
            $ref: '#/definitions/ModifierPost'
      responses:
        '200':
          description: |
            A `Modifier` object.
          schema:
            $ref: '#/definitions/ModifierResponse'
        '409':
          description: >
            The `Modifier` was in conflict with another option. This is the
            result of duplicate unique fields, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Modifier` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/modifiers/{modifier_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ModifierIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Modifier` by product_id and modifier_id.
      operationId: getModifierById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `Modifier` object.
          schema:
            $ref: '#/definitions/ModifierResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates a Product's `Modifier` based on the `product_id` and
        `modifier_id`.
      operationId: updateModifier
      parameters:
        - name: modifier
          in: body
          required: true
          description: |
            A BigCommerce `Modifier` object.
          schema:
            $ref: '#/definitions/ModifierPut'
      responses:
        '200':
          description: |
            A `Modifier` object.
          schema:
            $ref: '#/definitions/ModifierResponse'
        '409':
          description: >
            The `Modifier` was in conflict with another modifier or option. This
            is the result of duplicate unique fields, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Modifier` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `Modifier` based on the `product_id` and
        `modifier_id`.
      operationId: deleteModifierById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/modifiers/{modifier_id}/values':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ModifierIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `ModifierValue` objects.
      operationId: getModifierValues
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of modifier values and metadata.
          schema:
            $ref: '#/definitions/ModifierValueCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `ModifierValue`.
      operationId: createModifierValue
      parameters:
        - name: ModifierValue
          in: body
          required: true
          description: |
            A `ModifierValue` object.
          schema:
            $ref: '#/definitions/ModifierValuePost'
      responses:
        '200':
          description: |
            A `ModifierValue` object.
          schema:
            $ref: '#/definitions/ModifierValueResponse'
        '422':
          description: >
            The `ModifierValue` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ModifierIdParam'
      - $ref: '#/parameters/ValueIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `ModifierValue` by `product_id`, `modifier_id`, and `value_id`.
      operationId: getModifierValueById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `ModifierValue` object.
          schema:
            $ref: '#/definitions/ModifierValueResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates a Product's `ModifierValue` based on the `product_id`,
        `modifier_id`, and `value_id`.
      operationId: updateModifierValue
      parameters:
        - name: ModifierValue
          in: body
          required: true
          description: |
            A BigCommerce `ModifierValue` object.
          schema:
            $ref: '#/definitions/ModifierValuePut'
      responses:
        '200':
          description: |
            A `ModifierValue` object.
          schema:
            $ref: '#/definitions/ModifierValueResponse'
        '422':
          description: >
            The `ModifierValue` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `ModifierValue` based on the `product_id`,
        `modifier_id`, and `value_id`.
      operationId: deleteModifierValueById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}/image':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ModifierIdParam'
      - name: value_id
        description: |
          The ID of the `Modifier`.
        required: true
        in: path
        type: integer
    post:
      tags:
        - Catalog
      description: >-
        Adds an image to a modifier value; the image will show on the storefront
        when the value is selected.
      operationId: createModifierImage
      parameters:
        - $ref: '#/parameters/ImageFileParam'
      consumes:
        - multipart/form-data
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: '#/definitions/ImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            Modifier image was not valid. This is the result of missing
            `image_file` fields, or of a non-URL value for the `image_file`
            field. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >-
        Deletes the image that was set to show when the modifier value is
        selected.
      operationId: deleteModifierImage
      responses:
        '204':
          description: Image removed from the modifier value.
  '/catalog/products/{product_id}/complex-rules':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `ComplexRule` objects.
      operationId: getComplexRules
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of `ComplexRule` objects and metadata.
          schema:
            $ref: '#/definitions/ComplexRuleCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `ComplexRule`.
      operationId: createComplexRule
      parameters:
        - name: ComplexRule
          in: body
          required: true
          description: |
            `ComplexRule` object.
          schema:
            $ref: '#/definitions/ComplexRulePost'
      responses:
        '200':
          description: |
            A `ComplexRule` object.
          schema:
            $ref: '#/definitions/ComplexRuleResponse'
        '409':
          description: >
            The `ComplexRule` was in conflict with another `ComplexRule`. This
            is the result of duplicate conditions.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `ComplexRule` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/complex-rules/{complex_rule_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ComplexRuleIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `ComplexRule` by product_id.
      operationId: getComplexRuleById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `Modifier` object.
          schema:
            $ref: '#/definitions/ComplexRuleResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates a Product's `ComplexRule`, based on the `product_id` and
        `complex_rule_id`.
      operationId: updateComplexRule
      parameters:
        - name: ComplexRule
          in: body
          required: true
          description: |
            `ComplexRule` object.
          schema:
            $ref: '#/definitions/ComplexRulePut'
      responses:
        '200':
          description: |
            A `ComplexRule` object.
          schema:
            $ref: '#/definitions/ComplexRuleResponse'
        '409':
          description: >
            The `ComplexRule` was in conflict with another `ComplexRule`. This
            is the result of duplicate conditions.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `ComplexRule` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `ComplexRule`, based on the `product_id` and
        `complex_rule_id`.
      operationId: deleteComplexRuleById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/configurable-fields':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `ConfigurableField` objects.
      operationId: getConfigurableFields
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
      responses:
        '200':
          description: |
            An array of `ConfigurableField` objects and metadata.
          schema:
            $ref: '#/definitions/ConfigurableFieldCollectionResponse'
      deprecated: true
    post:
      tags:
        - Catalog
      description: Creates a `ConfigurableField`.
      operationId: createConfigurableField
      parameters:
        - name: ConfigurableField
          in: body
          required: true
          description: |
            `ConfigurableField` object.
          schema:
            $ref: '#/definitions/ConfigurableFieldPost'
      responses:
        '200':
          description: |
            A `ConfigurableField` object.
          schema:
            $ref: '#/definitions/ConfigurableFieldResponse'
        '404':
          description: |
            The parent resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            The `ConfigurableField` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
  '/catalog/products/{product_id}/configurable-fields/{configurable_field_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ConfigurableFieldIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `ConfigurableField` by `product_id` and `configurable_field_id`.
      operationId: getConfigurableFieldById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `ConfigurableField` object.
          schema:
            $ref: '#/definitions/ConfigurableFieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
      deprecated: true
    put:
      tags:
        - Catalog
      description: >
        Updates a Product's `ConfigurableField`, based on the `product_id` and
        `configurable_field_id`.
      operationId: updateConfigurableField
      parameters:
        - name: ConfigurableField
          in: body
          required: true
          description: |
            `ConfigurableField` object.
          schema:
            $ref: '#/definitions/ConfigurableFieldPut'
      responses:
        '200':
          description: |
            A `ConfigurableField` object.
          schema:
            $ref: '#/definitions/ConfigurableFieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            The `ConfigurableField` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `ConfigurableField`, based on the `product_id` and
        `configurable_field_id`.
      operationId: deleteConfigurableFieldById
      responses:
        '204':
          description: |
            An empty response.
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
      deprecated: true
  '/catalog/products/{product_id}/custom-fields':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `CustomField` objects.
      operationId: getCustomFields
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
      responses:
        '200':
          description: |
            An array of `CustomField` objects and metadata.
          schema:
            $ref: '#/definitions/CustomFieldCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `CustomField`.
      operationId: createCustomField
      parameters:
        - name: CustomField
          in: body
          required: true
          description: |
            `CustomField` object.
          schema:
            $ref: '#/definitions/CustomFieldPost'
      responses:
        '200':
          description: |
            A `CustomField` object.
          schema:
            $ref: '#/definitions/CustomFieldResponse'
        '404':
          description: |
            The parent resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            The `CustomField` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/custom-fields/{custom_field_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/CustomFieldIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `CustomField` by `product_id` and `custom_field_id`.
      operationId: getCustomFieldById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `CustomField` object.
          schema:
            $ref: '#/definitions/CustomFieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates a Product's `CustomField`, based on the `product_id` and
        `custom_field_id`.
      operationId: updateCustomField
      parameters:
        - name: CustomField
          in: body
          required: true
          description: |
            `CustomField` object.
          schema:
            $ref: '#/definitions/CustomFieldPut'
      responses:
        '200':
          description: |
            A `CustomField` object.
          schema:
            $ref: '#/definitions/CustomFieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            The `CustomField` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `CustomField`, based on the `product_id` and
        `custom_field_id`.
      operationId: deleteCustomFieldById
      responses:
        '204':
          description: |
            An empty response.
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/bulk-pricing-rules':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/PageParam'
      - $ref: '#/parameters/LimitParam'
    get:
      tags:
        - Catalog
      description: Gets an array of `BulkPricingRule` objects.
      operationId: getBulkPricingRules
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of `BulkPricingRule` objects and metadata.
          schema:
            $ref: '#/definitions/BulkPricingRuleCollectionResponse'
        '404':
          description: |
            The parent resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a `BulkPricingRule`.
      operationId: createBulkPricingRule
      parameters:
        - name: BulkPricingRule
          in: body
          required: true
          description: |
            `BulkPricingRule` object.
          schema:
            $ref: '#/definitions/BulkPricingRulePost'
      responses:
        '200':
          description: |
            A `BulkPricingRule` object.
          schema:
            $ref: '#/definitions/BulkPricingRuleResponse'
        '404':
          description: |
            The parent resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            The `BulkPricingRule` was in conflict with another bulk pricing
            rule. This is the result of quantity range overlapping with existing
            bulk pricing rules.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `BulkPricingRule` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/bulk-pricing-rules/{bulk_pricing_rule_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/BulkPricingRuleIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `BulkPricingRule` by `product_id` and `bulk_pricing_rule_id`.
      operationId: getBulkPricingRuleById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `BulkPricingRule` object.
          schema:
            $ref: '#/definitions/BulkPricingRuleResponse'
        '404':
          description: |
            The resource or parent resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates a Product's `BulkPricingRule`, based on the `product_id` and
        `bulk_pricing_rule_id`.
      operationId: updateBulkPricingRule
      parameters:
        - name: BulkPricingRule
          in: body
          required: true
          description: |
            `BulkPricingRule` object.
          schema:
            $ref: '#/definitions/BulkPricingRulePut'
      responses:
        '200':
          description: |
            A `BulkPricingRule` object.
          schema:
            $ref: '#/definitions/BulkPricingRuleResponse'
        '404':
          description: |
            The resource or parent resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            The `BulkPricingRule` was in conflict with another bulk pricing
            rule. This is the result of quantity range overlapping with existing
            bulk pricing rules.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `BulkPricingRule` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `BulkPricingRule`, based on the `product_id` and
        `bulk_pricing_rule_id`.
      operationId: deleteBulkPricingRuleById
      responses:
        '204':
          description: |
            An empty response.
        '404':
          description: |
            The resource or parent resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/metafields':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `product_id`.
      operationId: getProductMetafieldsByProductId
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/MetafieldKeyParam'
        - $ref: '#/parameters/MetafieldNamespaceParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          schema:
            $ref: '#/definitions/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a product `Metafield`.
      operationId: createProductMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPost'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate unique key combinations of the app's
            client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/products/{product_id}/metafields/{metafield_id}':
    parameters:
      - $ref: '#/parameters/MetafieldIdParam'
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `product_id`.
      operationId: getProductMetafieldByProductId
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateProductMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPut'
      responses:
        '200':
          description: |
            A metafield and metadata.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteProductMetafieldById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/products/{product_id}/reviews':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets all reviews on a product.
      operationId: getProductReviews
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
      responses:
        '200':
          description: |
            List of product reviews and metadata.
          schema:
            $ref: '#/definitions/ProductReviewCollectionResponse'
        '204':
          description: |
            There are no reviews on this product.
        '404':
          description: |
            The product ID does not exist.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: |
        Creates a product review.
      operationId: createProductReview
      parameters:
        - name: productReview
          in: body
          required: true
          description: |
            A BigCommerce `ProductReview` object.
          schema:
            $ref: '#/definitions/ProductReviewPost'
      responses:
        '200':
          description: |
            A product review.
          schema:
            $ref: '#/definitions/ProductReviewResponse'
        '404':
          description: |
            The product ID does not exist.
          schema:
            $ref: '#/definitions/NotFound'
  '/catalog/products/{product_id}/reviews/{review_id}':
    parameters:
      - $ref: '#/parameters/ProductIdParam'
      - $ref: '#/parameters/ReviewIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a product review.
      operationId: getProductReviewById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of product reviews and metadata.
          schema:
            $ref: '#/definitions/ProductReviewResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a product review.
      operationId: updateProductReview
      parameters:
        - name: productReview
          in: body
          required: true
          description: |
            A BigCommerce `ProductReview` object.
          schema:
            $ref: '#/definitions/ProductReviewPut'
      responses:
        '200':
          description: |
            A product review.
          schema:
            $ref: '#/definitions/ProductReviewResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductReview` in the BigCommerce Catalog.
      operationId: deleteProductReview
      responses:
        '204':
          description: |
            An empty response.
  /catalog/categories:
    get:
      tags:
        - Catalog
      description: |
        Returns a paginated categories collection from the BigCommerce Catalog.
      operationId: getCategories
      parameters:
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterParentIdParam'
        - $ref: '#/parameters/FilterPageTitleParam'
        - $ref: '#/parameters/FilterKeywordParam'
        - $ref: '#/parameters/FilterIsVisibleParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of category objects and metadata.
          schema:
            $ref: '#/definitions/CategoryCollectionResponse'
    post:
      tags:
        - Catalog
      description: |
        Creates a `Category` in the BigCommerce Catalog.
      operationId: createCategory
      parameters:
        - name: category
          in: body
          required: true
          description: |
            A BigCommerce `Category` object.
          schema:
            $ref: '#/definitions/CategoryPost'
      responses:
        '200':
          description: |
            A category object.
          schema:
            $ref: '#/definitions/CategoryResponse'
        '409':
          description: >
            The `Category` was in conflict with another category. This is the
            result of duplicate unique values, such as `name` or `custom_url`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Category` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Category` objects from the BigCommerce Catalog.
      operationId: deleteCategories
      parameters:
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterParentIdParam'
        - $ref: '#/parameters/FilterPageTitleParam'
        - $ref: '#/parameters/FilterKeywordParam'
        - $ref: '#/parameters/FilterIsVisibleParam'
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/categories/{category_id}':
    parameters:
      - $ref: '#/parameters/CategoryIdParam'
    get:
      tags:
        - Catalog
      description: |
        Returns a `Category` from the BigCommerce Catalog.
      operationId: getCategoryById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A category object.
          schema:
            $ref: '#/definitions/CategoryResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a `Category` in the BigCommerce Catalog.
      operationId: updateCategory
      parameters:
        - name: category
          in: body
          required: true
          description: |
            A BigCommerce `Category` object.
          schema:
            $ref: '#/definitions/CategoryPut'
      responses:
        '200':
          description: |
            A category object.
          schema:
            $ref: '#/definitions/CategoryResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            The `Category` was in conflict with another category. This is the
            result of duplicate unique values, such as `name` or `custom_url`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Category` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Category` objects from the BigCommerce catalog.
      operationId: deleteCategoryById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/categories/{category_id}/metafields':
    parameters:
      - $ref: '#/parameters/CategoryIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by category_id.
      operationId: getCategoryMetafieldsByCategoryId
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/MetafieldKeyParam'
        - $ref: '#/parameters/MetafieldNamespaceParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          schema:
            $ref: '#/definitions/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a product `Metafield`.
      operationId: createCategoryMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPost'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate, unique key combinations of the app's
            client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/catalog/categories/{category_id}/metafields/{metafield_id}':
    parameters:
      - $ref: '#/parameters/MetafieldIdParam'
      - $ref: '#/parameters/CategoryIdParam'
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` by category_id.
      operationId: getCategoryMetafieldByCategoryId
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
      responses:
        '200':
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateCategoryMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: '#/definitions/MetafieldPut'
      responses:
        '200':
          description: |
            A metafield and metadata.
          schema:
            $ref: '#/definitions/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteCategoryMetafieldById
      responses:
        '204':
          description: |
            An empty response.
  '/catalog/categories/{category_id}/image':
    parameters:
      - $ref: '#/parameters/CategoryIdParam'
    post:
      tags:
        - Catalog
      parameters:
        - $ref: '#/parameters/ImageFileParam'
      consumes:
        - multipart/form-data
      description: >
        Creates an image on a category. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: createCategoryImage
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: '#/definitions/ImageResponse'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '422':
          description: >
            Image was not valid. This is the result of a missing `image_file`
            field or an incorrect file type. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Category` image from the BigCommerce Catalog.
      operationId: deleteCategoryImage
      responses:
        '204':
          description: |
            An empty response.
  /catalog/categories/tree:
    get:
      tags:
        - Catalog
      description: >
        Returns the categories tree, a nested lineage of the categories with
        parent->child relationship. The `Category` objects returned are
        simplified versions of the category objects returned in the rest of this
        API.
      operationId: getCategoryTree
      responses:
        '200':
          description: |
            A array of nested category tree objects and metadata.
          schema:
            $ref: '#/definitions/CategoryTreeCollectionResponse'
  /catalog/brands:
    get:
      description: Get all store brands. Optional filter parameters can be passed in.
      operationId: getBrands
      parameters:
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterPageTitleParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrandCollectionResponse'
          examples:
            application/json:
              data:
                - id: 35
                  name: Sagaform
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: ''
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /brands/Sagaform.html
                    is_customized: false
                - id: 36
                  name: OFS
                  page_title: OFS
                  meta_keywords:
                    - modern
                    - ' clean'
                    - ' contemporary'
                  meta_description: OFS is a modern brand.
                  image_url: ''
                  search_keywords: 'kitchen, laundry, cart, storage'
                  custom_url:
                    url: /brands/OFS.html
                    is_customized: false
                - id: 37
                  name: Common Good
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: ''
                  image_url: >-
                    https://cdn8.bigcommerce.com/s-jrah6gmn/product_images/k/screen%20shot%202018-05-07%20at%2012.24.24%20pm_1525785365__65102.png
                  search_keywords: ''
                  custom_url:
                    url: /brands/Common-Good.html
                    is_customized: false
                - id: 38
                  name: BigCommerce
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: ''
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /bigcommerce/
                    is_customized: false
                - id: 39
                  name: Test Brand One
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: ''
                  image_url: >-
                    https://cdn8.bigcommerce.com/s-jrah6gmn/product_images/q/apihqggzm__53766.jpg
                  search_keywords: ''
                  custom_url:
                    url: /test-brand-one/
                    is_customized: false
                - id: 40
                  name: Fog Linen Work
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /fog-linen-work/
                    is_customized: false
                - id: 41
                  name: Barr-Co.
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /barr-co/
                    is_customized: false
                - id: 42
                  name: Thames & Hudson
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /thames-hudson/
                    is_customized: false
                - id: 43
                  name: Able Brewing
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /able-brewing/
                    is_customized: false
                - id: 44
                  name: Chemex
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /chemex/
                    is_customized: false
                - id: 45
                  name: Kinfolk
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /kinfolk/
                    is_customized: false
                - id: 46
                  name: Iris Hantverk
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /iris-hantverk/
                    is_customized: false
                - id: 47
                  name: Gather Journal
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /gather-journal/
                    is_customized: false
                - id: 48
                  name: Openhouse Magazine
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /openhouse-magazine/
                    is_customized: false
                - id: 49
                  name: Smith Journal
                  page_title: ''
                  meta_keywords:
                    - ''
                  meta_description: null
                  image_url: ''
                  search_keywords: ''
                  custom_url:
                    url: /smith-journal/
                    is_customized: false
              meta:
                pagination:
                  total: 15
                  count: 15
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: '?page=1&limit=50'
      summary: Get All Brands
      tags:
        - Brands
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    post:
      description: Create a brand in the store.
      operationId: createBrand
      parameters:
        - name: Brand
          in: body
          required: true
          schema:
            $ref: '#/definitions/BrandPost'
          x-examples:
            application/json:
              name: Common Good
              meta_keywords: []
              image_url: >-
                https://cdn8.bigcommerce.com/s-123456/product_images/d/fakeimage.png
              custom_url:
                url: /brands/Common-Good.html
                is_customized: false
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrandResponse'
          examples:
            application/json:
              data:
                name: Common Good
                meta_keywords:
                  - 'modern, clean, contemporary'
                meta_description: Common Good is a modern brand.
                search_keywords: 'kitchen, laundry, cart, storage'
                custom_url:
                  url: /brands/Common-Good.html
                  is_customized: false
                id: 37
        '409':
          description: >
            Brand was in conflict with another brand. This is the result of
            duplicate unique fields such as name.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            Brand was not valid. This is the result of missing required fields,
            or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Create a Brand
      tags:
        - Brands
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    delete:
      description: >-
        Delete a brand(s) from the store. At least one filter parameter should
        be passed in so that you're deleting a set of brands discriminately.
      operationId: deleteBrands
      parameters:
        - $ref: '#/parameters/FilterNameParam'
        - $ref: '#/parameters/FilterPageTitleParam'
          description: >-
            Filter items by page_title.
            /v3/catalog/brands?page_title=BigCommerce
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: |
            An empty response.
      tags:
        - Brands
        - Catalog
      summary: Delete Brands
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
  '/catalog/brands/{brand_id}':
    parameters:
      - $ref: '#/parameters/BrandIdParam'
    get:
      description: Gets a Brand object.
      operationId: getBrandById
      parameters:
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrandResponse'
          examples:
            application/json:
              data:
                id: 35
                name: Sagaform
                page_title: ''
                meta_keywords:
                  - ''
                meta_description: ''
                image_url: ''
                search_keywords: ''
                custom_url:
                  url: /brands/Sagaform.html
                  is_customized: false
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
      summary: Get a Brand by Id
      tags:
        - Brands
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    put:
      description: Updates a Brand in the BigCommerce Catalog.
      operationId: updateBrand
      parameters:
        - name: brand
          in: body
          required: true
          schema:
            $ref: '#/definitions/BrandPut'
          x-examples:
            application/json:
              name: Common Good
              meta_keywords:
                - 'modern, clean, contemporary'
              search_keywords: 'kitchen, laundry, cart, storage'
              image_url: >-
                "https://cdn8.bigcommerce.com/s-12345/product_images/k/your-image-name.png
            application/json 2:
              name: Common Good
          description: >-
            When updating a `Brand` none of the fields are required. It is
            possible to pass in just one field to update.
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrandResponse'
          examples:
            application/json:
              data:
                id: 35
                name: Sagaform
                page_title: ''
                meta_keywords:
                  - ''
                meta_description: ''
                image_url: ''
                search_keywords: ''
                custom_url:
                  url: /brands/Sagaform.html
                  is_customized: false
              meta: {}
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
        '409':
          description: >
            The `Brand` was in conflict with another product. This is the result
            of duplicate unique values, such as `name`.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: >
            The `Brand` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Update a Brand
      tags:
        - Brands
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    delete:
      description: Deletes a Brand from the BigCommerce Catalog.
      operationId: deleteBrandById
      responses:
        '204':
          description: |
            An empty response.
      summary: Delete Brand by Id
      tags:
        - Brands
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
  '/catalog/brands/{brand_id}/metafields':
    parameters:
      - $ref: '#/parameters/BrandIdParam'
    get:
      description: 'Gets a Metafield object list, by `brand_id`.'
      operationId: getBrandMetafieldsByBrandId
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/MetafieldKeyParam'
        - $ref: '#/parameters/MetafieldNamespaceParam'
        - $ref: '#/parameters/FilterIncludeFieldsParam'
        - $ref: '#/parameters/FilterExcludeFieldsParam'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/Accept'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/MetaFieldCollectionResponse'
          examples:
            application/json:
              data:
                - permission_set: app_only
                  namespace: Warehouse Locations
                  key: Location
                  value: 4HG
                  description: Location in the warehouse
                  resource_type: brand
                  resource_id: 111
                  id: 6
                  created_at: '1973-01-20T21:34:57.903Z'
                  updated_at: '1990-12-30T00:29:23.515Z'
                - permission_set: read
                  namespace: Warehouse Locations
                  key: Location
                  value: 4HG
                  description: Location in the warehouse
                  resource_type: brand
                  resource_id: 111
                  id: 6
                  created_at: '1973-01-20T21:34:57.903Z'
                  updated_at: '1990-12-30T00:29:23.515Z'
                - permission_set: app_only
                  namespace: Warehouse Locations
                  key: Location
                  value: 4HG
                  description: Location in the warehouse
                  resource_type: brand
                  resource_id: 111
                  id: 6
                  created_at: '1973-01-20T21:34:57.903Z'
                  updated_at: '1990-12-30T00:29:23.515Z'
              meta:
                pagination:
                  total: 3
                  count: 3
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: '?page=1&limit=50'
        '404':
          description: |
            The resource was not found.
          schema:
            $ref: '#/definitions/NotFound'
      summary: Get Brand Metafields
      tags:
        - Brands
        - Catalog
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    post:
      description: Creates a product `Metafield`.
      operationId: createBrandMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          schema:
            $ref: '#/definitions/MetafieldPost'
          x-examples:
            application/json:
              permission_set: app_only
              namespace: App Namespace
              key: location_id
              value: 'Shelf 3, Bin 5'
              description: Product Location
              resource_type: brand
[...]
