{
  "swagger": "2.0",
  "info": {
    "version": "3",
    "title": "Shipping V3",
    "description": "V3 REST API shipping endpoints."
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{$$.env.store_hash}/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/shipping/products/customs-information": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/customsInformation"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/metaCollection"
                }
              }
            }
          }
        },
        "description": "Get customs information for products.\n\n## Examples\n\nThis list can be filtered to return customs information objects specific to a list of requested product_ids. This is achieved by appending the query string **?product_id:in=4,5,6** to the resource **/shipping/products/customs-information**.\n\n```http\nGET /shipping/products/customs-information?product_id:in=4,5,6\n```",
        "tags": [
          "Products"
        ],
        "summary": "Get Customs Information",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "query",
            "name": "product_id:in",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "A coma separated list of product IDs. For more information, see [Filtering](https://developer.bigcommerce.com/api-docs/getting-started/filtering)"
          },
          {
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Delete Customs Information",
        "description": "Deletes customs information objects for a product. \n\n## Example\n\nThis is a batch operation. The `product_id` query parameter is required.\n\n```http\nDELETE /shipping/products/customs-information?product_id:in=4,5,6\n```",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "default": "application/json"
          },
          {
            "in": "query",
            "name": "product_id:in",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "required": true
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customsInformation"
              }
            }
          }
        },
        "summary": "Upsert Customs Information",
        "description": "Creates and update product customs information.\n\nThis is a batch operation where the creation of multiple customs information objects can be done with one `PUT` request.\n\n## Limits\n* Limit of 50 customs information objects per `PUT` request.",
        "tags": [
          "Products"
        ]
      }
    }
  },
  "definitions": {
    "TrackingCarrier": {
      "title": "Tracking Carrier",
      "example": "auspost",
      "x-enum-elements": [
        {
          "name": "auspost",
          "description": ""
        },
        {
          "name": "canadapost",
          "description": ""
        },
        {
          "name": "endicia",
          "description": ""
        },
        {
          "name": "usps",
          "description": ""
        },
        {
          "name": "fedex",
          "description": ""
        },
        {
          "name": "royalmail",
          "description": ""
        },
        {
          "name": "ups",
          "description": ""
        },
        {
          "name": "upsready",
          "description": ""
        },
        {
          "name": "shipperhq",
          "description": ""
        }
      ],
      "type": "string",
      "enum": [
        "auspost",
        "canadapost",
        "endicia",
        "usps",
        "fedex",
        "royalmail",
        "ups",
        "upsready",
        "shipperhq"
      ]
    },
    "ShippingZoneLocations": {
      "title": "Shipping Zone Locations",
      "type": "object",
      "properties": {
        "id": {
          "description": "Location’s ID.",
          "example": 3,
          "type": "integer"
        },
        "zip": {
          "description": "Location’s ZIP/postal code.",
          "example": 12345,
          "type": "string"
        },
        "country_iso2": {
          "description": "2-letter ISO Alpha-2 code for the country.",
          "example": "US",
          "type": "string"
        },
        "state_iso2": {
          "description": "ISO Alpha-2 code for the state.",
          "example": "TX",
          "type": "string"
        }
      }
    },
    "shippingMethod_Full": {
      "title": "shippingMethod_Full",
      "allOf": [
        {
          "type": "object",
          "properties": {
            "id": {
              "description": "Shipping-method ID. READ-ONLY",
              "example": 1,
              "type": "integer"
            }
          }
        },
        {
          "$ref": "#/definitions/shippingMethod_Base"
        }
      ]
    },
    "shippingMethod_Base": {
      "title": "shippingMethod_Base",
      "type": "object",
      "properties": {
        "name": {
          "description": "Display name for shipping method.",
          "example": "Flat Rate",
          "type": "string"
        },
        "type": {
          "title": "Shipping Method Type",
          "example": "perorder",
          "x-enum-elements": [
            {
              "name": "perorder",
              "description": ""
            },
            {
              "name": "peritem",
              "description": ""
            },
            {
              "name": "weight",
              "description": ""
            },
            {
              "name": "total",
              "description": ""
            },
            {
              "name": "auspost",
              "description": ""
            },
            {
              "name": "canadapost",
              "description": ""
            },
            {
              "name": "endicia",
              "description": ""
            },
            {
              "name": "usps",
              "description": ""
            },
            {
              "name": "fedex",
              "description": ""
            },
            {
              "name": "royalmail",
              "description": ""
            },
            {
              "name": "upsready",
              "description": ""
            }
          ],
          "type": "string",
          "enum": [
            "perorder",
            "peritem",
            "weight",
            "total",
            "auspost",
            "canadapost",
            "endicia",
            "usps",
            "fedex",
            "royalmail",
            "upsready"
          ]
        },
        "settings": {
          "description": "Depends on the shipping-method type. See the [supported settings object](#supported-settings).",
          "type": "object",
          "properties": {
            "rate": {
              "type": "number",
              "description": "Flat rate per order. ",
              "example": 7
            }
          }
        },
        "enabled": {
          "description": "Whether or not this shipping-zone method is enabled.",
          "example": true,
          "type": "boolean"
        },
        "handling_fees": {
          "type": "object",
          "enum": [
            "fixed_surcharge",
            "percentage_surcharge"
          ],
          "example": "percentage_surcharge",
          "description": "`fixed_surcharge`: flat-rate handling fee applied to shipping cost.\n\n`percentage_surcharge`: percentage handling fee applied to shipping cost"
        },
        "is_fallback": {
          "description": "Whether or not this shipping zone is the fallback if all others are not valid for the order.",
          "example": false,
          "type": "boolean"
        }
      }
    },
    "carrierConnection": {
      "type": "object",
      "title": "Carrier Connection",
      "properties": {
        "carrier_id": {
          "type": "string"
        },
        "connection": {
          "type": "object",
          "description": "`connection` object varies by carrier"
        }
      }
    },
    "customsInformation": {
      "title": "customsInformation",
      "description": "Data about the customs information object.",
      "type": "object",
      "minProperties": 5,
      "maxProperties": 5,
      "properties": {
        "product_id": {
          "description": "The id of the product which the customs information data will apply to.",
          "type": "integer",
          "format": "int32",
          "example": 77
        },
        "country_of_origin": {
          "description": "The country of manufacture, production, or growth represented in ISO 3166-1 alpha-2 format.",
          "type": "string",
          "pattern": "^[A-Z]{2}$",
          "minLength": 2,
          "maxLength": 2,
          "example": "US"
        },
        "commodity_description": {
          "description": "Description that provides information for customs to identify and verify shapes physical characteristics and packaging of each shipment.",
          "type": "string",
          "minLength": 0,
          "maxLength": 100,
          "example": "Baseball caps"
        },
        "international_shipping": {
          "description": "Flag to determine whether this product will be shipped internationally",
          "type": "boolean",
          "enum": [
            true,
            false
          ],
          "example": true
        },
        "hs_codes": {
          "$ref": "#/definitions/harmonizedSystemCodes"
        }
      }
    },
    "harmonizedSystemCodes": {
      "title": "harmonizedSystemCodes",
      "description": "Key value pair commonly used in the form of **countryISO2:'/^[0-9A-Za-z]{6,14}$/'**. This is to represent a country and the associated hs code that applies to that country. Eg {\"US\":\"508313\",\"AU\":\"850610\"}.\n\nThere is a special value of **'ALL'** which can be used in place of the countryISO2 to represent that the hs code applies to all countries. Eg {\"ALL\":\"634000\"}. This can be combined with other countries in the hs codes object. For Eg {\"All\":\"640000\", \"US\":\"641000\"}",
      "type": "object",
      "example": {
        "CA": "508313",
        "AU": "817355",
        "ALL": "501000"
      }
    },
    "metaCollection": {
      "title": "metaCollection",
      "description": "Meta data relating to pagination",
      "type": "object",
      "properties": {
        "pagination": {
          "type": "object",
          "properties": {
            "total": {
              "type": "integer",
              "description": "Total number of items returned.",
              "example": 3
            },
            "count": {
              "type": "integer",
              "description": "Number of items returned on per page.",
              "example": 1
            },
            "per_page": {
              "type": "integer",
              "description": "Number of items to be displayed per page.",
              "example": 1
            },
            "current_page": {
              "type": "integer",
              "description": "Current page number.",
              "example": 2
            },
            "total_page": {
              "type": "integer",
              "description": "Total number of pages.",
              "example": 3
            },
            "links": {
              "type": "object",
              "properties": {
                "previous": {
                  "type": "string",
                  "description": "Query string appended to the resource to return to the previous page.",
                  "example": "?limit=1&page=1"
                },
                "next": {
                  "type": "string",
                  "description": "Query string appended to the resource to proceed to the next page.",
                  "example": "?limit=1&page=3"
                },
                "current": {
                  "type": "string",
                  "description": "Query string appended to the resource to show the current page.",
                  "example": "?limit=1&page=2"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Shipping Method"
    },
    {
      "name": "Shipping Carrier"
    },
    {
      "name": "Shipping Zones"
    },
    {
      "name": "Shipping Products Custom Information"
    },
    {
      "name": "Products"
    }
  ],
  "securityDefinitions": {
    "X-Auth-Token": {
      "type": "apiKey",
      "name": "X-Auth-Token",
      "in": "header",
      "description": "### OAuth Scopes\n|  **UI Name** | **Permission** | **Parameter** |\n| --- | --- | --- |\n|  Information & Settings | modify | `store_v2_information` |\n|  Information & Settings | read-only | `store_v2_information_read_only` |\n\n### Headers\n\n|Header|Parameter|Description|\n|-|-|-|\n|`X-Auth-Client`|`client_id`|Obtained by creating an API account or installing an app in a BigCommerce control panel.|\n|`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|\n\n### Example\n\n```http\nGET /stores/{$$.env.store_hash}/v3/catalog/summary\nhost: api.bigcommerce.com\nContent-Type: application/json\nX-Auth-Token: {access_token}\n```\n\n* For more information on Authenticating BigCommerce APIs, see: [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). "
    }
  },
  "security": [
    {
      "X-Auth-Client": []
    },
    {
      "X-Auth-Token": []
    }
  ],
  "x-stoplight": {
    "docs": {
      "includeDownloadLink": true,
      "showModels": false
    }
  }
}