swagger: '2.0'
info:
  version: '2.0'
  title: Shipping
  description: >-
    ### Shipping Zones

    The Shipping Zone object and endpoints manage shipping zones within
    countries.


    ### Shipping Methods

    The Shipping Methods object and endpoints manage shipping rules within
    Shipping Zones. These rules determine the shipping rates displayed at
    checkout, and related parts of the control panel, such as the shipping of
    manual orders.


    ### Shipping Carrier Connections

    Carrier connections refer to specific settings required to connect to a
    specific shipping carrier. Each carrier requires your app to supply a unique
    set of properties/fields to establish a connection with that carrier.
host: api.bigcommerce.com
basePath: '/stores/{$$.env.store_hash}/v2'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /shipping/products/customs-information:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/customsInformation'
              meta:
                $ref: '#/definitions/metaCollection'
      description: >+
        # Shipping Customs Information

        - [OAuth Scopes](#oauth-scopes)

        - [Authentication](#authentication)

        - [Available Endpoints](#available-endpoints)


        The customs duty and taxes liability amounts associated with importing
        an overseas shipment. 


        `GET` Returns a list of customs information.


        This list can be filtered to return customs information objects specific
        to a list of requested product_ids. This is achieved by appending the
        query string **?product_id:in=4,5,6** to the resource
        **/shipping/products/customs-information**.

            GET /shipping/products/customs-information?product_id:in=4,5,6

        **Note:** that usage of this API assumes that there is an existing
        product to associate customs information data with.


        ## OAuth Scopes

        | UI Name | Permission | Parameter |

        |--|--|--|

        |Products|modify|`store_v2_products`|

        |Products|read-only|`store_v2_products_read_only`|



        For more information on OAuth Scopes, see:
        [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).


        ## Authentication


        Requests can be authenticated by sending a `client_id` and
        `access_token` via `X-Auth-Client` and `X-Auth-Token` HTTP headers:


        ```http

        GET /stores/{$$.env.store_hash}/v2/catalog/summary

        host: api.bigcommerce.com

        Accept: application/json

        X-Auth-Client: {client_id}

        X-Auth-Token: {access_token}

        ```


        |Header|Parameter|Description|

        |-|-|-|

        |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
        installing an app in a BigCommerce control panel.|

        |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
        installing an app in a BigCommerce control panel.|


        For more information on Authenticating BigCommerce APIs, see:
        [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication).



      tags:
        - Shipping Products Custom Information
      produces:
        - application/json
      summary: Get All Product Customs Information
      parameters:
        - in: header
          name: Accept
          type: string
          default: application/json
        - in: header
          name: Content-Type
          type: string
          default: application/json
        - in: query
          name: 'product_id:in'
          type: array
          items:
            type: integer
        - in: query
          name: page
          type: integer
        - in: query
          name: limit
          type: integer
    delete:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties: {}
      summary: Delete Products Customs Information
      description: >-
        Deletes customs information objects for a product. This is a batch
        operation where the query string **?product_id:in=4,5,6** **MUST** be
        appended to the resource **/shipping/products/customs-information** to
        remove a list or a singular customs information object.

            DELETE /shipping/products/customs-information?product_id:in=4,5,6

        >**Note** 

        > <br>

        > A DELETE to the base url /shipping/products/customs-information does
        not work without the query string**
      tags:
        - Shipping Products Custom Information
      produces:
        - application/json
      parameters:
        - in: header
          name: Accept
          type: string
          default: application/json
        - in: header
          name: Content-Type
          type: string
          default: application/json
        - in: query
          name: 'product_id:in'
          type: array
          items:
            type: integer
    put:
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/customsInformation'
      summary: Upsert Products Customs Information
      description: >-
        Creates/Updates a list customs information.


        This is a batch operation where the creation of multiple customs
        information objects can be done with one `PUT` request.


        >**Note**

        > <br>

        > Limit of 50 customs information objects can be created with one `PUT`
        request.
      tags:
        - Shipping Products Custom Information
      produces:
        - application/json
definitions:
  TrackingCarrier:
    title: Tracking Carrier
    example: auspost
    x-enum-elements:
      - name: auspost
        description: ''
      - name: canadapost
        description: ''
      - name: endicia
        description: ''
      - name: usps
        description: ''
      - name: fedex
        description: ''
      - name: royalmail
        description: ''
      - name: ups
        description: ''
      - name: upsready
        description: ''
      - name: shipperhq
        description: ''
    type: string
    enum:
      - auspost
      - canadapost
      - endicia
      - usps
      - fedex
      - royalmail
      - ups
      - upsready
      - shipperhq
  ShippingProvider:
    title: Shipping Provider
    x-enum-elements:
      - name: Enum_0
        description: empty string
      - name: Enum_1
        description: ''
      - name: Enum_2
        description: ''
      - name: Enum_3
        description: ''
      - name: Enum_4
        description: ''
      - name: Enum_5
        description: ''
      - name: Enum_6
        description: ''
      - name: Enum_7
        description: ''
      - name: Enum_8
        description: ''
      - name: Enum_9
        description: ''
      - name: Enum_10
        description: ''
    type: string
    enum:
      - '``'
      - fedex
      - auspost
      - canadapost
      - endicia
      - usps
      - royalmail
      - ups
      - upsready
      - upsonline
      - shipperhq
    example: endicia
  ShippingZone:
    title: Shipping Zone
    example:
      id: 1
      name: United States
      type: zip
      locations:
        - id: 3
          zip: 12345
          country_iso2: US
          state_iso2: TX
      free_shipping:
        enabled: false
        minimum_subtotal: 0
        exclude_fixed_shipping_products: false
      handling_fees:
        fixed_surcharge: 0
        percentage_surcharge: ''
        display_separately: true
      enabled: true
    type: object
    properties:
      id:
        type: integer
        description: Zone Id. READ-ONLY
        example: 1
      name:
        type: string
        description: Zone name. Required for /PUT
        example: United States
      type:
        type: string
        enum:
          - zip
          - country
          - state
          - global
      locations:
        description: Array of zone locations.
        type: array
        items:
          title: Shipping Zone Locations
          type: object
          properties:
            id:
              description: Location’s ID.
              example: 3
              type: integer
            zip:
              description: Location’s ZIP/postal code.
              example: 12345
              type: string
            country_iso2:
              description: 2-letter ISO Alpha-2 code for the country.
              example: US
              type: string
            state_iso2:
              description: ISO Alpha-2 code for the state.
              example: TX
              type: string
      free_shipping:
        type: object
        properties:
          enabled:
            type: boolean
          minimum_sub_total:
            type: string
            example: '0.0000'
            description: '(Float, Float-As-String, Integer)'
          exclude_fixed_shipping_products:
            type: boolean
      handling_fees:
        title: Shipping Zone Handling Fees
        type: object
        properties:
          fixed_surcharge:
            description: ''
            example: 0
            type: string
          percentage_surcharge:
            description: ''
            type: string
          display_separately:
            description: ''
            example: true
            type: boolean
      enabled:
        description: Whether this shipping zone is enabled.
        example: true
        type: boolean
    required:
      - name
  ShippingZoneLocations:
    title: Shipping Zone Locations
    type: object
    properties:
      id:
        description: Location’s ID.
        example: 3
        type: integer
      zip:
        description: Location’s ZIP/postal code.
        example: 12345
        type: string
      country_iso2:
        description: 2-letter ISO Alpha-2 code for the country.
        example: US
        type: string
      state_iso2:
        description: ISO Alpha-2 code for the state.
        example: TX
        type: string
  HandlingFees:
    title: Shipping Zone Handling Fees
    type: object
    properties:
      fixed_surcharge:
        description: ''
        example: 0
        type: string
      percentage_surcharge:
        description: ''
        type: string
      display_separately:
        description: ''
        example: true
        type: boolean
  shippingMethod_Full:
    title: shippingMethod_Full
    allOf:
      - type: object
        properties:
          id:
            description: Shipping-method ID. READ-ONLY
            example: 1
            type: integer
      - $ref: '#/definitions/shippingMethod_Base'
  ShippingMethodType:
    title: Shipping Method Type
    example: perorder
    x-enum-elements:
      - name: perorder
        description: ''
      - name: peritem
        description: ''
      - name: weight
        description: ''
      - name: total
        description: ''
      - name: auspost
        description: ''
      - name: canadapost
        description: ''
      - name: endicia
        description: ''
      - name: usps
        description: ''
      - name: fedex
        description: ''
      - name: royalmail
        description: ''
      - name: upsready
        description: ''
    type: string
    enum:
      - perorder
      - peritem
      - weight
      - total
      - auspost
      - canadapost
      - endicia
      - usps
      - fedex
      - royalmail
      - upsready
  shippingMethod_Base:
    title: shippingMethod_Base
    type: object
    properties:
      name:
        description: Display name for shipping method.
        example: Flat Rate
        type: string
      type:
        title: Shipping Method Type
        example: perorder
        x-enum-elements:
          - name: perorder
            description: ''
          - name: peritem
            description: ''
          - name: weight
            description: ''
          - name: total
            description: ''
          - name: auspost
            description: ''
          - name: canadapost
            description: ''
          - name: endicia
            description: ''
          - name: usps
            description: ''
          - name: fedex
            description: ''
          - name: royalmail
            description: ''
          - name: upsready
            description: ''
        type: string
        enum:
          - perorder
          - peritem
          - weight
          - total
          - auspost
          - canadapost
          - endicia
          - usps
          - fedex
          - royalmail
          - upsready
      settings:
        description: >-
          Depends on the shipping-method type. See the [supported settings
          object](#supported-settings).
        type: object
        properties:
          rate:
            type: number
            description: 'Flat rate per order. '
            example: 7
      enabled:
        description: Whether or not this shipping-zone method is enabled.
        example: true
        type: boolean
      handling_fees:
        type: object
        enum:
          - fixed_surcharge
          - percentage_surcharge
        example: percentage_surcharge
        description: >-
          `fixed_surcharge`: flat-rate handling fee applied to shipping cost.


          `percentage_surcharge`: percentage handling fee applied to shipping
          cost
      is_fallback:
        description: >-
          Whether or not this shipping zone is the fallback if all others are
          not valid for the order.
        example: false
        type: boolean
  ShippingResponse:
    type: object
    properties: {}
    title: ShippingResponse
  carrierConnection:
    type: object
    title: Carrier Connection
    properties:
      carrier_id:
        type: string
      connection:
        type: object
        description: '`connection` object varies by carrier'
  customsInformation:
    title: customsInformation
    description: Data about the customs information object.
    type: object
    minProperties: 5
    maxProperties: 5
    properties:
      product_id:
        description: >-
          The id of the product which the customs information data will apply
          to.
        type: integer
        format: int32
        example: 77
      country_of_origin:
        description: >-
          The country of manufacture, production, or growth represented in ISO
          3166-1 alpha-2 format.
        type: string
        pattern: '^[A-Z]{2}$'
        minLength: 2
        maxLength: 2
        example: US
      commodity_description:
        description: >-
          Description that provides information for customs to identify and
          verify shapes physical characteristics and packaging of each shipment.
        type: string
        minLength: 0
        maxLength: 100
        example: Baseball caps
      international_shipping:
        description: Flag to determine whether this product will be shipped internationally
        type: boolean
        enum:
          - true
          - false
        example: true
      hs_codes:
        $ref: '#/definitions/harmonizedSystemCodes'
  harmonizedSystemCodes:
    title: harmonizedSystemCodes
    description: >-
      Key value pair commonly used in the form of
      **countryISO2:'/^[0-9A-Za-z]{6,14}$/'**. This is to represent a country
      and the associated hs code that applies to that country. Eg
      {"US":"508313","AU":"850610"}.


      There is a special value of **'ALL'** which can be used in place of the
      countryISO2 to represent that the hs code applies to all countries. Eg
      {"ALL":"634000"}. This can be combined with other countries in the hs
      codes object. For Eg {"All":"640000", "US":"641000"}
    type: object
    example:
      CA: '508313'
      AU: '817355'
      ALL: '501000'
  metaCollection:
    title: metaCollection
    description: Meta data relating to pagination
    type: object
    properties:
      pagination:
        type: object
        properties:
          total:
            type: integer
            description: Total number of items returned.
            example: 3
          count:
            type: integer
            description: Number of items returned on per page.
            example: 1
          per_page:
            type: integer
            description: Number of items to be displayed per page.
            example: 1
          current_page:
            type: integer
            description: Current page number.
            example: 2
          total_page:
            type: integer
            description: Total number of pages.
            example: 3
          links:
            type: object
            properties:
              previous:
                type: string
                description: >-
                  Query string appended to the resource to return to the
                  previous page.
                example: '?limit=1&page=1'
              next:
                type: string
                description: >-
                  Query string appended to the resource to proceed to the next
                  page.
                example: '?limit=1&page=3'
              current:
                type: string
                description: >-
                  Query string appended to the resource to show the current
                  page.
                example: '?limit=1&page=2'
tags:
  - name: Shipping Method
  - name: Shipping Carrier
  - name: Shipping Zones
  - name: Shipping Products Custom Information
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Information & Settings | modify | `store_v2_information` |

      |  Information & Settings | read-only | `store_v2_information_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: >-
      ### OAuth Scopes

      |  **UI Name** | **Permission** | **Parameter** |

      | --- | --- | --- |

      |  Information & Settings | modify | `store_v2_information` |

      |  Information & Settings | read-only | `store_v2_information_read_only` |


      ### Headers


      |Header|Parameter|Description|

      |-|-|-|

      |`X-Auth-Client`|`client_id`|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|

      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or
      installing an app in a BigCommerce control panel.|


      ### Example


      ```http

      GET /stores/{$$.env.store_hash}/v3/catalog/summary

      host: api.bigcommerce.com

      Content-Type: application/json

      X-Auth-Client: {client_id}

      X-Auth-Token: {access_token}

      ```


      * For more information on Authenticating BigCommerce APIs, see:
      [Authentication](https://developer.bigcommerce.com/api-docs/getting-started/authentication). 
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
