.title {
	text-align: center;
}

.container {
	display: flex;  /* or inline-flex */
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: left;
	align-items: stretch;
	aligh-content: center;
}

.item {
	width: 40%;
	border: 2px solid gray;
	padding: 8px;
	flex-grow: 0;
	text-align: center;
}

.helper-name {
	padding: 10px;
	color: #4b71fc;
}

.helper-def {
	padding: 10px;
	font-style: italic;
}

.helper-param {
	color: #5d5b66;
}

.param-box {
	background-color: #edf1ff;
	text-align: left;
}

.helper-example {
	padding: 15px;
	color: #5d5b66;
}