.container {
	display: flex;  /* or inline-flex */
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	aligh-content: center;
}

.item {
	width: 45%;
	border: 2px solid gray;
	flex-grow: 1;
}

.helper-name {
	padding: 10px;
	color: #4b71fc;
}

.helper-def {
	padding: 10px;
	font-style: italic;  /*   color: #34313f; */
}

.helper-param {
	padding: 10px;
	color: #5d5b66;
}

.param-box {
	background-color: #edf1ff;  /* 	width: 70%; */
	position: relative;
	left: 10px;
}

.helper-example {
	padding: 15px;
	color: #5d5b66;
}

p {
	padding: 3px;
	position: relative;
	left: 10px;
}

.title {
	text-align: center;
}