swagger: '2.0'
info:
  version: '1.0'
  title: BigCommerce V2 Orders API
  description: >-
    Orders APIs integrate with point-of-sale, shipping, distribution, and
    inventory-management systems. They include Orders, Order Coupons, Order
    Messages, Order Products, Order Shipping Addresses, Order Statuses, Order
    Taxes, and Shipments.
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v2'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/stores/{store_hash}/v2/orders/{id}':
    get:
      description: >-
        Gets the collection of orders. (The default sort is by order id, from
        lowest to highest.)
      summary: Get an Order
      tags:
        - Orders
      operationId: StoresV2OrdersByStoreHashAndIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: id
          in: path
          required: true
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Order id.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Order'
          examples:
            application/json:
              id: 118
              customer_id: 6
              date_created: 'Mon, 23 Apr 2018 18:04:48 +0000'
              date_modified: 'Mon, 23 Apr 2018 18:04:49 +0000'
              date_shipped: 'Wed, 14 Nov 2012 19:26:23 +0000"'
              status_id: 11
              cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
              status: Awaiting Fulfillment
              subtotal_ex_tax: 225
              subtotal_inc_tax: 225
              subtotal_tax: 0
              base_shipping_cost: 0
              shipping_cost_ex_tax: 0
              shipping_cost_inc_tax: 0
              shipping_cost_tax: 0
              shipping_cost_tax_class_id: 2
              base_handling_cost: 0
              handling_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_tax: 0
              handling_cost_tax_class_id: 2
              base_wrapping_cost: 0
              wrapping_cost_ex_tax: 0
              wrapping_cost_inc_tax: 0
              wrapping_cost_tax: 0
              wrapping_cost_tax_class_id: 3
              total_ex_tax: 225
              total_inc_tax: 225
              total_tax: 0
              items_total: 1
              items_shipped: 0
              payment_method: Cash on Delivery
              payment_provider_id: null
              refunded_amount: 0
              order_is_digital: false
              store_credit_amount: 0
              gift_certificate_amount: 0
              ip_address: 12.345.678.910
              geoip_country: United States
              geoip_country_iso2: US
              currency_id: 1
              currency_code: USD
              currency_exchange_rate: 1
              default_currency_id: 1
              default_currency_code: '``'
              staff_notes: Send Saturday
              customer_message: Thank you
              discount_amount: 0
              coupon_discount: 5
              shipping_address_count: 1
              is_deleted: false
              is_email_opt_in: false
              ebay_order_id: 0
              billing_address:
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Austin
                state: TX
                zip: 12345
                country: United States
                country_iso2: US
                phone: ''
                email: janedoe@email.com
                form_fields:
                  - name: ''
                    value: ''
              order_source: www
              external_source: null
              products:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products
                resource: /orders/129/products
              shipping_addresses:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses
                resource: /orders/129/shippingaddresses
              coupons:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons
                resource: /orders/129/coupons
              external_id: null
              external_merchant_id: null
              custom_status: Awaiting Payment
            Response Schema:
              billing_address:
                first_name: adipisicing dolore esse
                last_name: cupidatat esse ullamco
                company: nostrud enim ullamco
                street_1: deserunt incididunt mollit laborum
                street_2: cupidatat reprehenderit labore
                city: adipisicing aute eu
                state: do magna velit
                zip: ullamco Excepteur nisi
                country: dolore in
                country_iso2: nostrud in in
                phone: qui sed ad
                email: Lorem esse
                form_fields:
                  - name: nisi
                    value: enim exercitation dolore laboris sint
                  - name: fugiat
                    value: ut in dolore
                  - name: Duis officia laborum quis
                    value: Duis magna sint
              products:
                url: aliqua ullamco id pariatur
                resource: velit magna consectetur sed ullamco
              id: -65808069
              customer_id: -41595203
              date_created: '2018-04-26T01:39:57.407Z'
              date_modified: '1948-11-04T15:59:45.502Z'
              date_shipped: '1954-03-12T16:46:26.725Z'
              status_id: -16036241
              cart_id: incididunt commodo exercitation
              status: do laboris et
              custom_status: elit anim non et
              subtotal_ex_tax: aliqua et ex labore
              subtotal_inc_tax: aliqua culpa amet
              subtotal_tax: magna
              base_shipping_cost: ullamco in id
              shipping_cost_ex_tax: dolor qui ad
              shipping_cost_inc_tax: tempor culpa ea eu ex
              shipping_cost_tax: occaecat culpa ea
              shipping_cost_tax_class_id: -88118410
              base_handling_cost: exercitation nostrud aliqua deserunt
              handling_cost_ex_tax: esse
              handling_cost_inc_tax: -38380381.7709222
              handling_cost_tax: incididunt esse magna adipisicing id
              handling_cost_tax_class_id: 66034692
              base_wrapping_cost: -64470003
              wrapping_cost_ex_tax: consectetur eu
              wrapping_cost_inc_tax: nisi dol
              wrapping_cost_tax: adipisicing Ut Duis in
              wrapping_cost_tax_class_id: -1854825
              total_ex_tax: fugiat Ut Lorem
              total_inc_tax: Duis incididunt est Excepteur
              total_tax: ipsum eu voluptate do velit
              items_total: -72689024.0753983
              items_shipped: -73676844.2452027
              payment_method: proident dolor aute
              payment_provider_id: mollit tempor amet velit in
              payment_status: dolore ullamco fugiat consequat
              refunded_amount: Ut pariatur fugiat voluptate
              order_is_digital: true
              store_credit_amount: deserunt quis ullamco incididunt
              gift_certificate_amount: sunt voluptate dolore eu
              ip_address: Duis do aliqua sint proident
              geoip_country: irure
              geoip_country_iso2: dolore minim tempor aute
              currency_id: -6158574
              currency_code: ut voluptate eiusmod
              currency_exchange_rate: quis deserunt ut
              default_currency_id: -75033717
              default_currency_code: proident dolor Ut irure magna
              staff_notes: ips
              customer_message: qui
              discount_amount: labor
              coupon_discount: mollit Duis
              shipping_address_count: -55895647.68705442
              is_deleted: true
              is_email_opt_in: true
              ebay_order_id: in non nostrud
              order_source: et dolor
              external_source: anim tempor id
              shipping_addresses:
                url: dolore quis ea exercitation
                resource: labore minim ullamco
              coupons:
                url: consequat
                resource: quis
              external_id: nulla dolor
              external_merchant_id: Ut laboris
        '404':
          description: '"The requested resource was not found."'
          schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    put:
      description: >-
        ## Read-only Properties


        *   id

        *   date_modified

        *   date_shipped

        *   status

        *   order_source

        *   subtotal_tax

        *   shipping_cost_tax

        *   shipping_cost_tax_class_id

        *   handling_cost_tax

        *   handling_cost_tax_class_id

        *   wrapping_cost_tax

        *   wrapping_cost_tax_class_id

        *   total_tax

        *   payment_status

        *   currency_id

        *   currency_code

        *   currency_exchange_rate

        *   default_currency_id

        *   default_currency_code

        *   coupon_discount

        *   store_credit_amount

        *   gift_certificate_amount

        *   shipping_address_count

        *   coupons



        > If a store has automatic tax enabled, BigCommerce does not compute
        sales tax on orders updated via the API.



        ## Changing the Order Status


        The `status` property cannot be edited directly, because it is generated
        based on the `status_id`.


        Use the `status_id` property to set the order to a specific state. The
        list of available statuses is provided by the [Order Statuses](#)
        resource. If the store has subscribed to Avalara Premium, tax documents
        are submitted when the `status_id` property changes. The following table
        details the behavior for `PUT` operations. See also the list of [Paid
        Statuses](#).


        | Existing Status | Status Passed | Resultant Status | Avalara Tax
        Document Submission |

        | --- | --- | --- | --- |

        | Any | None | `Pending` | None |

        | Paid or `Refunded` | Paid | Paid | None |

        | Unpaid or `Refunded` | Unpaid | Unpaid | None |

        | Paid or `Refunded` | Unpaid | Unpaid | Tax document voided |

        | Unpaid or `Refunded` | Paid | Paid | Tax document submitted |


        ## Calculated Fields


        Edits to the following properties will trigger a recalculation of the
        subtotal and total:


        *   products

        *   discount_amount

        *   shipping_cost_ex_tax

        *   shipping_cost_inc_tax

        *   handling_cost_ex_tax

        *   handling_cost_inc_tax

        *   wrapping_cost_ex_tax

        *   wrapping_cost_inc_tax

        *   billing_address

        *   shipping_addresses



        ## Limitation on Coupons/Discounts


        The Orders resource currently does not support coupon redemptions or
        discounts, apart from manual discount. You should modify the above
        fields only if you have created the order via the POST operation, or if
        you intend to manually override the subtotals and totals.
      summary: Update an Order
      tags:
        - Orders
      operationId: V2OrdersByStoreHashAndIdPut
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/Order'
          x-examples:
            application/json:
              status_id: 1
              billing_address:
                first_name: Trisha
                last_name: McLaughlin
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Anywhere
                state: Some State
                zip: '12345'
                country: United States
                country_iso2: US
                phone: ''
                email: elsie@example.com
            Request Schema:
              billing_address:
                first_name: cillum consectetur
                last_name: ea
                company: ullamco ut
                street_1: commodo amet laborum ut
                street_2: ut labore dolor
                city: exercitation velit qui dolor
                state: in ex eiusmod
                zip: consectetur sunt qui
                country: Lorem in est labore anim
                country_iso2: dolore aliquip pariatur cupidatat
                phone: ad sunt anim U
                email: veniam est aute incididunt minim
                form_fields:
                  - name: pariatur ea dolore
                    value: voluptate nisi
                  - name: irure Duis sed
                    value: magna te
              products:
                url: anim commod
                resource: ex fu
              id: 2391249
              customer_id: -42172310
              date_created: '1986-05-04T19:13:20.226Z'
              date_modified: '1986-08-09T21:40:51.752Z'
              date_shipped: '1960-09-02T11:40:46.074Z'
              status_id: 68002882
              cart_id: in magna fugiat consequat
              status: ea deserunt nostrud
              custom_status: aliquip sint Duis Lorem
              subtotal_ex_tax: irure id commodo eu
              subtotal_inc_tax: laboris cillum aute elit
              subtotal_tax: dolore minim nostrud labore
              base_shipping_cost: ex Excepteur
              shipping_cost_ex_tax: dolor
              shipping_cost_inc_tax: sed
              shipping_cost_tax: cupidatat labore reprehenderit
              shipping_cost_tax_class_id: 7022499
              base_handling_cost: in commodo reprehenderit
              handling_cost_ex_tax: sit esse laboris ex sint
              handling_cost_inc_tax: -11298923.72353667
              handling_cost_tax: anim ullamco
              handling_cost_tax_class_id: -83955237
              base_wrapping_cost: 24402270
              wrapping_cost_ex_tax: irure
              wrapping_cost_inc_tax: amet ut eiu
              wrapping_cost_tax: in reprehenderit dolore occaecat
              wrapping_cost_tax_class_id: 80781920
              total_ex_tax: Lorem esse minim enim
              total_inc_tax: pariatur nostrud
              total_tax: ipsum voluptate cupidatat sit nostrud
              items_total: 37345787.4656986
              items_shipped: -21799656.149460137
              payment_method: aute eu quis sit
              payment_provider_id: ex mollit aliqua tempor id
              payment_status: esse dolor
              refunded_amount: aliqua ea sit
              order_is_digital: true
              store_credit_amount: sed voluptate sint Duis esse
              gift_certificate_amount: et irure Ut amet
              ip_address: non ea incidi
              geoip_country: ex Duis irure
              geoip_country_iso2: mollit commodo eu
              currency_id: -13510970
              currency_code: culpa velit Ut
              currency_exchange_rate: commodo aliquip Lorem tempor ad
              default_currency_id: -24094373
              default_currency_code: Lorem do
              staff_notes: sint qui tempor
              customer_message: do est mollit
              discount_amount: la
              coupon_discount: quis
              shipping_address_count: 59946029.02507082
              is_deleted: false
              is_email_opt_in: true
              ebay_order_id: sunt dolore consequat
              order_source: in do nulla anim
              external_source: ad Excepteur aute
              shipping_addresses:
                url: qui anim in
                resource: adipisicing id
              coupons:
                url: dolore sint Lorem sunt magna
                resource: non laboris labore dolore reprehenderit
              external_id: tempor et sunt
              external_merchant_id: id ea a
        - name: id
          in: path
          required: true
          type: integer
          description: ''
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Order'
          examples:
            application/json:
              id: 118
              customer_id: 6
              date_created: 'Mon, 23 Apr 2018 18:04:48 +0000'
              date_modified: 'Mon, 23 Apr 2018 18:04:49 +0000'
              date_shipped: 'Wed, 14 Nov 2012 19:26:23 +0000"'
              status_id: 11
              cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
              status: Awaiting Fulfillment
              subtotal_ex_tax: 225
              subtotal_inc_tax: 225
              subtotal_tax: 0
              base_shipping_cost: 0
              shipping_cost_ex_tax: 0
              shipping_cost_inc_tax: 0
              shipping_cost_tax: 0
              shipping_cost_tax_class_id: 2
              base_handling_cost: 0
              handling_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_tax: 0
              handling_cost_tax_class_id: 2
              base_wrapping_cost: 0
              wrapping_cost_ex_tax: 0
              wrapping_cost_inc_tax: 0
              wrapping_cost_tax: 0
              wrapping_cost_tax_class_id: 3
              total_ex_tax: 225
              total_inc_tax: 225
              total_tax: 0
              items_total: 1
              items_shipped: 0
              payment_method: Cash on Delivery
              payment_provider_id: null
              refunded_amount: 0
              order_is_digital: false
              store_credit_amount: 0
              gift_certificate_amount: 0
              ip_address: 12.345.678.910
              geoip_country: United States
              geoip_country_iso2: US
              currency_id: 1
              currency_code: USD
              currency_exchange_rate: 1
              default_currency_id: 1
              default_currency_code: '``'
              staff_notes: Send Saturday
              customer_message: Thank you
              discount_amount: 0
              coupon_discount: 5
              shipping_address_count: 1
              is_deleted: false
              is_email_opt_in: false
              ebay_order_id: 0
              billing_address:
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Austin
                state: TX
                zip: 12345
                country: United States
                country_iso2: US
                phone: ''
                email: janedoe@email.com
                form_fields:
                  - name: ''
                    value: ''
              order_source: www
              external_source: null
              products:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products
                resource: /orders/129/products
              shipping_addresses:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses
                resource: /orders/129/shippingaddresses
              coupons:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons
                resource: /orders/129/coupons
              external_id: null
              external_merchant_id: null
              custom_status: Awaiting Payment
            Response Schema:
              billing_address:
                first_name: consequat adipisicing
                last_name: dolore mollit aute
                company: cupidatat amet
                street_1: nulla exercitation id consequat
                street_2: voluptate nostrud Ut anim
                city: Lorem ea commodo magna
                state: laborum exercitation officia et mollit
                zip: pariatur fugiat U
                country: occaecat laboris
                country_iso2: nisi in
                phone: aute consequat
                email: eu sint deserunt cillum
                form_fields:
                  - name: occaecat consequat eu aute deserunt
                    value: aliquip Ut incididunt nostrud
                  - name: eu voluptate non
                    value: reprehenderit adipisicing
                  - name: labore fugiat sit deserunt
                    value: laboris anim
              products:
                url: sunt aute con
                resource: consequat commodo in
              id: -90300121
              customer_id: -94877048
              date_created: '1982-09-26T04:29:05.074Z'
              date_modified: '1953-01-21T04:05:40.286Z'
              date_shipped: '1954-12-24T11:19:57.036Z'
              status_id: -92510605
              cart_id: amet deserunt
              status: sed minim nisi
              custom_status: labore fugiat commodo
              subtotal_ex_tax: anim
              subtotal_inc_tax: minim ex laboris
              subtotal_tax: sunt
              base_shipping_cost: velit officia eiusmod voluptate
              shipping_cost_ex_tax: et ipsum dolore sint
              shipping_cost_inc_tax: veniam dolor consectetur
              shipping_cost_tax: proident incididunt ut
              shipping_cost_tax_class_id: 89435667
              base_handling_cost: consectetur dolor
              handling_cost_ex_tax: qui sed velit id
              handling_cost_inc_tax: 60373139.38312271
              handling_cost_tax: eiusmod quis
              handling_cost_tax_class_id: -17150496
              base_wrapping_cost: 16050173
              wrapping_cost_ex_tax: id Ut ut
              wrapping_cost_inc_tax: sunt aliquip
              wrapping_cost_tax: ut ullamco occaecat
              wrapping_cost_tax_class_id: 26592179
              total_ex_tax: aliquip minim
              total_inc_tax: voluptate
              total_tax: est
              items_total: 81257223.70189962
              items_shipped: -55907775.15753467
              payment_method: non
              payment_provider_id: dolor eiusmod
              payment_status: eiusmod ut qui
              refunded_amount: nulla nisi est
              order_is_digital: false
              store_credit_amount: commodo magna
              gift_certificate_amount: ips
              ip_address: Excepteur anim
              geoip_country: voluptate ut irure ad
              geoip_country_iso2: in labor
              currency_id: 77096109
              currency_code: culpa cillum do eu
              currency_exchange_rate: non labori
              default_currency_id: -15926711
              default_currency_code: sit
              staff_notes: nostrud
              customer_message: elit non
              discount_amount: qui id in
              coupon_discount: mollit anim qui
              shipping_address_count: 25019991.25090176
              is_deleted: false
              is_email_opt_in: true
              ebay_order_id: esse velit Ut nulla
              order_source: ipsum enim
              external_source: esse velit
              shipping_addresses:
                url: dolor nulla mollit esse
                resource: minim aliqua venia
              coupons:
                url: in pariatur qui incididu
                resource: veniam adipisicing est
              external_id: velit enim
              external_merchant_id: ut eiusmod
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    delete:
      description: >
        Archives an order


        ## Deletion Blocked by Automatic Tax


        Any attempt to DELETE an order on a store with automatic tax enabled
        will fail, and will return `405 Method not allowed.`
      summary: Delete an Order
      tags:
        - Orders
      operationId: V2OrdersByStoreHashAndIdDelete
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The order id
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    parameters:
      - name: store_hash
        in: path
        type: string
        required: true
      - name: id
        in: path
        type: string
        required: true
  '/stores/{store_hash}/v2/orders/count':
    get:
      description: Gets an array of the orders in the store organized by order status.
      summary: Get a Count of Orders
      tags:
        - Orders
      operationId: StoresV2OrdersCountByStoreHashGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrdersCountResponse'
          examples:
            application/json:
              statuses:
                - id: 0
                  name: Incomplete
                  system_label: Incomplete
                  custom_label: Incomplete - Testing
                  system_description: >-
                    An incomplete order happens when a shopper reached the
                    payment page, but did not complete the transaction.
                  count: 0
                  sort_order: 0
                - id: 1
                  name: Pending
                  system_label: Pending
                  custom_label: Pending
                  system_description: >-
                    Customer started the checkout process, but did not complete
                    it.
                  count: 1
                  sort_order: 1
                - id: 7
                  name: Awaiting Payment
                  system_label: Awaiting Payment
                  custom_label: Awaiting Payment
                  system_description: >-
                    Customer has completed checkout process, but payment has yet
                    to be confirmed.
                  count: 15
                  sort_order: 2
                - id: 11
                  name: Awaiting Fulfillment
                  system_label: Awaiting Fulfillment
                  custom_label: Awaiting Fulfillment
                  system_description: >-
                    Customer has completed the checkout process and payment has
                    been confirmed.
                  count: 6
                  sort_order: 3
                - id: 9
                  name: Awaiting Shipment
                  system_label: Awaiting Shipment
                  custom_label: Awaiting Shipment
                  system_description: >-
                    Order has been pulled and packaged, and is awaiting
                    collection from a shipping provider.
                  count: 0
                  sort_order: 4
                - id: 8
                  name: Awaiting Pickup
                  system_label: Awaiting Pickup
                  custom_label: Awaiting Pickup
                  system_description: >-
                    Order has been pulled, and is awaiting customer pickup from
                    a seller-specified location.
                  count: 0
                  sort_order: 5
                - id: 3
                  name: Partially Shipped
                  system_label: Partially Shipped
                  custom_label: Partially Shipped
                  system_description: >-
                    Only some items in the order have been shipped, due to some
                    products being pre-order only or other reasons.
                  count: 0
                  sort_order: 6
                - id: 10
                  name: Completed
                  system_label: Completed
                  custom_label: Completed - Testing
                  system_description: >-
                    Client has paid for their digital product and their file(s)
                    are available for download.
                  count: 6
                  sort_order: 7
                - id: 2
                  name: Shipped
                  system_label: Shipped
                  custom_label: Shipped
                  system_description: >-
                    Order has been shipped, but receipt has not been confirmed;
                    seller has used the Ship Items action.
                  count: 6
                  sort_order: 8
                - id: 5
                  name: Cancelled
                  system_label: Cancelled
                  custom_label: Cancelled
                  system_description: >-
                    Seller has cancelled an order, due to a stock inconsistency
                    or other reasons.
                  count: 5
                  sort_order: 9
                - id: 6
                  name: Declined
                  system_label: Declined
                  custom_label: Declined
                  system_description: >-
                    Seller has marked the order as declined for lack of manual
                    payment, or other reasons.
                  count: 0
                  sort_order: 10
                - id: 4
                  name: Refunded
                  system_label: Refunded
                  custom_label: Refunded
                  system_description: Seller has used the Refund action.
                  count: 0
                  sort_order: 11
                - id: 13
                  name: Disputed
                  system_label: Disputed
                  custom_label: Disputed
                  system_description: >-
                    Customer has initiated a dispute resolution process for the
                    PayPal transaction that paid for the order.
                  count: 0
                  sort_order: 12
                - id: 12
                  name: Manual Verification Required
                  system_label: Manual Verification Required
                  custom_label: Manual Verification Required
                  system_description: >-
                    Order on hold while some aspect needs to be manually
                    confirmed.
                  count: 0
                  sort_order: 13
                - id: 14
                  name: Partially Refunded
                  system_label: Partially Refunded
                  custom_label: Partially Refunded
                  system_description: Seller has partially refunded the order.
                  count: 0
                  sort_order: 14
              count: 39
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/stores/{store_hash}/v2/orders':
    get:
      description: Gets a list of orders using the filter query
      tags:
        - Orders
      operationId: StoresV2OrdersByStoreHashGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: min_id
          in: query
          required: false
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The minimum order id
        - name: max_id
          in: query
          required: false
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The maximum order id
        - name: min_total
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The minimum order total in float format. eg. 12.50
        - name: max_total
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The maximum order total in float format. eg. 12.50
        - name: customer_id
          in: query
          required: false
          type: integer
          description: The id of the customer
        - name: email
          in: query
          required: false
          type: string
          description: The email of the customer
        - name: status_id
          in: query
          required: false
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: >-
            The staus id of the order. You can get the status id from the
            `/orders` endpoints
        - name: cart_id
          in: query
          required: false
          type: string
          description: The cart id of the order
        - name: is_deleted
          in: query
          required: false
          type: boolean
          description: If the order was deleted or not
        - name: payment_method
          in: query
          required: false
          type: string
          description: The payment method used on the order
        - name: min_date_created
          in: query
          required: false
          type: string
          description: The minimum date the order was created in dateTime or date
          format: date-time
        - name: max_date_created
          in: query
          required: false
          type: string
          description: The maximum date the order was created in dateTime or date
          format: date-time
        - name: min_date_modified
          in: query
          required: false
          type: string
          description: The minimum date the order was changed in dateTime or date
          format: date-time
        - name: max_date_modified
          in: query
          required: false
          type: string
          description: The maximum date the order was changed in dateTime or date
          format: date
        - name: pagination
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The number of pages to return
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Limit the number of hits returned
        - name: sort
          in: query
          required: false
          type: string
          description: 'Sort the results. eg. `date_created:desc`'
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Order'
          examples:
            application/json:
              - id: 118
                customer_id: 6
                date_created: 'Mon, 23 Apr 2018 18:04:48 +0000'
                date_modified: 'Mon, 23 Apr 2018 18:04:49 +0000'
                date_shipped: 'Wed, 14 Nov 2012 19:26:23 +0000"'
                status_id: 11
                cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
                status: Awaiting Fulfillment
                subtotal_ex_tax: 225
                subtotal_inc_tax: 225
                subtotal_tax: 0
                base_shipping_cost: 0
                shipping_cost_ex_tax: 0
                shipping_cost_inc_tax: 0
                shipping_cost_tax: 0
                shipping_cost_tax_class_id: 2
                base_handling_cost: 0
                handling_cost_ex_tax: 0
                handling_cost_inc_tax: 0
                handling_cost_tax: 0
                handling_cost_tax_class_id: 2
                base_wrapping_cost: 0
                wrapping_cost_ex_tax: 0
                wrapping_cost_inc_tax: 0
                wrapping_cost_tax: 0
                wrapping_cost_tax_class_id: 3
                total_ex_tax: 225
                total_inc_tax: 225
                total_tax: 0
                items_total: 1
                items_shipped: 0
                payment_method: Cash on Delivery
                payment_provider_id: null
                refunded_amount: 0
                order_is_digital: false
                store_credit_amount: 0
                gift_certificate_amount: 0
                ip_address: 12.345.678.910
                geoip_country: United States
                geoip_country_iso2: US
                currency_id: 1
                currency_code: USD
                currency_exchange_rate: 1
                default_currency_id: 1
                default_currency_code: '``'
                staff_notes: Send Saturday
                customer_message: Thank you
                discount_amount: 0
                coupon_discount: 5
                shipping_address_count: 1
                is_deleted: false
                is_email_opt_in: false
                ebay_order_id: 0
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 123 Main Street
                  street_2: ''
                  city: Austin
                  state: TX
                  zip: 12345
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: janedoe@email.com
                  form_fields:
                    - name: ''
                      value: ''
                order_source: www
                external_source: null
                products:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products
                  resource: /orders/129/products
                shipping_addresses:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses
                  resource: /orders/129/shippingaddresses
                coupons:
                  url: >-
                    https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons
                  resource: /orders/129/coupons
                external_id: null
                external_merchant_id: null
                custom_status: Awaiting Payment
            Response Schema:
              - billing_address:
                  first_name: deserunt in qui
                  last_name: aliquip elit
                  company: eiusmod culpa d
                  street_1: anim deserunt
                  street_2: ipsum
                  city: Excepteur
                  state: sit minim Excepteur
                  zip: in dolor aliqua incididunt
                  country: e
                  country_iso2: aliquip
                  phone: est
                  email: elit aliquip laboris Ut
                  form_fields:
                    - name: ex elit
                      value: cillum in
                    - name: nostrud
                      value: veniam quis laboris Ut minim
                    - name: ex aute id laborum
                      value: fugiat d
                    - name: deser
                      value: anim incididunt
                products:
                  url: ullamco consectetur ut dolor
                  resource: adipisicing pariatur
                id: 65194298
                customer_id: 89238181
                date_created: '2018-09-08T15:08:14.433Z'
                date_modified: '1972-05-09T11:52:10.444Z'
                date_shipped: '1997-09-22T10:08:24.579Z'
                status_id: 52171841
                cart_id: irure Excepteur
                status: do proident commodo
                custom_status: sint amet laboris
                subtotal_ex_tax: ut
                subtotal_inc_tax: aute enim
                subtotal_tax: ea
                base_shipping_cost: Excepteur culpa
                shipping_cost_ex_tax: dolor officia
                shipping_cost_inc_tax: eu cillum
                shipping_cost_tax: ipsum officia
                shipping_cost_tax_class_id: -16502092
                base_handling_cost: sint pariatur qui cupidatat sed
                handling_cost_ex_tax: adipisicing Lorem consequat
                handling_cost_inc_tax: -75787327.78395315
                handling_cost_tax: eiusmod dolor aliqua esse
                handling_cost_tax_class_id: -76486014
                base_wrapping_cost: 78563353
                wrapping_cost_ex_tax: proident ullamco aliquip quis
                wrapping_cost_inc_tax: sit aute anim
                wrapping_cost_tax: anim aliqua
                wrapping_cost_tax_class_id: 39643146
                total_ex_tax: est voluptate aliquip
                total_inc_tax: voluptate
                total_tax: sit cupidatat do sint
                items_total: 48236051.42489436
                items_shipped: -6980432.152287275
                payment_method: in anim Lorem
                payment_provider_id: aliquip id ad dolore anim
                payment_status: dolor velit
                refunded_amount: velit qui laborum
                order_is_digital: true
                store_credit_amount: dolor non officia
                gift_certificate_amount: quis exercitation in
                ip_address: Duis elit pariatur enim
                geoip_country: nisi aut
                geoip_country_iso2: est
                currency_id: -99550696
                currency_code: laboris ipsum Excepteur nostrud
                currency_exchange_rate: consectetur ea Excepteur non
                default_currency_id: 76364402
                default_currency_code: culpa sed
                staff_notes: sit dolor sed
                customer_message: aliqua irure dolore sit in
                discount_amount: ex laboris proident exercitation
                coupon_discount: consectetur enim incididunt aliqua
                shipping_address_count: -27901238.383703038
                is_deleted: true
                is_email_opt_in: true
                ebay_order_id: in eu exe
                order_source: in sunt Duis
                external_source: incididunt
                shipping_addresses:
                  url: Duis
                  resource: in cillum consectetur do
                coupons:
                  url: ut voluptate
                  resource: id sit
                external_id: sint non quis
                external_merchant_id: officia
              - billing_address:
                  first_name: cupidatat officia incididunt cillum laborum
                  last_name: voluptate aliquip in ad
                  company: e
                  street_1: dolore of
                  street_2: consectetur velit Ut incididunt commodo
                  city: dolore exercitation sunt
                  state: do dolore
                  zip: qui elit
                  country: aliqua magna ea
                  country_iso2: adipisicing proident Ut
                  phone: Excepteur eiusmod tempor
                  email: Duis eiusmod culpa
                  form_fields:
                    - name: amet ullamco occaecat
                      value: aute
                    - name: dolor
                      value: mollit tempor aliquip consectetur
                products:
                  url: commodo adipisicing eiusmod
                  resource: non eu
                id: 86787522
                customer_id: -52565069
                date_created: '1950-11-08T04:14:40.960Z'
                date_modified: '1965-12-07T15:47:37.763Z'
                date_shipped: '2017-08-29T01:11:42.466Z'
                status_id: -39851348
                cart_id: nisi laboris ad commodo id
                status: anim Duis
                custom_status: consectetur mollit tempor nostrud
                subtotal_ex_tax: voluptate ut incididunt sint in
                subtotal_inc_tax: labore dolore ex
                subtotal_tax: ea laboris dolore sunt
                base_shipping_cost: voluptate et id minim
                shipping_cost_ex_tax: veniam esse
                shipping_cost_inc_tax: cupidatat
                shipping_cost_tax: cupidatat occaecat
                shipping_cost_tax_class_id: 70045752
                base_handling_cost: sint nostrud dolore irure
                handling_cost_ex_tax: occaecat
                handling_cost_inc_tax: -58687638.12000761
                handling_cost_tax: proident mollit voluptate laborum
                handling_cost_tax_class_id: -58671027
                base_wrapping_cost: -1676298
                wrapping_cost_ex_tax: esse
                wrapping_cost_inc_tax: consectetur amet Excepteur commodo
                wrapping_cost_tax: Ut qui
                wrapping_cost_tax_class_id: -28916957
                total_ex_tax: nulla deserunt
                total_inc_tax: ad sit ex quis
                total_tax: proident dolor veniam mollit ipsum
                items_total: -42330118.777870804
                items_shipped: 70330449.367861
                payment_method: sunt et fugiat pariatur
                payment_provider_id: proident esse aliquip veniam
                payment_status: ullamco aute in ex
                refunded_amount: nisi commodo
                order_is_digital: false
                store_credit_amount: quis culpa deserunt nisi
                gift_certificate_amount: sint amet pariatur
                ip_address: cupidatat ad est occaecat
                geoip_country: ut
                geoip_country_iso2: consectetur ipsum cillum est
                currency_id: -76596400
                currency_code: sunt Lorem
                currency_exchange_rate: exercitation sint dolore dolor
                default_currency_id: -99570273
                default_currency_code: veniam eiusmod
                staff_notes: Excepteur labore
                customer_message: irure Ut enim
                discount_amount: voluptate ullamco aute eiusmod
                coupon_discount: id
                shipping_address_count: -12983285.707725972
                is_deleted: true
                is_email_opt_in: false
                ebay_order_id: consequat labore
                order_source: tempor
                external_source: 'amet adipisicing '
                shipping_addresses:
                  url: aute labore
                  resource: qui laboris labore dolore
                coupons:
                  url: ullamco nisi
                  resource: ut fugiat velit
                external_id: consectetur aliquip aliqua
                external_merchant_id: nulla sint ad irure
              - billing_address:
                  first_name: deserunt cillum
                  last_name: laboris aute magna
                  company: quis
                  street_1: sunt dolor tempor dolore
                  street_2: labore anim
                  city: dolor ullamco exe
                  state: laboris ea nostrud Excepteur
                  zip: do nisi
                  country: nisi deserunt commodo
                  country_iso2: nostrud dolor tempor reprehenderit
                  phone: deserunt ex et id irure
                  email: elit dolor pariatur
                  form_fields:
                    - name: et nulla qui
                      value: mollit Lorem ad dolore
                    - name: officia in adipisici
                      value: consequat occaecat nulla
                    - name: p
                      value: aute dolor
                products:
                  url: sit aliqua esse
                  resource: aliqua ut deserunt exercitation
                id: -8967028
                customer_id: 92040600
                date_created: '2003-07-25T15:53:12.331Z'
                date_modified: '1953-05-11T08:30:51.074Z'
                date_shipped: '1953-09-18T18:17:44.627Z'
                status_id: -78245558
                cart_id: ipsum qui
                status: anim
                custom_status: sint pariatur
                subtotal_ex_tax: sit ipsum ad
                subtotal_inc_tax: consequat ipsum
                subtotal_tax: sint
                base_shipping_cost: id do aliqua
                shipping_cost_ex_tax: cupidatat id
                shipping_cost_inc_tax: in est sit dolore
                shipping_cost_tax: dolore sunt esse reprehenderit
                shipping_cost_tax_class_id: -80560846
                base_handling_cost: pariatur sint et ad labore
                handling_cost_ex_tax: Ut voluptate consectetur
                handling_cost_inc_tax: 36132330.48352754
                handling_cost_tax: veniam qui ex
                handling_cost_tax_class_id: -10024681
                base_wrapping_cost: 58590065
                wrapping_cost_ex_tax: ea et nisi
                wrapping_cost_inc_tax: eiusmod ea proident
                wrapping_cost_tax: esse qui ea nostrud enim
                wrapping_cost_tax_class_id: -41879119
                total_ex_tax: ea fugiat
                total_inc_tax: laborum anim aliquip occaecat dolore
                total_tax: proident culpa
                items_total: -87845002.93903013
                items_shipped: -64904885.12512704
                payment_method: cillum labore sit
                payment_provider_id: id
                payment_status: elit anim mollit enim
                refunded_amount: pariatur sed nulla Excep
                order_is_digital: false
                store_credit_amount: voluptate elit
                gift_certificate_amount: esse
                ip_address: sed fugiat qui enim
                geoip_country: nostrud commodo
                geoip_country_iso2: dolor ut do Ut Lorem
                currency_id: 8080085
                currency_code: officia adipisicing
                currency_exchange_rate: Lorem dolor esse qui
                default_currency_id: -70165570
                default_currency_code: sunt proident voluptate irure
                staff_notes: enim occaecat dolore ad
                customer_message: ad Duis
                discount_amount: ut nostrud
                coupon_discount: sint
                shipping_address_count: 74919735.57732439
                is_deleted: true
                is_email_opt_in: true
                ebay_order_id: deserunt est
                order_source: nisi mollit in laboris
                external_source: tempor
                shipping_addresses:
                  url: aliqua Ut qui
                  resource: et quis labore
                coupons:
                  url: 'aute '
                  resource: ea adipisicing
                external_id: reprehenderit in cupidatat
                external_merchant_id: est aliquip in tempor
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      summary: Get All Orders
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    post:
      description: >-
        ## Requirements


        The following properties of the order are required. The request won’t be
        fulfilled unless these properties are valid.


        *   products

        *   billing_address


        ## Ready Only


        *   id

        *   date_modified

        *   date_shipped

        *   status

        *   order_source

        *   cart_id

        *   subtotal_tax

        *   shipping_cost_tax

        *   shipping_cost_tax_class_id

        *   handling_cost_tax

        *   handling_cost_tax_class_id

        *   wrapping_cost_tax

        *   wrapping_cost_tax_class_id

        *   total_tax

        *   payment_status

        *   currency_id

        *   currency_code

        *   currency_exchange_rate

        *   default_currency_id

        *   default_currency_code

        *   coupon_discount

        *   store_credit_amount

        *   gift_certificate_amount

        *   shipping_address_count

        *   is_deleted

        *   coupons


        ## Taxes

        If a store has automatic tax enabled, BigCommerce does not compute sales
        tax on orders created via the API.


        Abbreviated state names in shipping and billing addresses will prevent
        tax documents from being submitted to Avalara. To ensure successful
        Avalara tax-document submission, spell state names out in full. For
        example, supplying CA as a state name leads to no tax-document
        submission. Supplying California as a state name leads to a successful
        submission.


        ## Overriding Preset Values


        You can create overrides for calculated values such as product prices,
        subtotal and totals by sending a fixed value in the request. If values
        are not supplied for these properties, they will be automatically
        calculated based on the pre-set store values and tax rules.


        ## Order Products


        *   Existing products can be added to the order with a reference to
        their `product_id`.

        *   Custom products can be added to the order using the [products
        array](/api-docs/api-reference/v2-api/v2-orders/models/orderproducts).

        *   If price is not specified, it will automatically pick up the price
        from the store’s product catalog. However, you can override this via
        `price_inc_tax` and `price_ex_tax`.

        *   If `price_inc_tax` and `price_ex_tax` are specified, price and
        rulesets are ignored, and the `price_inc_tax` or `price_ex_tax` are
        written to `base_price` according to the store settings.

        *   When the store is subscribed to Avalara Premium, a value of `API Tax
        Override` is written to the Order Tax object's `name` field.

        *   Tax will be calculated based on the tax rules specified in the
        store, except in the case of automatic taxes. However, in both cases,
        you can optionally override the tax values by specifying `price_inc_tax`
        and `price_ex_tax`.

        *   For products that are configured to track stock, the quantity
        specified on the order will reduce the stock on hand. When there is not
        enough inventory to fulfill the order, the order will be rejected with
        an "out of stock" error code.

        *   For products that have min and max quantities specified in their
        settings, the API will honor these, and will reject orders
        appropriately.

        *   For products where product options are required, the API will
        validate these requirements to ensure that the product options are
        specified.

        *   Product quantity must be specified.


        #### Calculation of Totals


        *   When not specified, order subtotal and total are automatically
        calculated.

        *   You can override order subtotal and/or total. If you choose to
        override one, we strongly recommend that override both, because the
        system will not be able to accurately calculate the other.


        #### Order Properties


        *   Billing address is mandatory.

        *   Shipping address is not mandatory, and can optionally be specified
        as composite records.
            *   When the shipping address is not specified, the system will fall back to using the billing address as the shipping address.
            *   Multiple shipments are not supported, so the API will assume the first address in the collection.
        *   In the shipping and billing addresses, there is no requirement to
        specify `country` when `country_ISO2` is specified.
            *   The value specified for `country_ISO2` will always override any value specified for `country`.
        *   Coupon redemption is not currently supported.

        *   To specify a guest checkout, set `customer_id` to `0`.

        *   `order_source` cannot be specified, and will be set to `external`.
            *   You can optionally specify a value for `external_source` to specify which external source the order is coming from - e.g., POS system X, accounting system Y, etc.

        ## Changing the Order Status


        *   You can specify `status_id`, which will automatically set the
        corresponding `status`. When `status_id` is not specified, it will be
        automatically set to `1`, which will set `status` to `Pending`.


        *   `POST` or `PUT` orders on stores with Avalara Premium cause tax
        documents to be submitted. If a store has subscribed to Avalara Premium,
        BigCommerce automatically submits tax documents to Avalara when the
        order achieves a paid status. The following statuses are of the paid
        type:
            *   Shipped
            *   Partially Shipped
            *   Awaiting Pickup
            *   Awaiting Shipment
            *   Completed
            *   Awaiting Fulfillment
        *   BigCommerce considers all statuses other than those above to be of
        the unpaid type, except `Refunded`, which is considered neither paid or
        unpaid. Orders that are created using the `POST` method, and that
        include a status of the paid type, cause the submission of tax documents
        to Avalara.
      summary: Create an Order
      tags:
        - Orders
      operationId: V2OrdersByStoreHashPost
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/Order'
          x-examples:
            application/json:
              customer_id: 0
              status_id: 11
              date_created: 'Thu, 04 Oct 2012 03:24:40 +0000'
              subtotal_ex_tax: 1705
              subtotal_inc_tax: 1915
              base_shipping_cost: 0
              shipping_cost_ex_tax: 0
              shipping_cost_inc_tax: 0
              base_handling_cost: 0
              handling_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              base_wrapping_cost: 0
              wrapping_cost_ex_tax: 0
              wrapping_cost_inc_tax: 0
              total_ex_tax: 1705
              total_inc_tax: 1915
              refunded_amount: 0
              order_is_digital: false
              staff_notes: ''
              customer_message: ''
              discount_amount: 10
              billing_address:
                first_name: Trisha
                last_name: McLaughlin
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Anywhere
                state: Some State
                zip: '12345'
                country: United States
                country_iso2: US
                phone: ''
                email: elsie@example.com
              shipping_addresses:
                - first_name: Trisha
                  last_name: McLaughlin
                  company: Acme Pty Ltd
                  street_1: 566 Sussex St
                  street_2: ''
                  city: Anywhere
                  state: Some State
                  zip: '12345'
                  country: United States
                  country_iso2: US
                  phone: ''
                  email: elsie@example.com
              products:
                - product_id: 32
                  quantity: 2
                - product_id: 33
                  quantity: 2
                  product_options:
                    - id: 87
                      value: 10
                - name: My custom product
                  quantity: 2
                  price_inc_tax: 10.8
                  price_ex_tax: 10
              external_source: POS
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Order'
          examples:
            application/json:
              id: 118
              customer_id: 6
              date_created: 'Mon, 23 Apr 2018 18:04:48 +0000'
              date_modified: 'Mon, 23 Apr 2018 18:04:49 +0000'
              date_shipped: 'Wed, 14 Nov 2012 19:26:23 +0000"'
              status_id: 11
              cart_id: a8458391-ef68-4fe5-9ec1-442e6a767364
              status: Awaiting Fulfillment
              subtotal_ex_tax: 225
              subtotal_inc_tax: 225
              subtotal_tax: 0
              base_shipping_cost: 0
              shipping_cost_ex_tax: 0
              shipping_cost_inc_tax: 0
              shipping_cost_tax: 0
              shipping_cost_tax_class_id: 2
              base_handling_cost: 0
              handling_cost_ex_tax: 0
              handling_cost_inc_tax: 0
              handling_cost_tax: 0
              handling_cost_tax_class_id: 2
              base_wrapping_cost: 0
              wrapping_cost_ex_tax: 0
              wrapping_cost_inc_tax: 0
              wrapping_cost_tax: 0
              wrapping_cost_tax_class_id: 3
              total_ex_tax: 225
              total_inc_tax: 225
              total_tax: 0
              items_total: 1
              items_shipped: 0
              payment_method: Cash on Delivery
              payment_provider_id: null
              refunded_amount: 0
              order_is_digital: false
              store_credit_amount: 0
              gift_certificate_amount: 0
              ip_address: 12.345.678.910
              geoip_country: United States
              geoip_country_iso2: US
              currency_id: 1
              currency_code: USD
              currency_exchange_rate: 1
              default_currency_id: 1
              default_currency_code: '``'
              staff_notes: Send Saturday
              customer_message: Thank you
              discount_amount: 0
              coupon_discount: 5
              shipping_address_count: 1
              is_deleted: false
              is_email_opt_in: false
              ebay_order_id: 0
              billing_address:
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Austin
                state: TX
                zip: 12345
                country: United States
                country_iso2: US
                phone: ''
                email: janedoe@email.com
                form_fields:
                  - name: ''
                    value: ''
              order_source: www
              external_source: null
              products:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products
                resource: /orders/129/products
              shipping_addresses:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses
                resource: /orders/129/shippingaddresses
              coupons:
                url: >-
                  https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons
                resource: /orders/129/coupons
              external_id: null
              external_merchant_id: null
              custom_status: Awaiting Payment
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
    delete:
      description: Archives all orders.
      summary: Delete all Orders
      tags:
        - Orders
      operationId: V2OrdersByStoreHashDelete
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
  '/stores/{store_hash}/v2/orders/{order_id}/coupons':
    get:
      description: Lists all order coupons. Optional parameters can be passed in.
      summary: List Order Coupons
      operationId: V2OrdersCouponsByStoreHashAndOrderIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The order id
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages to return
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Limit the number of responses
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderCoupons'
          examples:
            application/json:
              - id: 3
                coupon_id: 1
                order_id: 120
                code: S2549JM0Y
                amount: 5
                type: 2
                discount: 5
            Response Schema:
              - id: 16524854
                coupon_id: -45375120
                order_id: 63105415
                code: elit aute con
                amount: exercitation minim occaecat labore sed
                type: '3'
                discount: 26943999.942130953
              - id: -19288276
                coupon_id: -90734671
                order_id: -53768252
                code: ex labore occaecat esse
                amount: nulla reprehenderit elit
                type: '1'
                discount: 68318902.99129134
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Coupons
        - Orders
      security:
        - X-Auth-Client: []
        - X-Auth-Token: []
  '/stores/{store_hash}/v2/orders/{order_id}/products':
    get:
      description: Lists all order products on an order using `order_id`.
      summary: List Order Products
      operationId: StoresV2OrdersProductsByStoreHashAndOrderIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL.
        - name: order_id
          in: path
          required: true
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderProducts'
          examples:
            application/json:
              - id: 65
                order_id: 149
                product_id: 77
                order_address_id: 51
                name: Fog Linen Chambray Towel - Beige Stripe
                sku: S-ORAN
                type: physical
                base_price: '55.9900'
                price_ex_tax: '55.9900'
                price_inc_tax: '65.2300'
                price_tax: '9.2400'
                base_total: '55.9900'
                total_ex_tax: '55.9900'
                total_inc_tax: '65.2300'
                total_tax: '9.2400'
                weight: '1.0000'
                quantity: 1
                base_cost_price: '0.0000'
                cost_price_inc_tax: '0.0000'
                cost_price_ex_tax: '0.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '5.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: 19
                parent_order_product_id: null
                is_bundled_product: false
                bin_picking_number: ''
                external_id: null
                fulfillment_source: ''
                applied_discounts: []
                product_options:
                  - id: 45
                    option_id: 18
                    order_product_id: 65
                    product_option_id: 120
                    display_name: Size
                    display_value: S
                    value: '69'
                    type: Multiple choice
                    name: Apparel sizes
                    display_style: Rectangle
                  - id: 46
                    option_id: 3
                    order_product_id: 65
                    product_option_id: 121
                    display_name: Color
                    display_value: Orange
                    value: '112'
                    type: Swatch
                    name: Colors
                    display_style: ''
                  - id: 47
                    option_id: 37
                    order_product_id: 65
                    product_option_id: 122
                    display_name: Add Letters
                    display_value: Text Field
                    value: Text Field
                    type: Text field
                    name: Add Letters
                    display_style: ''
                  - id: 48
                    option_id: 38
                    order_product_id: 65
                    product_option_id: 123
                    display_name: Is this a gift?
                    display_value: 'Yes'
                    value: '104'
                    type: Checkbox
                    name: Gift Wrapping $5
                    display_style: ''
                  - id: 49
                    option_id: 39
                    order_product_id: 65
                    product_option_id: 124
                    display_name: PickList
                    display_value: Able Brewing System
                    value: '106'
                    type: Product Pick List
                    name: PickList
                    display_style: Pick list
                configurable_fields: []
              - id: 66
                order_id: 149
                product_id: 86
                order_address_id: 51
                name: Able Brewing System
                sku: ABS
                type: physical
                base_price: '0.0000'
                price_ex_tax: '0.0000'
                price_inc_tax: '0.0000'
                price_tax: '0.0000'
                base_total: '0.0000'
                total_ex_tax: '0.0000'
                total_inc_tax: '0.0000'
                total_tax: '0.0000'
                weight: '0.0000'
                quantity: 1
                base_cost_price: '0.0000'
                cost_price_inc_tax: '0.0000'
                cost_price_ex_tax: '0.0000'
                cost_price_tax: '0.0000'
                is_refunded: false
                quantity_refunded: 0
                refund_amount: '0.0000'
                return_id: 0
                wrapping_name: ''
                base_wrapping_cost: '0.0000'
                wrapping_cost_ex_tax: '0.0000'
                wrapping_cost_inc_tax: '0.0000'
                wrapping_cost_tax: '0.0000'
                wrapping_message: ''
                quantity_shipped: 0
                event_name: null
                event_date: ''
                fixed_shipping_cost: '0.0000'
                ebay_item_id: ''
                ebay_transaction_id: ''
                option_set_id: null
                parent_order_product_id: 65
                is_bundled_product: true
                bin_picking_number: BIN
                external_id: null
                fulfillment_source: ''
                applied_discounts: []
                product_options: []
                configurable_fields: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Products
        - Orders
  '/stores/{store_hash}/v2/orders/{order_id}/shipping_addresses':
    get:
      description: Get all shipping address on an order using the `order_id`.
      summary: Get A List of Order Shipping Address
      operationId: StoresV2OrdersShippingAddressesByStoreHashAndOrderIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderShippingAddress'
          examples:
            application/json:
              - id: 39
                order_id: 138
                first_name: Jane
                last_name: Doe
                company: ''
                street_1: 123 Main Street
                street_2: ''
                city: Austin
                zip: '78751'
                country: United States
                country_iso2: US
                state: Texas
                email: ''
                phone: '1234567890'
                items_total: 1
                items_shipped: 0
                shipping_method: Free Shipping
                base_cost: '0.0000'
                cost_ex_tax: '0.0000'
                cost_inc_tax: '0.0000'
                cost_tax: '0.0000'
                cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                shipping_zone_id: 1
                shipping_zone_name: United States
                form_fields:
                  - name: License
                    value: ''
              - id: 40
                order_id: 138
                first_name: John
                last_name: Doe
                company: ''
                street_1: 178 South Street
                street_2: ''
                city: Austin
                zip: '78751'
                country: United States
                country_iso2: US
                state: Texas
                email: ''
                phone: '1234567890'
                items_total: 1
                items_shipped: 0
                shipping_method: Free Shipping
                base_cost: '0.0000'
                cost_ex_tax: '0.0000'
                cost_inc_tax: '0.0000'
                cost_tax: '0.0000'
                cost_tax_class_id: 2
                base_handling_cost: '0.0000'
                handling_cost_ex_tax: '0.0000'
                handling_cost_inc_tax: '0.0000'
                handling_cost_tax: '0.0000'
                handling_cost_tax_class_id: 2
                shipping_zone_id: 1
                shipping_zone_name: United States
                form_fields:
                  - name: License
                    value: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Shipping Addresses
        - Orders
  '/stores/{store_hash}/v2/orders/{order_id}/shipping_addresses/count':
    get:
      description: Returns a count of all order shipping addresses using the `order_id`.
      summary: Get a Count of All Order Shipping Addresses
      operationId: StoresV2OrdersShippingAddressesCountByStoreHashAndOrderIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrderCountResponse'
          examples:
            application/json:
              count: 27
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Shipping Addresses
        - Orders
  '/stores/{store_hash}/v2/order_statuses':
    get:
      description: Gets a list of order statues.
      summary: Get All Order Statuses
      operationId: StoresV2OrderStatusesByStoreHashGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrderStatuses'
          examples:
            application/json:
              - id: 0
                name: Incomplete
                system_label: Incomplete
                custom_label: Incomplete - Testing
                system_description: >-
                  An incomplete order happens when a shopper reached the payment
                  page, but did not complete the transaction.
                order: 0
              - id: 1
                name: Pending
                system_label: Pending
                custom_label: Pending
                system_description: >-
                  Customer started the checkout process, but did not complete
                  it.
                order: 1
              - id: 2
                name: Shipped
                system_label: Shipped
                custom_label: Shipped
                system_description: >-
                  Order has been shipped, but receipt has not been confirmed;
                  seller has used the Ship Items action.
                order: 8
              - id: 3
                name: Partially Shipped
                system_label: Partially Shipped
                custom_label: Partially Shipped
                system_description: >-
                  Only some items in the order have been shipped, due to some
                  products being pre-order only or other reasons.
                order: 6
              - id: 4
                name: Refunded
                system_label: Refunded
                custom_label: Refunded
                system_description: Seller has used the Refund action.
                order: 11
              - id: 5
                name: Cancelled
                system_label: Cancelled
                custom_label: Cancelled
                system_description: >-
                  Seller has cancelled an order, due to a stock inconsistency or
                  other reasons.
                order: 9
              - id: 6
                name: Declined
                system_label: Declined
                custom_label: Declined
                system_description: >-
                  Seller has marked the order as declined for lack of manual
                  payment, or other reasons.
                order: 10
              - id: 7
                name: Awaiting Payment
                system_label: Awaiting Payment
                custom_label: Awaiting Payment
                system_description: >-
                  Customer has completed checkout process, but payment has yet
                  to be confirmed.
                order: 2
              - id: 8
                name: Awaiting Pickup
                system_label: Awaiting Pickup
                custom_label: Awaiting Pickup
                system_description: >-
                  Order has been pulled, and is awaiting customer pickup from a
                  seller-specified location.
                order: 5
              - id: 9
                name: Awaiting Shipment
                system_label: Awaiting Shipment
                custom_label: Awaiting Shipment
                system_description: >-
                  Order has been pulled and packaged, and is awaiting collection
                  from a shipping provider.
                order: 4
              - id: 10
                name: Completed
                system_label: Completed
                custom_label: Completed - Testing
                system_description: >-
                  Client has paid for their digital product and their file(s)
                  are available for download.
                order: 7
              - id: 11
                name: Awaiting Fulfillment
                system_label: Awaiting Fulfillment
                custom_label: Awaiting Fulfillment
                system_description: >-
                  Customer has completed the checkout process and payment has
                  been confirmed.
                order: 3
              - id: 12
                name: Manual Verification Required
                system_label: Manual Verification Required
                custom_label: Manual Verification Required
                system_description: >-
                  Order on hold while some aspect needs to be manually
                  confirmed.
                order: 13
              - id: 13
                name: Disputed
                system_label: Disputed
                custom_label: Disputed
                system_description: >-
                  Customer has initiated a dispute resolution process for the
                  PayPal transaction that paid for the order.
                order: 12
              - id: 14
                name: Partially Refunded
                system_label: Partially Refunded
                custom_label: Partially Refunded
                system_description: Seller has partially refunded the order.
                order: 14
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Statues
        - Orders
  '/stores/{store_hash}/v2/order_statuses/{id}':
    get:
      description: Gets a single order status.
      summary: Get a Single Order Status by Id
      operationId: StoresV2OrderStatusesByStoreHashAndIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL
        - name: id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order status
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              system_label:
                type: string
              custom_label:
                type: string
              system_description:
                type: string
              order:
                type: integer
          examples:
            application/json:
              id: 1
              name: Pending
              system_label: Pending
              system_description: Pending
              custom_label: Pending
              order: 1
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Statues
        - Orders
  '/stores/{store_hash}/v2/orders/{order_id}/taxes':
    get:
      description: Gets all order taxes using `order_id`.
      summary: Get All Order Taxes
      operationId: StoresV2OrdersTaxesByStoreHashAndOrderIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderTaxes'
          examples:
            application/json:
              - id: 13
                order_id: 138
                order_address_id: 39
                tax_rate_id: 1
                tax_class_id: 0
                name: Tax
                class: Default Tax Class
                rate: '8.0000'
                priority: 0
                priority_amount: '17.6400'
                line_amount: '17.6400'
              - id: 14
                order_id: 138
                order_address_id: 40
                tax_rate_id: 1
                tax_class_id: 0
                name: Tax
                class: Default Tax Class
                rate: '8.0000'
                priority: 0
                priority_amount: '4.4000'
                line_amount: '4.4000'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Taxes
        - Orders
  '/stores/{store_hash}/v2/orders/{order_id}/shipments':
    get:
      description: Gets a list of all shipments on an order
      summary: Get A List of Order Shipments
      operationId: StoresV2OrdersShipmentsByStoreHashAndOrderIdGet
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
          description: Your store's hash from the canonical URL
        - name: order_id
          in: path
          required: true
          type: integer
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Id of the order
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
          default: application/json
        - name: X-Auth-Client
          in: header
          required: true
          type: string
          description: ''
        - name: X-Auth-Token
          in: header
          required: true
          type: string
          description: ''
        - name: page
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Number of pages
        - name: limit
          in: query
          required: false
          type: number
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Count per page
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrderShipment'
          examples:
            application/json:
              - id: 2
                order_id: 143
                customer_id: 6
                order_address_id: 45
                date_created: 'Tue, 14 Aug 2018 13:59:39 +0000'
                tracking_number: '123445656746576787568'
                shipping_method: Free Shipping
                comments: Packing Slip Notes
                shipping_provider: ''
                tracking_carrier: ''
                billing_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 123 Main Street
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78726'
                  country: United States
                  country_iso2: US
                  phone: '5122134567'
                  email: janedoe@email.com
                shipping_address:
                  first_name: Jane
                  last_name: Doe
                  company: ''
                  street_1: 123 Main Street
                  street_2: ''
                  city: Austin
                  state: Texas
                  zip: '78726'
                  country: United States
                  country_iso2: US
                  phone: '1234567890'
                  email: ''
                items:
                  - order_product_id: 57
                    product_id: 86
                    quantity: 1
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Order Shipments
        - Orders
    post:
      description: Creates a new shipment for an order.
      summary: Create A New Order Shipment
      operationId: StoresV2OrdersShipmentsByStoreHashAndOrderIdPost
      produces:
        - application/json
      parameters:
        - name: store_hash
          in: path
[...]
