{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "BigCommerce V2 API",
    "description": "TODO: Add a description"
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{store_hash}/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/stores/{store_hash}/v2/orders/{id}": {
      "get": {
        "description": "Gets a single order by order `id`.",
        "summary": "Get an Order",
        "tags": [
          "Orders"
        ],
        "operationId": "StoresV2OrdersByStoreHashAndIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Order id."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Order"
            },
            "examples": {
              "application/json": {
                "id": 118,
                "customer_id": 6,
                "date_created": "Mon, 23 Apr 2018 18:04:48 +0000",
                "date_modified": "Mon, 23 Apr 2018 18:04:49 +0000",
                "date_shipped": "Wed, 14 Nov 2012 19:26:23 +0000\"",
                "status_id": 11,
                "cart_id": "a8458391-ef68-4fe5-9ec1-442e6a767364",
                "status": "Awaiting Fulfillment",
                "subtotal_ex_tax": 225,
                "subtotal_inc_tax": 225,
                "subtotal_tax": 0,
                "base_shipping_cost": 0,
                "shipping_cost_ex_tax": 0,
                "shipping_cost_inc_tax": 0,
                "shipping_cost_tax": 0,
                "shipping_cost_tax_class_id": 2,
                "base_handling_cost": 0,
                "handling_cost_ex_tax": 0,
                "handling_cost_inc_tax": 0,
                "handling_cost_tax": 0,
                "handling_cost_tax_class_id": 2,
                "base_wrapping_cost": 0,
                "wrapping_cost_ex_tax": 0,
                "wrapping_cost_inc_tax": 0,
                "wrapping_cost_tax": 0,
                "wrapping_cost_tax_class_id": 3,
                "total_ex_tax": 225,
                "total_inc_tax": 225,
                "total_tax": 0,
                "items_total": 1,
                "items_shipped": 0,
                "payment_method": "Cash on Delivery",
                "payment_provider_id": null,
                "refunded_amount": 0,
                "order_is_digital": false,
                "store_credit_amount": 0,
                "gift_certificate_amount": 0,
                "ip_address": "12.345.678.910",
                "geoip_country": "United States",
                "geoip_country_iso2": "US",
                "currency_id": 1,
                "currency_code": "USD",
                "currency_exchange_rate": 1,
                "default_currency_id": 1,
                "default_currency_code": "``",
                "staff_notes": "Send Saturday",
                "customer_message": "Thank you",
                "discount_amount": 0,
                "coupon_discount": 5,
                "shipping_address_count": 1,
                "is_deleted": false,
                "is_email_opt_in": false,
                "ebay_order_id": 0,
                "billing_address": {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "state": "TX",
                  "zip": 12345,
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "janedoe@email.com",
                  "form_fields": [
                    {
                      "name": "",
                      "value": ""
                    }
                  ]
                },
                "order_source": "www",
                "external_source": null,
                "products": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products",
                  "resource": "/orders/129/products"
                },
                "shipping_addresses": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses",
                  "resource": "/orders/129/shippingaddresses"
                },
                "coupons": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons",
                  "resource": "/orders/129/coupons"
                },
                "external_id": null,
                "external_merchant_id": null,
                "custom_status": "Awaiting Payment"
              }
            }
          },
          "404": {
            "description": "\"The requested resource was not found.\"",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Updates an order using the order `id`.",
        "summary": "Update an Order",
        "tags": [
          "Orders"
        ],
        "operationId": "StoresV2OrdersByStoreHashAndIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Order"
            },
            "x-examples": {
              "application/json": {
                "status_id": 1,
                "billing_address": {
                  "first_name": "Trisha",
                  "last_name": "McLaughlin",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Anywhere",
                  "state": "Some State",
                  "zip": "12345",
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "elsie@example.com"
                }
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Order"
            },
            "examples": {
              "application/json": {
                "id": 118,
                "customer_id": 6,
                "date_created": "Mon, 23 Apr 2018 18:04:48 +0000",
                "date_modified": "Mon, 23 Apr 2018 18:04:49 +0000",
                "date_shipped": "Wed, 14 Nov 2012 19:26:23 +0000\"",
                "status_id": 11,
                "cart_id": "a8458391-ef68-4fe5-9ec1-442e6a767364",
                "status": "Awaiting Fulfillment",
                "subtotal_ex_tax": 225,
                "subtotal_inc_tax": 225,
                "subtotal_tax": 0,
                "base_shipping_cost": 0,
                "shipping_cost_ex_tax": 0,
                "shipping_cost_inc_tax": 0,
                "shipping_cost_tax": 0,
                "shipping_cost_tax_class_id": 2,
                "base_handling_cost": 0,
                "handling_cost_ex_tax": 0,
                "handling_cost_inc_tax": 0,
                "handling_cost_tax": 0,
                "handling_cost_tax_class_id": 2,
                "base_wrapping_cost": 0,
                "wrapping_cost_ex_tax": 0,
                "wrapping_cost_inc_tax": 0,
                "wrapping_cost_tax": 0,
                "wrapping_cost_tax_class_id": 3,
                "total_ex_tax": 225,
                "total_inc_tax": 225,
                "total_tax": 0,
                "items_total": 1,
                "items_shipped": 0,
                "payment_method": "Cash on Delivery",
                "payment_provider_id": null,
                "refunded_amount": 0,
                "order_is_digital": false,
                "store_credit_amount": 0,
                "gift_certificate_amount": 0,
                "ip_address": "12.345.678.910",
                "geoip_country": "United States",
                "geoip_country_iso2": "US",
                "currency_id": 1,
                "currency_code": "USD",
                "currency_exchange_rate": 1,
                "default_currency_id": 1,
                "default_currency_code": "``",
                "staff_notes": "Send Saturday",
                "customer_message": "Thank you",
                "discount_amount": 0,
                "coupon_discount": 5,
                "shipping_address_count": 1,
                "is_deleted": false,
                "is_email_opt_in": false,
                "ebay_order_id": 0,
                "billing_address": {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "state": "TX",
                  "zip": 12345,
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "janedoe@email.com",
                  "form_fields": [
                    {
                      "name": "",
                      "value": ""
                    }
                  ]
                },
                "order_source": "www",
                "external_source": null,
                "products": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products",
                  "resource": "/orders/129/products"
                },
                "shipping_addresses": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses",
                  "resource": "/orders/129/shippingaddresses"
                },
                "coupons": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons",
                  "resource": "/orders/129/coupons"
                },
                "external_id": null,
                "external_merchant_id": null,
                "custom_status": "Awaiting Payment"
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Archives an order by `id`.",
        "summary": "Delete an Order",
        "tags": [
          "Orders"
        ],
        "operationId": "StoresV2OrdersByStoreHashAndIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The order id"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stores/{store_hash}/v2/orders/count": {
      "get": {
        "description": "Gets an array of the orders in the store organized by order status.",
        "summary": "Get a Count of Orders",
        "tags": [
          "Orders"
        ],
        "operationId": "StoresV2OrdersCountByStoreHashGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrdersCountResponse"
            },
            "examples": {
              "application/json": {
                "statuses": [
                  {
                    "id": 0,
                    "name": "Incomplete",
                    "system_label": "Incomplete",
                    "custom_label": "Incomplete - Testing",
                    "system_description": "An incomplete order happens when a shopper reached the payment page, but did not complete the transaction.",
                    "count": 0,
                    "sort_order": 0
                  },
                  {
                    "id": 1,
                    "name": "Pending",
                    "system_label": "Pending",
                    "custom_label": "Pending",
                    "system_description": "Customer started the checkout process, but did not complete it.",
                    "count": 1,
                    "sort_order": 1
                  },
                  {
                    "id": 7,
                    "name": "Awaiting Payment",
                    "system_label": "Awaiting Payment",
                    "custom_label": "Awaiting Payment",
                    "system_description": "Customer has completed checkout process, but payment has yet to be confirmed.",
                    "count": 15,
                    "sort_order": 2
                  },
                  {
                    "id": 11,
                    "name": "Awaiting Fulfillment",
                    "system_label": "Awaiting Fulfillment",
                    "custom_label": "Awaiting Fulfillment",
                    "system_description": "Customer has completed the checkout process and payment has been confirmed.",
                    "count": 6,
                    "sort_order": 3
                  },
                  {
                    "id": 9,
                    "name": "Awaiting Shipment",
                    "system_label": "Awaiting Shipment",
                    "custom_label": "Awaiting Shipment",
                    "system_description": "Order has been pulled and packaged, and is awaiting collection from a shipping provider.",
                    "count": 0,
                    "sort_order": 4
                  },
                  {
                    "id": 8,
                    "name": "Awaiting Pickup",
                    "system_label": "Awaiting Pickup",
                    "custom_label": "Awaiting Pickup",
                    "system_description": "Order has been pulled, and is awaiting customer pickup from a seller-specified location.",
                    "count": 0,
                    "sort_order": 5
                  },
                  {
                    "id": 3,
                    "name": "Partially Shipped",
                    "system_label": "Partially Shipped",
                    "custom_label": "Partially Shipped",
                    "system_description": "Only some items in the order have been shipped, due to some products being pre-order only or other reasons.",
                    "count": 0,
                    "sort_order": 6
                  },
                  {
                    "id": 10,
                    "name": "Completed",
                    "system_label": "Completed",
                    "custom_label": "Completed - Testing",
                    "system_description": "Client has paid for their digital product and their file(s) are available for download.",
                    "count": 6,
                    "sort_order": 7
                  },
                  {
                    "id": 2,
                    "name": "Shipped",
                    "system_label": "Shipped",
                    "custom_label": "Shipped",
                    "system_description": "Order has been shipped, but receipt has not been confirmed; seller has used the Ship Items action.",
                    "count": 6,
                    "sort_order": 8
                  },
                  {
                    "id": 5,
                    "name": "Cancelled",
                    "system_label": "Cancelled",
                    "custom_label": "Cancelled",
                    "system_description": "Seller has cancelled an order, due to a stock inconsistency or other reasons.",
                    "count": 5,
                    "sort_order": 9
                  },
                  {
                    "id": 6,
                    "name": "Declined",
                    "system_label": "Declined",
                    "custom_label": "Declined",
                    "system_description": "Seller has marked the order as declined for lack of manual payment, or other reasons.",
                    "count": 0,
                    "sort_order": 10
                  },
                  {
                    "id": 4,
                    "name": "Refunded",
                    "system_label": "Refunded",
                    "custom_label": "Refunded",
                    "system_description": "Seller has used the Refund action.",
                    "count": 0,
                    "sort_order": 11
                  },
                  {
                    "id": 13,
                    "name": "Disputed",
                    "system_label": "Disputed",
                    "custom_label": "Disputed",
                    "system_description": "Customer has initiated a dispute resolution process for the PayPal transaction that paid for the order.",
                    "count": 0,
                    "sort_order": 12
                  },
                  {
                    "id": 12,
                    "name": "Manual Verification Required",
                    "system_label": "Manual Verification Required",
                    "custom_label": "Manual Verification Required",
                    "system_description": "Order on hold while some aspect needs to be manually confirmed.",
                    "count": 0,
                    "sort_order": 13
                  },
                  {
                    "id": 14,
                    "name": "Partially Refunded",
                    "system_label": "Partially Refunded",
                    "custom_label": "Partially Refunded",
                    "system_description": "Seller has partially refunded the order.",
                    "count": 0,
                    "sort_order": 14
                  }
                ],
                "count": 39
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stores/{store_hash}/v2/orders": {
      "get": {
        "description": "Gets a list of orders using the filter query",
        "summary": "List Orders",
        "tags": [
          "Orders"
        ],
        "operationId": "StoresV2OrdersByStoreHashGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "min_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The minimum order id"
          },
          {
            "name": "max_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The maximum order id"
          },
          {
            "name": "min_total",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The minimum order total in float format. eg. 12.50"
          },
          {
            "name": "max_total",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The maximum order total in float format. eg. 12.50"
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The id of the customer"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The email of the customer"
          },
          {
            "name": "status_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The staus id of the order. You can get the status id from the `/orders` endpoints"
          },
          {
            "name": "cart_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The cart id of the order"
          },
          {
            "name": "is_deleted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If the order was deleted or not"
          },
          {
            "name": "payment_method",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The payment method used on the order"
          },
          {
            "name": "min_date_created",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The minimum date the order was created in dateTime or date",
            "format": "date-time"
          },
          {
            "name": "max_date_created",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The maximum date the order was created in dateTime or date",
            "format": "date-time"
          },
          {
            "name": "min_date_modified",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The minimum date the order was changed in dateTime or date",
            "format": "date-time"
          },
          {
            "name": "max_date_modified",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The maximum date the order was changed in dateTime or date",
            "format": "date"
          },
          {
            "name": "pagination",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of pages to return"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Limit the number of hits returned"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort the results. eg. `date_created:desc`"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Order"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 118,
                  "customer_id": 6,
                  "date_created": "Mon, 23 Apr 2018 18:04:48 +0000",
                  "date_modified": "Mon, 23 Apr 2018 18:04:49 +0000",
                  "date_shipped": "Wed, 14 Nov 2012 19:26:23 +0000\"",
                  "status_id": 11,
                  "cart_id": "a8458391-ef68-4fe5-9ec1-442e6a767364",
                  "status": "Awaiting Fulfillment",
                  "subtotal_ex_tax": 225,
                  "subtotal_inc_tax": 225,
                  "subtotal_tax": 0,
                  "base_shipping_cost": 0,
                  "shipping_cost_ex_tax": 0,
                  "shipping_cost_inc_tax": 0,
                  "shipping_cost_tax": 0,
                  "shipping_cost_tax_class_id": 2,
                  "base_handling_cost": 0,
                  "handling_cost_ex_tax": 0,
                  "handling_cost_inc_tax": 0,
                  "handling_cost_tax": 0,
                  "handling_cost_tax_class_id": 2,
                  "base_wrapping_cost": 0,
                  "wrapping_cost_ex_tax": 0,
                  "wrapping_cost_inc_tax": 0,
                  "wrapping_cost_tax": 0,
                  "wrapping_cost_tax_class_id": 3,
                  "total_ex_tax": 225,
                  "total_inc_tax": 225,
                  "total_tax": 0,
                  "items_total": 1,
                  "items_shipped": 0,
                  "payment_method": "Cash on Delivery",
                  "payment_provider_id": null,
                  "refunded_amount": 0,
                  "order_is_digital": false,
                  "store_credit_amount": 0,
                  "gift_certificate_amount": 0,
                  "ip_address": "12.345.678.910",
                  "geoip_country": "United States",
                  "geoip_country_iso2": "US",
                  "currency_id": 1,
                  "currency_code": "USD",
                  "currency_exchange_rate": 1,
                  "default_currency_id": 1,
                  "default_currency_code": "``",
                  "staff_notes": "Send Saturday",
                  "customer_message": "Thank you",
                  "discount_amount": 0,
                  "coupon_discount": 5,
                  "shipping_address_count": 1,
                  "is_deleted": false,
                  "is_email_opt_in": false,
                  "ebay_order_id": 0,
                  "billing_address": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "company": "",
                    "street_1": "123 Main Street",
                    "street_2": "",
                    "city": "Austin",
                    "state": "TX",
                    "zip": 12345,
                    "country": "United States",
                    "country_iso2": "US",
                    "phone": "",
                    "email": "janedoe@email.com",
                    "form_fields": [
                      {
                        "name": "",
                        "value": ""
                      }
                    ]
                  },
                  "order_source": "www",
                  "external_source": null,
                  "products": {
                    "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products",
                    "resource": "/orders/129/products"
                  },
                  "shipping_addresses": {
                    "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses",
                    "resource": "/orders/129/shippingaddresses"
                  },
                  "coupons": {
                    "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons",
                    "resource": "/orders/129/coupons"
                  },
                  "external_id": null,
                  "external_merchant_id": null,
                  "custom_status": "Awaiting Payment"
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "summary": "Create an Order",
        "tags": [
          "Orders"
        ],
        "operationId": "StoresV2OrdersByStoreHashPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Order"
            },
            "x-examples": {
              "application/json": {
                "customer_id": 0,
                "status_id": 11,
                "date_created": "Thu, 04 Oct 2012 03:24:40 +0000",
                "subtotal_ex_tax": 1705,
                "subtotal_inc_tax": 1915,
                "base_shipping_cost": 0,
                "shipping_cost_ex_tax": 0,
                "shipping_cost_inc_tax": 0,
                "base_handling_cost": 0,
                "handling_cost_ex_tax": 0,
                "handling_cost_inc_tax": 0,
                "base_wrapping_cost": 0,
                "wrapping_cost_ex_tax": 0,
                "wrapping_cost_inc_tax": 0,
                "total_ex_tax": 1705,
                "total_inc_tax": 1915,
                "refunded_amount": 0,
                "order_is_digital": false,
                "staff_notes": "",
                "customer_message": "",
                "discount_amount": 10,
                "billing_address": {
                  "first_name": "Trisha",
                  "last_name": "McLaughlin",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Anywhere",
                  "state": "Some State",
                  "zip": "12345",
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "elsie@example.com"
                },
                "shipping_addresses": [
                  {
                    "first_name": "Trisha",
                    "last_name": "McLaughlin",
                    "company": "Acme Pty Ltd",
                    "street_1": "566 Sussex St",
                    "street_2": "",
                    "city": "Anywhere",
                    "state": "Some State",
                    "zip": "12345",
                    "country": "United States",
                    "country_iso2": "US",
                    "phone": "",
                    "email": "elsie@example.com"
                  }
                ],
                "products": [
                  {
                    "product_id": 32,
                    "quantity": 2
                  },
                  {
                    "product_id": 33,
                    "quantity": 2,
                    "product_options": [
                      {
                        "id": 87,
                        "value": 10
                      }
                    ]
                  },
                  {
                    "name": "My custom product",
                    "quantity": 2,
                    "price_inc_tax": 10.8,
                    "price_ex_tax": 10
                  }
                ],
                "external_source": "POS"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Order"
            },
            "examples": {
              "application/json": {
                "id": 118,
                "customer_id": 6,
                "date_created": "Mon, 23 Apr 2018 18:04:48 +0000",
                "date_modified": "Mon, 23 Apr 2018 18:04:49 +0000",
                "date_shipped": "Wed, 14 Nov 2012 19:26:23 +0000\"",
                "status_id": 11,
                "cart_id": "a8458391-ef68-4fe5-9ec1-442e6a767364",
                "status": "Awaiting Fulfillment",
                "subtotal_ex_tax": 225,
                "subtotal_inc_tax": 225,
                "subtotal_tax": 0,
                "base_shipping_cost": 0,
                "shipping_cost_ex_tax": 0,
                "shipping_cost_inc_tax": 0,
                "shipping_cost_tax": 0,
                "shipping_cost_tax_class_id": 2,
                "base_handling_cost": 0,
                "handling_cost_ex_tax": 0,
                "handling_cost_inc_tax": 0,
                "handling_cost_tax": 0,
                "handling_cost_tax_class_id": 2,
                "base_wrapping_cost": 0,
                "wrapping_cost_ex_tax": 0,
                "wrapping_cost_inc_tax": 0,
                "wrapping_cost_tax": 0,
                "wrapping_cost_tax_class_id": 3,
                "total_ex_tax": 225,
                "total_inc_tax": 225,
                "total_tax": 0,
                "items_total": 1,
                "items_shipped": 0,
                "payment_method": "Cash on Delivery",
                "payment_provider_id": null,
                "refunded_amount": 0,
                "order_is_digital": false,
                "store_credit_amount": 0,
                "gift_certificate_amount": 0,
                "ip_address": "12.345.678.910",
                "geoip_country": "United States",
                "geoip_country_iso2": "US",
                "currency_id": 1,
                "currency_code": "USD",
                "currency_exchange_rate": 1,
                "default_currency_id": 1,
                "default_currency_code": "``",
                "staff_notes": "Send Saturday",
                "customer_message": "Thank you",
                "discount_amount": 0,
                "coupon_discount": 5,
                "shipping_address_count": 1,
                "is_deleted": false,
                "is_email_opt_in": false,
                "ebay_order_id": 0,
                "billing_address": {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "state": "TX",
                  "zip": 12345,
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "janedoe@email.com",
                  "form_fields": [
                    {
                      "name": "",
                      "value": ""
                    }
                  ]
                },
                "order_source": "www",
                "external_source": null,
                "products": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/products",
                  "resource": "/orders/129/products"
                },
                "shipping_addresses": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/shippingaddresses",
                  "resource": "/orders/129/shippingaddresses"
                },
                "coupons": {
                  "url": "https://api.bigcommerce.com/stores/{store_hash}/v2/orders/129/coupons",
                  "resource": "/orders/129/coupons"
                },
                "external_id": null,
                "external_merchant_id": null,
                "custom_status": "Awaiting Payment"
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Archives all orders.",
        "summary": "Delete all Orders",
        "tags": [
          "Orders"
        ],
        "operationId": "StoresV2OrdersByStoreHashDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/coupons": {
      "get": {
        "description": "Lists all order coupons. Optional parameters can be passed in.",
        "summary": "List Order Coupons",
        "operationId": "StoresV2OrdersCouponsByStoreHashAndOrderIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The order id"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of pages to return"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Limit the number of responses"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderCoupons"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 3,
                  "coupon_id": 1,
                  "order_id": 120,
                  "code": "S2549JM0Y",
                  "amount": 5,
                  "type": 2,
                  "discount": 5
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Coupons",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/products": {
      "get": {
        "description": "Lists all order products on an order using `order_id`.",
        "summary": "List Order Products",
        "operationId": "StoresV2OrdersProductsByStoreHashAndOrderIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of pages"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Count per page"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderProducts"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 65,
                  "order_id": 149,
                  "product_id": 77,
                  "order_address_id": 51,
                  "name": "Fog Linen Chambray Towel - Beige Stripe",
                  "sku": "S-ORAN",
                  "type": "physical",
                  "base_price": "55.9900",
                  "price_ex_tax": "55.9900",
                  "price_inc_tax": "65.2300",
                  "price_tax": "9.2400",
                  "base_total": "55.9900",
                  "total_ex_tax": "55.9900",
                  "total_inc_tax": "65.2300",
                  "total_tax": "9.2400",
                  "weight": "1.0000",
                  "quantity": 1,
                  "base_cost_price": "0.0000",
                  "cost_price_inc_tax": "0.0000",
                  "cost_price_ex_tax": "0.0000",
                  "cost_price_tax": "0.0000",
                  "is_refunded": false,
                  "quantity_refunded": 0,
                  "refund_amount": "0.0000",
                  "return_id": 0,
                  "wrapping_name": "",
                  "base_wrapping_cost": "0.0000",
                  "wrapping_cost_ex_tax": "0.0000",
                  "wrapping_cost_inc_tax": "0.0000",
                  "wrapping_cost_tax": "0.0000",
                  "wrapping_message": "",
                  "quantity_shipped": 0,
                  "event_name": null,
                  "event_date": "",
                  "fixed_shipping_cost": "5.0000",
                  "ebay_item_id": "",
                  "ebay_transaction_id": "",
                  "option_set_id": 19,
                  "parent_order_product_id": null,
                  "is_bundled_product": false,
                  "bin_picking_number": "",
                  "external_id": null,
                  "fulfillment_source": "",
                  "applied_discounts": [],
                  "product_options": [
                    {
                      "id": 45,
                      "option_id": 18,
                      "order_product_id": 65,
                      "product_option_id": 120,
                      "display_name": "Size",
                      "display_value": "S",
                      "value": "69",
                      "type": "Multiple choice",
                      "name": "Apparel sizes",
                      "display_style": "Rectangle"
                    },
                    {
                      "id": 46,
                      "option_id": 3,
                      "order_product_id": 65,
                      "product_option_id": 121,
                      "display_name": "Color",
                      "display_value": "Orange",
                      "value": "112",
                      "type": "Swatch",
                      "name": "Colors",
                      "display_style": ""
                    },
                    {
                      "id": 47,
                      "option_id": 37,
                      "order_product_id": 65,
                      "product_option_id": 122,
                      "display_name": "Add Letters",
                      "display_value": "Text Field",
                      "value": "Text Field",
                      "type": "Text field",
                      "name": "Add Letters",
                      "display_style": ""
                    },
                    {
                      "id": 48,
                      "option_id": 38,
                      "order_product_id": 65,
                      "product_option_id": 123,
                      "display_name": "Is this a gift?",
                      "display_value": "Yes",
                      "value": "104",
                      "type": "Checkbox",
                      "name": "Gift Wrapping $5",
                      "display_style": ""
                    },
                    {
                      "id": 49,
                      "option_id": 39,
                      "order_product_id": 65,
                      "product_option_id": 124,
                      "display_name": "PickList",
                      "display_value": "Able Brewing System",
                      "value": "106",
                      "type": "Product Pick List",
                      "name": "PickList",
                      "display_style": "Pick list"
                    }
                  ],
                  "configurable_fields": []
                },
                {
                  "id": 66,
                  "order_id": 149,
                  "product_id": 86,
                  "order_address_id": 51,
                  "name": "Able Brewing System",
                  "sku": "ABS",
                  "type": "physical",
                  "base_price": "0.0000",
                  "price_ex_tax": "0.0000",
                  "price_inc_tax": "0.0000",
                  "price_tax": "0.0000",
                  "base_total": "0.0000",
                  "total_ex_tax": "0.0000",
                  "total_inc_tax": "0.0000",
                  "total_tax": "0.0000",
                  "weight": "0.0000",
                  "quantity": 1,
                  "base_cost_price": "0.0000",
                  "cost_price_inc_tax": "0.0000",
                  "cost_price_ex_tax": "0.0000",
                  "cost_price_tax": "0.0000",
                  "is_refunded": false,
                  "quantity_refunded": 0,
                  "refund_amount": "0.0000",
                  "return_id": 0,
                  "wrapping_name": "",
                  "base_wrapping_cost": "0.0000",
                  "wrapping_cost_ex_tax": "0.0000",
                  "wrapping_cost_inc_tax": "0.0000",
                  "wrapping_cost_tax": "0.0000",
                  "wrapping_message": "",
                  "quantity_shipped": 0,
                  "event_name": null,
                  "event_date": "",
                  "fixed_shipping_cost": "0.0000",
                  "ebay_item_id": "",
                  "ebay_transaction_id": "",
                  "option_set_id": null,
                  "parent_order_product_id": 65,
                  "is_bundled_product": true,
                  "bin_picking_number": "BIN",
                  "external_id": null,
                  "fulfillment_source": "",
                  "applied_discounts": [],
                  "product_options": [],
                  "configurable_fields": []
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Products",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/shipping_addresses": {
      "get": {
        "description": "Get all shipping address on an order using the `order_id`.",
        "summary": "Get A List of Order Shipping Address",
        "operationId": "StoresV2OrdersShippingAddressesByStoreHashAndOrderIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of pages"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Count per page"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderShippingAddress"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 39,
                  "order_id": 138,
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "zip": "78751",
                  "country": "United States",
                  "country_iso2": "US",
                  "state": "Texas",
                  "email": "",
                  "phone": "1234567890",
                  "items_total": 1,
                  "items_shipped": 0,
                  "shipping_method": "Free Shipping",
                  "base_cost": "0.0000",
                  "cost_ex_tax": "0.0000",
                  "cost_inc_tax": "0.0000",
                  "cost_tax": "0.0000",
                  "cost_tax_class_id": 2,
                  "base_handling_cost": "0.0000",
                  "handling_cost_ex_tax": "0.0000",
                  "handling_cost_inc_tax": "0.0000",
                  "handling_cost_tax": "0.0000",
                  "handling_cost_tax_class_id": 2,
                  "shipping_zone_id": 1,
                  "shipping_zone_name": "United States",
                  "form_fields": [
                    {
                      "name": "License",
                      "value": ""
                    }
                  ]
                },
                {
                  "id": 40,
                  "order_id": 138,
                  "first_name": "John",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "178 South Street",
                  "street_2": "",
                  "city": "Austin",
                  "zip": "78751",
                  "country": "United States",
                  "country_iso2": "US",
                  "state": "Texas",
                  "email": "",
                  "phone": "1234567890",
                  "items_total": 1,
                  "items_shipped": 0,
                  "shipping_method": "Free Shipping",
                  "base_cost": "0.0000",
                  "cost_ex_tax": "0.0000",
                  "cost_inc_tax": "0.0000",
                  "cost_tax": "0.0000",
                  "cost_tax_class_id": 2,
                  "base_handling_cost": "0.0000",
                  "handling_cost_ex_tax": "0.0000",
                  "handling_cost_inc_tax": "0.0000",
                  "handling_cost_tax": "0.0000",
                  "handling_cost_tax_class_id": 2,
                  "shipping_zone_id": 1,
                  "shipping_zone_name": "United States",
                  "form_fields": [
                    {
                      "name": "License",
                      "value": ""
                    }
                  ]
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipping Addresses",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/shipping_addresses/count": {
      "get": {
        "description": "Returns a count of all order shipping addresses using the `order_id`.",
        "summary": "Get a Count of All Order Shipping Addresses",
        "operationId": "StoresV2OrdersShippingAddressesCountByStoreHashAndOrderIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderCountResponse"
            },
            "examples": {
              "application/json": {
                "count": 27
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipping Addresses",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/order_statuses": {
      "get": {
        "description": "Gets a list of order statues.",
        "summary": "Get All Order Statuses",
        "operationId": "StoresV2OrderStatusesByStoreHashGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of pages"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Count per page"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderStatuses"
            },
            "examples": {
              "application/json": [
                {
                  "id": 0,
                  "name": "Incomplete",
                  "system_label": "Incomplete",
                  "custom_label": "Incomplete - Testing",
                  "system_description": "An incomplete order happens when a shopper reached the payment page, but did not complete the transaction.",
                  "order": 0
                },
                {
                  "id": 1,
                  "name": "Pending",
                  "system_label": "Pending",
                  "custom_label": "Pending",
                  "system_description": "Customer started the checkout process, but did not complete it.",
                  "order": 1
                },
                {
                  "id": 2,
                  "name": "Shipped",
                  "system_label": "Shipped",
                  "custom_label": "Shipped",
                  "system_description": "Order has been shipped, but receipt has not been confirmed; seller has used the Ship Items action.",
                  "order": 8
                },
                {
                  "id": 3,
                  "name": "Partially Shipped",
                  "system_label": "Partially Shipped",
                  "custom_label": "Partially Shipped",
                  "system_description": "Only some items in the order have been shipped, due to some products being pre-order only or other reasons.",
                  "order": 6
                },
                {
                  "id": 4,
                  "name": "Refunded",
                  "system_label": "Refunded",
                  "custom_label": "Refunded",
                  "system_description": "Seller has used the Refund action.",
                  "order": 11
                },
                {
                  "id": 5,
                  "name": "Cancelled",
                  "system_label": "Cancelled",
                  "custom_label": "Cancelled",
                  "system_description": "Seller has cancelled an order, due to a stock inconsistency or other reasons.",
                  "order": 9
                },
                {
                  "id": 6,
                  "name": "Declined",
                  "system_label": "Declined",
                  "custom_label": "Declined",
                  "system_description": "Seller has marked the order as declined for lack of manual payment, or other reasons.",
                  "order": 10
                },
                {
                  "id": 7,
                  "name": "Awaiting Payment",
                  "system_label": "Awaiting Payment",
                  "custom_label": "Awaiting Payment",
                  "system_description": "Customer has completed checkout process, but payment has yet to be confirmed.",
                  "order": 2
                },
                {
                  "id": 8,
                  "name": "Awaiting Pickup",
                  "system_label": "Awaiting Pickup",
                  "custom_label": "Awaiting Pickup",
                  "system_description": "Order has been pulled, and is awaiting customer pickup from a seller-specified location.",
                  "order": 5
                },
                {
                  "id": 9,
                  "name": "Awaiting Shipment",
                  "system_label": "Awaiting Shipment",
                  "custom_label": "Awaiting Shipment",
                  "system_description": "Order has been pulled and packaged, and is awaiting collection from a shipping provider.",
                  "order": 4
                },
                {
                  "id": 10,
                  "name": "Completed",
                  "system_label": "Completed",
                  "custom_label": "Completed - Testing",
                  "system_description": "Client has paid for their digital product and their file(s) are available for download.",
                  "order": 7
                },
                {
                  "id": 11,
                  "name": "Awaiting Fulfillment",
                  "system_label": "Awaiting Fulfillment",
                  "custom_label": "Awaiting Fulfillment",
                  "system_description": "Customer has completed the checkout process and payment has been confirmed.",
                  "order": 3
                },
                {
                  "id": 12,
                  "name": "Manual Verification Required",
                  "system_label": "Manual Verification Required",
                  "custom_label": "Manual Verification Required",
                  "system_description": "Order on hold while some aspect needs to be manually confirmed.",
                  "order": 13
                },
                {
                  "id": 13,
                  "name": "Disputed",
                  "system_label": "Disputed",
                  "custom_label": "Disputed",
                  "system_description": "Customer has initiated a dispute resolution process for the PayPal transaction that paid for the order.",
                  "order": 12
                },
                {
                  "id": 14,
                  "name": "Partially Refunded",
                  "system_label": "Partially Refunded",
                  "custom_label": "Partially Refunded",
                  "system_description": "Seller has partially refunded the order.",
                  "order": 14
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Statues",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/order_statuses/{id}": {
      "get": {
        "description": "Gets a single order status.",
        "summary": "Get a Single Order Status by Id",
        "operationId": "StoresV2OrderStatusesByStoreHashAndIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order status"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "system_label": {
                  "type": "string"
                },
                "custom_label": {
                  "type": "string"
                },
                "system_description": {
                  "type": "string"
                },
                "order": {
                  "type": "integer"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "Pending",
                "system_label": "Pending",
                "system_description": "Pending",
                "custom_label": "Pending",
                "order": 1
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Statues",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/taxes": {
      "get": {
        "description": "Gets all order taxes using `order_id`.",
        "summary": "Get All Order Taxes",
        "operationId": "StoresV2OrdersTaxesByStoreHashAndOrderIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of pages"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Count per page"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderTaxes"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 13,
                  "order_id": 138,
                  "order_address_id": 39,
                  "tax_rate_id": 1,
                  "tax_class_id": 0,
                  "name": "Tax",
                  "class": "Default Tax Class",
                  "rate": "8.0000",
                  "priority": 0,
                  "priority_amount": "17.6400",
                  "line_amount": "17.6400"
                },
                {
                  "id": 14,
                  "order_id": 138,
                  "order_address_id": 40,
                  "tax_rate_id": 1,
                  "tax_class_id": 0,
                  "name": "Tax",
                  "class": "Default Tax Class",
                  "rate": "8.0000",
                  "priority": 0,
                  "priority_amount": "4.4000",
                  "line_amount": "4.4000"
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Taxes",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/shipments": {
      "get": {
        "description": "Gets a list of all shipments on an order",
        "summary": "Get A List of Order Shipments",
        "operationId": "StoresV2OrdersShipmentsByStoreHashAndOrderIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of pages"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Count per page"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderShipment"
            },
            "examples": {
              "application/json": [
                {
                  "id": 2,
                  "order_id": 143,
                  "customer_id": 6,
                  "order_address_id": 45,
                  "date_created": "Tue, 14 Aug 2018 13:59:39 +0000",
                  "tracking_number": "123445656746576787568",
                  "shipping_method": "Free Shipping",
                  "comments": "Packing Slip Notes",
                  "shipping_provider": "",
                  "tracking_carrier": "",
                  "billing_address": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "company": "",
                    "street_1": "123 Main Street",
                    "street_2": "",
                    "city": "Austin",
                    "state": "Texas",
                    "zip": "78726",
                    "country": "United States",
                    "country_iso2": "US",
                    "phone": "5122134567",
                    "email": "janedoe@email.com"
                  },
                  "shipping_address": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "company": "",
                    "street_1": "123 Main Street",
                    "street_2": "",
                    "city": "Austin",
                    "state": "Texas",
                    "zip": "78726",
                    "country": "United States",
                    "country_iso2": "US",
                    "phone": "1234567890",
                    "email": ""
                  },
                  "items": [
                    {
                      "order_product_id": 57,
                      "product_id": 86,
                      "quantity": 1
                    }
                  ]
                }
              ]
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipments",
          "Orders"
        ]
      },
      "post": {
        "description": "Creates a new shipment for an order.",
        "summary": "Create A New Order Shipment",
        "operationId": "StoresV2OrdersShipmentsByStoreHashAndOrderIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderShipment"
            },
            "x-examples": {
              "application/json": {
                "tracking_number": "EJ958083578US",
                "comments": "Ready to go...",
                "order_address_id": 1,
                "shipping_provider": "",
                "items": [
                  {
                    "order_product_id": 15,
                    "quantity": 2
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderShipment"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "order_id": 120,
                "customer_id": 5,
                "order_address_id": 20,
                "date_created": "Tue, 12 Jun 2018 14:12:26 +0000",
                "tracking_number": "w4se4b6ASFEW4T",
                "shipping_method": "Ship by Weight",
                "shipping_provider": "usps",
                "tracking_carrier": "auspost",
                "comments": "",
                "billing_address": {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "state": "TX",
                  "zip": 12345,
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "janedoe@email.com"
                },
                "shipping_address": {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "state": "TX",
                  "zip": 12345,
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "janedoe@email.com"
                },
                "items": [
                  {
                    "order_product_id": 25,
                    "product_id": 77,
                    "quantity": 1
                  }
                ]
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipments",
          "Orders"
        ]
      },
      "delete": {
        "description": "Deletes all shipments associated with an order.",
        "summary": "Delete All Order Shipments",
        "operationId": "StoresV2OrdersShipmentsByStoreHashAndOrderIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "number",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipments",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/shipments/count": {
      "get": {
        "description": "Gets a count of the number of shipments that have been made for a single order.",
        "summary": "Get A Count of Shipments Per Order",
        "operationId": "StoresV2OrdersShipmentsCountByStoreHashAndOrderIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderCountResponse"
            },
            "examples": {
              "application/json": {
                "count": 27
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipments",
          "Orders"
        ]
      }
    },
    "/stores/{store_hash}/v2/orders/{order_id}/shipments/{id}": {
      "put": {
        "description": "Updates an existing shipment associated with an order.",
        "summary": "Update A Shipment",
        "operationId": "StoresV2OrdersShipmentsIdByStoreHashAndOrderIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the shipment"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderShipment"
            },
            "x-examples": {
              "application/json": {
                "tracking_number": "EJ958083578US",
                "order_address_id": 1,
                "shipping_provider": "",
                "items": [
                  {
                    "order_product_id": 15,
                    "quantity": 2
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderShipment"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "order_id": 120,
                "customer_id": 5,
                "order_address_id": 20,
                "date_created": "Tue, 12 Jun 2018 14:12:26 +0000",
                "tracking_number": "w4se4b6ASFEW4T",
                "shipping_method": "Ship by Weight",
                "shipping_provider": "usps",
                "tracking_carrier": "auspost",
                "comments": "",
                "billing_address": {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "state": "TX",
                  "zip": 12345,
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "janedoe@email.com"
                },
                "shipping_address": {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "company": "",
                  "street_1": "123 Main Street",
                  "street_2": "",
                  "city": "Austin",
                  "state": "TX",
                  "zip": 12345,
                  "country": "United States",
                  "country_iso2": "US",
                  "phone": "",
                  "email": "janedoe@email.com"
                },
                "items": [
                  {
                    "order_product_id": 25,
                    "product_id": 77,
                    "quantity": 1
                  }
                ]
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipments",
          "Orders"
        ]
      },
      "delete": {
        "description": "Deletes a shipment associated with an order.",
        "summary": "Delete A Order Shipment",
        "operationId": "StoresV2OrdersShipmentsIdByStoreHashAndOrderIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Id of the order"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the shipment"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "",
            "default": "application/json"
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        },
        "tags": [
          "Order Shipments",
          "Orders"
        ]
      }
    }
  },
  "definitions": {
    "Order": {
      "title": "Order",
      "example": {
        "id": 113,
[...]
