{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "BigCommerce V3 API",
    "description": "TODO: Add a description"
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{store_hash}/v3/catalog/products": {
      "get": {
        "description": "Get all products from your BigCommerce catalog. Optional parameters can be passed in.",
        "summary": "Get All Products",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsByStoreHashGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by *Product* id. `/v3catalog/products?id=3`"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by name. `/v3catalog/products?name=towel`"
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by sku. `/v3catalog/products?sku=greenmd`"
          },
          {
            "name": "upc",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by upc. `/v3catalog/products?upc=1234566789102`"
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by price. `/v3catalog/products?price=12.99`"
          },
          {
            "name": "weight",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by weight. `/v3catalog/products?weight=5`"
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "enum": [
              "new",
              "used",
              "refurbished"
            ],
            "x-enum-elements": [
              {
                "name": "new",
                "description": ""
              },
              {
                "name": "used",
                "description": ""
              },
              {
                "name": "refurbished",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Filter items by condition. Options: `new`, `used`, `refurbished`. `/v3catalog/products?condition=used`"
          },
          {
            "name": "brand_id",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by brand_id.  `/v3catalog/products?brand_id=7`"
          },
          {
            "name": "date_modified",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by date_modified. The min or max filter needs to be added. `v3/catalog/products?date_modified:min=2018-06-15`"
          },
          {
            "name": "date_last_imported",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by date_last_imported. The min or max filter needs to be added. `v3/catalog/products?date_last_imported:min=2018-06-15`"
          },
          {
            "name": "is_visible",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter items by is_visible. This filter uses numbers instead. 0 = false and 1 = true `/v3catalog/products?is_visible=1`"
          },
          {
            "name": "is_featured",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter items by is_featured. `/v3catalog/products?is_featured=false`"
          },
          {
            "name": "is_free_shipping",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter items by is_free_shipping. `/v3catalog/products?is_free_shipping=true`"
          },
          {
            "name": "inventory_level",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by inventory_level. `/v3catalog/products?inventory_level=6`"
          },
          {
            "name": "inventory_low",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by inventory_low. Values: 1, 0. A value of 0 means the inventory is low. If the value is set to 1, it will return all products that do not have a low inventory\nor the inventory is not set. `/v3/catalog/products?inventory_low=0`"
          },
          {
            "name": "out_of_stock",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by out_of_stock. To see which products are out of stock, pass `out_of_stock`=`1`. `/v3/catalog/products?out_of_stock=1`"
          },
          {
            "name": "total_sold",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by total_sold. `/v3catalog/products?total_sold=15`"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "enum": [
              "physical",
              "digital"
            ],
            "x-enum-elements": [
              {
                "name": "physical",
                "description": ""
              },
              {
                "name": "digital",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Filter items by type: `physical` or `digital`."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by category_id. `/v3catalog/products?categories=8`"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name. `/v3catalog/products?keyword=bath`"
          },
          {
            "name": "keyword_context",
            "in": "query",
            "required": false,
            "enum": [
              "shopper",
              "merchant"
            ],
            "x-enum-elements": [
              {
                "name": "shopper",
                "description": ""
              },
              {
                "name": "merchant",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Set context for a product search. `/v3catalog/products?keyword_context=merchant`"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "enum": [
              "variants",
              "images",
              "custom_fields",
              "bulk_pricing_rules",
              "primary_image"
            ],
            "x-enum-elements": [
              {
                "name": "variants",
                "description": ""
              },
              {
                "name": "images",
                "description": ""
              },
              {
                "name": "custom_fields",
                "description": ""
              },
              {
                "name": "bulk_pricing_rules",
                "description": ""
              },
              {
                "name": "primary_image",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Sub-resources to include on a product, in a comma-separated list. `/v3catalog/products?include=variants`"
          },
          {
            "name": "include_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned. `/v3catalog/products?include_fields=name, description`"
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded. `/v3catalog/products?exclude_fields=weight, price`"
          },
          {
            "name": "availability",
            "in": "query",
            "required": false,
            "enum": [
              "available",
              "disabled",
              "preorder"
            ],
            "x-enum-elements": [
              {
                "name": "available",
                "description": ""
              },
              {
                "name": "disabled",
                "description": ""
              },
              {
                "name": "preorder",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Filter items by availability. Values are: `available`, `disabled`, `preorder`. `/v3catalog/products?availability=available`"
          },
          {
            "name": "price_list_id",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter by the `price_list_id`. `/v3catalog/products?price_list_id=52`"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Specifies the page number in a limited (paginated) list of products. `/v3catalog/products?page=1`"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Controls the number of items per page in a limited (paginated) list of products. `/v3catalog/products?limit=50`"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "x-enum-elements": [
              {
                "name": "asc",
                "description": ""
              },
              {
                "name": "desc",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Sort direction. Acceptable values are: `asc`, `desc`. `/v3catalog/products?direction=asc`"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "enum": [
              "id",
              "name",
              "sku",
              "price",
              "date_modified",
              "date_last_imported",
              "inventory_level",
              "is_visible",
              "total_sold"
            ],
            "x-enum-elements": [
              {
                "name": "id",
                "description": ""
              },
              {
                "name": "name",
                "description": ""
              },
              {
                "name": "sku",
                "description": ""
              },
              {
                "name": "price",
                "description": ""
              },
              {
                "name": "date_modified",
                "description": ""
              },
              {
                "name": "date_last_imported",
                "description": ""
              },
              {
                "name": "inventory_level",
                "description": ""
              },
              {
                "name": "is_visible",
                "description": ""
              },
              {
                "name": "total_sold",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Field name to sort by. `/v3catalog/products?sort=date_last_imported`"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductCollectionResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "name": "Fog Linen Chambray Towel - Beige Stripe",
                    "type": "physical",
                    "sku": "SLCTBS",
                    "description": "<p>The perfect beach towel: thin, lightweight and highly absorbent. Crafted by Fog Linen in Japan using soft Lithuanian linen, each towel rolls up for compact stowaway. Dry off after a refreshing dip in the ocean and stretch out on it for a sun bath. The thinness ensures a quick dry so you can have it rolled back up in your bag without soaking your belongings.</p>\\r\\n<p>Measures 75 x 145 cm/29.5 x 57 in</p>\\r\\n<p>100% Linen</p>",
                    "weight": 1,
                    "width": 6,
                    "depth": 2,
                    "height": 4,
                    "price": 49.99,
                    "cost_price": 12.99,
                    "retail_price": 32.99,
                    "tax_class_id": 0,
                    "product_tax_code": "3451",
                    "categories": [
                      1,
                      2
                    ],
                    "brand_id": 5,
                    "option_set_id": 19,
                    "inventory_level": 10,
                    "inventory_warning_level": 10,
                    "inventory_tracking": "none",
                    "fixed_cost_shipping_price": 8,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": true,
                    "related_products": [
                      -1
                    ],
                    "bin_picking_number": "56WB",
                    "layout_file": "product.html",
                    "upc": "1234567890",
                    "search_keywords": "towel, bath, kitchen",
                    "availability": "available",
                    "gift_wrapping_options_type": "list",
                    "gift_wrapping_options_list": [
                      1,
                      2,
                      3
                    ],
                    "sort_order": 4,
                    "condition": "New",
                    "is_condition_shown": true,
                    "order_quantity_minimum": 5,
                    "order_quantity_maximum": 50,
                    "meta_keywords": [],
                    "view_count": 146,
                    "preorder_release_date": "null",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "custom_url": {
                      "url": "/this-is-a-custom-url/",
                      "is_customized": true
                    },
                    "open_graph_type": "product",
                    "id": 81,
                    "calculated_price": 49.99,
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 1050,
                    "custom_fields": [
                      {
                        "name": "Release year",
                        "value": "1987",
                        "id": 1
                      }
                    ],
                    "bulk_pricing_rules": [
                      {
                        "quantity_min": 10,
                        "quantity_max": 50,
                        "type": "price",
                        "amount": 10,
                        "id": 3
                      }
                    ],
                    "date_created": "2015-05-05T12:30:00+00:00",
                    "date_modified": "2015-12-15T06:22:30+00:00",
                    "images": [
                      {
                        "is_thumbnail": true,
                        "sort_order": 2,
                        "id": 265,
                        "product_id": 118,
                        "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                        "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                        "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                        "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                        "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                        "date_modified": "2018-01-05T21:47:35+00:00"
                      }
                    ],
                    "videos": [
                      {
                        "title": "About us",
                        "description": "Thank you for visiting us",
                        "sort_order": 1,
                        "type": "youtube",
                        "id": 1,
                        "video_id": "123345AA",
                        "product_id": 113,
                        "length": "22:43"
                      }
                    ],
                    "variants": [
                      {
                        "cost_price": 12,
                        "price": 14,
                        "weight": 22,
                        "width": 40,
                        "height": 100,
                        "depth": 4,
                        "is_free_shipping": false,
                        "purchasing_disabled": false,
                        "inventory_level": 50,
                        "inventory_warning_level": 10,
                        "id": 156,
                        "product_id": 77,
                        "sku": "M-ORAN-1",
                        "sku_id": 197,
                        "option_values": [
                          {
                            "option_display_name": "Color",
                            "label": "Color",
                            "id": 107,
                            "option_id": 124
                          }
                        ],
                        "calculated_price": 49.99
                      }
                    ],
                    "base_variant_id": 22
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create a product.",
        "summary": "Create a Product",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsByStoreHashPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "name": "Fog Linen Chambray Towel - Beige Stripe",
                    "type": "physical",
                    "sku": "SLCTBS",
                    "description": "<p>The perfect beach towel: thin, lightweight and highly absorbent. Crafted by Fog Linen in Japan using soft Lithuanian linen, each towel rolls up for compact stowaway. Dry off after a refreshing dip in the ocean and stretch out on it for a sun bath. The thinness ensures a quick dry so you can have it rolled back up in your bag without soaking your belongings.</p>\\r\\n<p>Measures 75 x 145 cm/29.5 x 57 in</p>\\r\\n<p>100% Linen</p>",
                    "weight": 1,
                    "width": 6,
                    "depth": 2,
                    "height": 4,
                    "price": 49.99,
                    "cost_price": 12.99,
                    "retail_price": 32.99,
                    "tax_class_id": 0,
                    "product_tax_code": "3451",
                    "categories": [
                      1,
                      2
                    ],
                    "brand_id": 5,
                    "option_set_id": 19,
                    "inventory_level": 10,
                    "inventory_warning_level": 10,
                    "inventory_tracking": "none",
                    "fixed_cost_shipping_price": 8,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": true,
                    "related_products": [
                      -1
                    ],
                    "bin_picking_number": "56WB",
                    "layout_file": "product.html",
                    "upc": "1234567890",
                    "search_keywords": "towel, bath, kitchen",
                    "availability": "available",
                    "gift_wrapping_options_type": "list",
                    "gift_wrapping_options_list": [
                      1,
                      2,
                      3
                    ],
                    "sort_order": 4,
                    "condition": "New",
                    "is_condition_shown": true,
                    "order_quantity_minimum": 5,
                    "order_quantity_maximum": 50,
                    "meta_keywords": [],
                    "view_count": 146,
                    "preorder_release_date": "null",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "custom_url": {
                      "url": "/this-is-a-custom-url/",
                      "is_customized": true
                    },
                    "open_graph_type": "product",
                    "id": 81,
                    "calculated_price": 49.99,
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 1050,
                    "custom_fields": [
                      {
                        "name": "Release year",
                        "value": "1987",
                        "id": 1
                      }
                    ],
                    "bulk_pricing_rules": [
                      {
                        "quantity_min": 10,
                        "quantity_max": 50,
                        "type": "price",
                        "amount": 10,
                        "id": 3
                      }
                    ],
                    "date_created": "2015-05-05T12:30:00+00:00",
                    "date_modified": "2015-12-15T06:22:30+00:00",
                    "images": [
                      {
                        "is_thumbnail": true,
                        "sort_order": 2,
                        "id": 265,
                        "product_id": 118,
                        "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                        "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                        "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                        "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                        "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                        "date_modified": "2018-01-05T21:47:35+00:00"
                      }
                    ],
                    "videos": [
                      {
                        "title": "About us",
                        "description": "Thank you for visiting us",
                        "sort_order": 1,
                        "type": "youtube",
                        "id": 1,
                        "video_id": "123345AA",
                        "product_id": 113,
                        "length": "22:43"
                      }
                    ],
                    "variants": [
                      {
                        "cost_price": 12,
                        "price": 14,
                        "weight": 22,
                        "width": 40,
                        "height": 100,
                        "depth": 4,
                        "is_free_shipping": false,
                        "purchasing_disabled": false,
                        "inventory_level": 50,
                        "inventory_warning_level": 10,
                        "id": 156,
                        "product_id": 77,
                        "sku": "M-ORAN-1",
                        "sku_id": 197,
                        "option_values": [
                          {
                            "option_display_name": "Color",
                            "label": "Color",
                            "id": 107,
                            "option_id": 124
                          }
                        ],
                        "calculated_price": 49.99
                      }
                    ],
                    "base_variant_id": 22
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Product was in conflict with another product. This is the result of duplicate unique values, such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.",
            "schema": {}
          },
          "422": {
            "description": "Product was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete a product(s). At least one filter parameter should be passed to control what is being deleted. \nFor example to delete products with the id's of 1,2 and 3, use `DELETE /v3/catalog/products?id:in=1,2,3`",
        "summary": "Delete a Product(s)",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsByStoreHashDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by *Product* id. `/v3catalog/products?id=3`"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by name. `/v3catalog/products?name=towel`"
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by sku. `/v3catalog/products?sku=greenmd`"
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by price. `/v3catalog/products?price=12.99`"
          },
          {
            "name": "weight",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by weight. `/v3catalog/products?weight=5`"
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "enum": [
              "new",
              "used",
              "refurbished"
            ],
            "x-enum-elements": [
              {
                "name": "new",
                "description": ""
              },
              {
                "name": "used",
                "description": ""
              },
              {
                "name": "refurbished",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Filter items by condition. Options: `new`, `used`, `refurbished`. `/v3catalog/products?condition=used`"
          },
          {
            "name": "brand_id",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by brand_id.  `/v3catalog/products?brand_id=7`"
          },
          {
            "name": "date_modified",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by date_modified. The min or max filter needs to be added. `v3/catalog/products?date_modified:min=2018-06-15`"
          },
          {
            "name": "date_last_imported",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by date_last_imported. The min or max filter needs to be added. `v3/catalog/products?date_last_imported:min=2018-06-15`"
          },
          {
            "name": "is_visible",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter items by is_visible. This filter uses numbers instead. 0 = false and 1 = true `/v3catalog/products?is_visible=0`"
          },
          {
            "name": "is_featured",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter items by is_featured. `/v3catalog/products?is_featured=false`"
          },
          {
            "name": "inventory_level",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by inventory_level. `/v3catalog/products?inventory_level=6`"
          },
          {
            "name": "total_sold",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by total_sold. `/v3catalog/products?total_sold=15`"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "enum": [
              "physical",
              "digital"
            ],
            "x-enum-elements": [
              {
                "name": "physical",
                "description": ""
              },
              {
                "name": "digital",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Filter items by type: `physical` or `digital`."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter items by *Category* id. `/v3catalog/products?categories=8`"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name. `/v3catalog/products?keyword=bath`"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{store_hash}/v3/catalog/products/{product_id}": {
      "get": {
        "description": "Get a product using `product_id`. Optional parameters can be passed in.",
        "summary": "Get a Product by Id",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsByStoreHashAndProductIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "enum": [
              "variants",
              "images",
              "custom_fields",
              "bulk_pricing_rules",
              "primary_image"
            ],
            "x-enum-elements": [
              {
                "name": "variants",
                "description": ""
              },
              {
                "name": "images",
                "description": ""
              },
              {
                "name": "custom_fields",
                "description": ""
              },
              {
                "name": "bulk_pricing_rules",
                "description": ""
              },
              {
                "name": "primary_image",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Sub-resources to include on a product, in a comma-separated list. Valid expansions currently include `variants`, `images`, 'primary_image`, `custom_fields`, and `bulk_pricing_rules`. `/v3catalog/products?include=variants`"
          },
          {
            "name": "include_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned. `/v3catalog/products?include_fields=name, description`"
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded. `/v3catalog/products?exclude_fields=weight, price`"
          },
          {
            "name": "price_list_id",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Filter by the `price_list_id`. `/v3catalog/products?price_list_id=52`"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "name": "Fog Linen Chambray Towel - Beige Stripe",
                    "type": "physical",
                    "sku": "SLCTBS",
                    "description": "<p>The perfect beach towel: thin, lightweight and highly absorbent. Crafted by Fog Linen in Japan using soft Lithuanian linen, each towel rolls up for compact stowaway. Dry off after a refreshing dip in the ocean and stretch out on it for a sun bath. The thinness ensures a quick dry so you can have it rolled back up in your bag without soaking your belongings.</p>\\r\\n<p>Measures 75 x 145 cm/29.5 x 57 in</p>\\r\\n<p>100% Linen</p>",
                    "weight": 1,
                    "width": 6,
                    "depth": 2,
                    "height": 4,
                    "price": 49.99,
                    "cost_price": 12.99,
                    "retail_price": 32.99,
                    "tax_class_id": 0,
                    "product_tax_code": "3451",
                    "categories": [
                      1,
                      2
                    ],
                    "brand_id": 5,
                    "option_set_id": 19,
                    "inventory_level": 10,
                    "inventory_warning_level": 10,
                    "inventory_tracking": "none",
                    "fixed_cost_shipping_price": 8,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": true,
                    "related_products": [
                      -1
                    ],
                    "bin_picking_number": "56WB",
                    "layout_file": "product.html",
                    "upc": "1234567890",
                    "search_keywords": "towel, bath, kitchen",
                    "availability": "available",
                    "gift_wrapping_options_type": "list",
                    "gift_wrapping_options_list": [
                      1,
                      2,
                      3
                    ],
                    "sort_order": 4,
                    "condition": "New",
                    "is_condition_shown": true,
                    "order_quantity_minimum": 5,
                    "order_quantity_maximum": 50,
                    "meta_keywords": [],
                    "view_count": 146,
                    "preorder_release_date": "null",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "custom_url": {
                      "url": "/this-is-a-custom-url/",
                      "is_customized": true
                    },
                    "open_graph_type": "product",
                    "id": 81,
                    "calculated_price": 49.99,
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 1050,
                    "custom_fields": [
                      {
                        "name": "Release year",
                        "value": "1987",
                        "id": 1
                      }
                    ],
                    "bulk_pricing_rules": [
                      {
                        "quantity_min": 10,
                        "quantity_max": 50,
                        "type": "price",
                        "amount": 10,
                        "id": 3
                      }
                    ],
                    "date_created": "2015-05-05T12:30:00+00:00",
                    "date_modified": "2015-12-15T06:22:30+00:00",
                    "images": [
                      {
                        "is_thumbnail": true,
                        "sort_order": 2,
                        "id": 265,
                        "product_id": 118,
                        "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                        "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                        "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                        "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                        "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                        "date_modified": "2018-01-05T21:47:35+00:00"
                      }
                    ],
                    "videos": [
                      {
                        "title": "About us",
                        "description": "Thank you for visiting us",
                        "sort_order": 1,
                        "type": "youtube",
                        "id": 1,
                        "video_id": "123345AA",
                        "product_id": 113,
                        "length": "22:43"
                      }
                    ],
                    "variants": [
                      {
                        "cost_price": 12,
                        "price": 14,
                        "weight": 22,
                        "width": 40,
                        "height": 100,
                        "depth": 4,
                        "is_free_shipping": false,
                        "purchasing_disabled": false,
                        "inventory_level": 50,
                        "inventory_warning_level": 10,
                        "id": 156,
                        "product_id": 77,
                        "sku": "M-ORAN-1",
                        "sku_id": 197,
                        "option_values": [
                          {
                            "option_display_name": "Color",
                            "label": "Color",
                            "id": 107,
                            "option_id": 124
                          }
                        ],
                        "calculated_price": 49.99
                      }
                    ],
                    "base_variant_id": 22
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Updates a product using the `product_id`.",
        "summary": "Update a Product by Id",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsByStoreHashAndProductIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "name": "Fog Linen Chambray Towel - Beige Stripe",
                    "type": "physical",
                    "sku": "SLCTBS",
                    "description": "<p>The perfect beach towel: thin, lightweight and highly absorbent. Crafted by Fog Linen in Japan using soft Lithuanian linen, each towel rolls up for compact stowaway. Dry off after a refreshing dip in the ocean and stretch out on it for a sun bath. The thinness ensures a quick dry so you can have it rolled back up in your bag without soaking your belongings.</p>\\r\\n<p>Measures 75 x 145 cm/29.5 x 57 in</p>\\r\\n<p>100% Linen</p>",
                    "weight": 1,
                    "width": 6,
                    "depth": 2,
                    "height": 4,
                    "price": 49.99,
                    "cost_price": 12.99,
                    "retail_price": 32.99,
                    "tax_class_id": 0,
                    "product_tax_code": "3451",
                    "categories": [
                      1,
                      2
                    ],
                    "brand_id": 5,
                    "option_set_id": 19,
                    "inventory_level": 10,
                    "inventory_warning_level": 10,
                    "inventory_tracking": "none",
                    "fixed_cost_shipping_price": 8,
                    "is_free_shipping": false,
                    "is_visible": true,
                    "is_featured": true,
                    "related_products": [
                      -1
                    ],
                    "bin_picking_number": "56WB",
                    "layout_file": "product.html",
                    "upc": "1234567890",
                    "search_keywords": "towel, bath, kitchen",
                    "availability": "available",
                    "gift_wrapping_options_type": "list",
                    "gift_wrapping_options_list": [
                      1,
                      2,
                      3
                    ],
                    "sort_order": 4,
                    "condition": "New",
                    "is_condition_shown": true,
                    "order_quantity_minimum": 5,
                    "order_quantity_maximum": 50,
                    "meta_keywords": [],
                    "view_count": 146,
                    "preorder_release_date": "null",
                    "is_preorder_only": false,
                    "is_price_hidden": false,
                    "custom_url": {
                      "url": "/this-is-a-custom-url/",
                      "is_customized": true
                    },
                    "open_graph_type": "product",
                    "id": 81,
                    "calculated_price": 49.99,
                    "reviews_rating_sum": 0,
                    "reviews_count": 0,
                    "total_sold": 1050,
                    "custom_fields": [
                      {
                        "name": "Release year",
                        "value": "1987",
                        "id": 1
                      }
                    ],
                    "bulk_pricing_rules": [
                      {
                        "quantity_min": 10,
                        "quantity_max": 50,
                        "type": "price",
                        "amount": 10,
                        "id": 3
                      }
                    ],
                    "date_created": "2015-05-05T12:30:00+00:00",
                    "date_modified": "2015-12-15T06:22:30+00:00",
                    "images": [
                      {
                        "is_thumbnail": true,
                        "sort_order": 2,
                        "id": 265,
                        "product_id": 118,
                        "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                        "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                        "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                        "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                        "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                        "date_modified": "2018-01-05T21:47:35+00:00"
                      }
                    ],
                    "videos": [
                      {
                        "title": "About us",
                        "description": "Thank you for visiting us",
                        "sort_order": 1,
                        "type": "youtube",
                        "id": 1,
                        "video_id": "123345AA",
                        "product_id": 113,
                        "length": "22:43"
                      }
                    ],
                    "variants": [
                      {
                        "cost_price": 12,
                        "price": 14,
                        "weight": 22,
                        "width": 40,
                        "height": 100,
                        "depth": 4,
                        "is_free_shipping": false,
                        "purchasing_disabled": false,
                        "inventory_level": 50,
                        "inventory_warning_level": 10,
                        "id": 156,
                        "product_id": 77,
                        "sku": "M-ORAN-1",
                        "sku_id": 197,
                        "option_values": [
                          {
                            "option_display_name": "Color",
                            "label": "Color",
                            "id": 107,
                            "option_id": 124
                          }
                        ],
                        "calculated_price": 49.99
                      }
                    ],
                    "base_variant_id": 22
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found.",
            "schema": {}
          },
          "409": {
            "description": "Product was in conflict with another product. This is caused by: duplicate unique values, such as name or SKU; a missing \n, brand, or tax_class with which the product is being associated; or a conflicting bulk pricing rule.",
            "schema": {}
          },
          "422": {
            "description": "Product was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Deletes a product using the `product_id`.",
        "summary": "Delete a Product by Id",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsByStoreHashAndProductIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{store_hash}/v3/catalog/products/{product_id}/images": {
      "get": {
        "description": "Returns all images on a product using the `product_id`. Optional parameters can be passed in.",
        "summary": "Get All Product Images",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsImagesByStoreHashAndProductIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "include_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned. `/v3/catalog/products/product_id/images?include_fields=url_zoom, description`"
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded. `/v3/catalog/products/product_id/images?exclude_fields=url_tiny, url_thumbnail`"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Specifies the page number in a limited (paginated) list of products. `/v3/catalog/products/product_id/images?page=1`"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Controls the number of items per page in a limited (paginated) list of products. `/v3/catalog/products/product_id/images?limit=50`"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductImageCollectionResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "is_thumbnail": true,
                    "sort_order": 2,
                    "id": 265,
                    "product_id": 118,
                    "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                    "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                    "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                    "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                    "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                    "date_modified": "2018-01-05T21:47:35+00:00"
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The product ID does not exist.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Creates an image on a product using the `product_id`. Publicly accessible URLs and files (form post) are valid parameters.\nMust either provide a `image_url` or a `image_file`.",
        "summary": "Create a Product Image",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsImagesByStoreHashAndProductIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductImagePost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductImageResponse"
            },
            "examples": {
              "application/json": {
                "data": {
                  "is_thumbnail": true,
                  "sort_order": 2,
                  "id": 265,
                  "product_id": 118,
                  "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                  "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                  "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                  "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                  "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                  "date_modified": "2018-01-05T21:47:35+00:00"
                },
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The product ID does not exist.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{store_hash}/v3/catalog/products/{product_id}/images/{image_id}": {
      "get": {
        "description": "Return image on a product using  `product_id` and `image_id`. Optional parameters can be passed in.",
        "summary": "Get a Product Image by Id",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsImagesImageIdByStoreHashAndProductIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The ID of the *Image*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "include_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned. `/v3/catalog/products/product_id/images/{image_id}?include_fields=url_zoom, description`"
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded. `/v3/catalog/products/product_id/images/{image_id}?exclude_fields=url_tiny, url_thumbnail`"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of product images and metadata.",
            "schema": {
              "$ref": "#/definitions/ProductImageResponse"
            },
            "examples": {
              "application/json": {
                "data": {
                  "is_thumbnail": true,
                  "sort_order": 2,
                  "id": 265,
                  "product_id": 118,
                  "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                  "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                  "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                  "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                  "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                  "date_modified": "2018-01-05T21:47:35+00:00"
                },
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Update an image on a product using the `product_id` and the `image_id`. Publicly accessible URLs and files (form post) are valid parameters.",
        "summary": "Update a Product Image",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsImagesImageIdByStoreHashAndProductIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Image*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductImageBase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductImageResponse"
            },
            "examples": {
              "application/json": {
                "data": {
                  "is_thumbnail": true,
                  "sort_order": 2,
                  "id": 265,
                  "product_id": 118,
                  "image_file": "%%SAMPLE%%/stencil/foglinenbeigestripetowel3b.jpg",
                  "url_zoom": "\"https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.1280.1280.jpg?c=2",
                  "url_standard": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.500.750.jpg?c=2",
                  "url_thumbnail": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.190.285.jpg?c=2",
                  "url_tiny": "https://cdn8.bigcommerce.com/s-123456/products/118/images/265/foglinenbeigestripetowel3b.1435946201.60.90.jpg?c=2\"",
                  "date_modified": "2018-01-05T21:47:35+00:00"
                },
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Deletes a product image using the  `product_id` and the `image_id`.",
        "summary": "Delete a Product Image",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsImagesImageIdByStoreHashAndProductIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product*."
          },
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Image*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{store_hash}/v3/catalog/products/{product_id}/videos": {
      "get": {
        "description": "Get all videos on a product using the `product_id `. Optional parameters can be passed in.",
        "summary": "Get All Product Video",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsVideosByStoreHashAndProductIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product* to which the resource belongs."
          },
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "include_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned. `/v3/catalog/products/{product_id}/videos?include_fields=type, title`"
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded. `/v3/catalog/products/{product_id}/videos?exclude_fields=sort_order`"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductVideoCollectionResponse"
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "title": "About us",
                    "description": "Thank you for visiting us",
                    "sort_order": 1,
                    "type": "youtube",
                    "id": 1,
                    "video_id": "123345AA",
                    "product_id": 113,
                    "length": "22:43"
                  }
                ],
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Creates a video on a product using the `product_id`. Publicly accessible URLs and files (form post) are valid parameters.",
        "summary": "Create a Product Video",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsVideosByStoreHashAndProductIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product* to which the resource belongs."
          },
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductVideoPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductVideoResponse"
            },
            "examples": {
              "application/json": {
                "data": {
                  "title": "About us",
                  "description": "Thank you for visiting us",
                  "sort_order": 1,
                  "type": "youtube",
                  "id": 1,
                  "video_id": "123345AA",
                  "product_id": 113,
                  "length": "22:43"
                },
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{store_hash}/v3/catalog/products/{product_id}/videos/{video_id}": {
      "get": {
        "description": "Get a video on a product using the `product_id` and the `video_id`. Optional parameters can be passed in.",
        "summary": "Get a Product Video by Id",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsVideosVideoIdByStoreHashAndProductIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product* to which the resource belongs."
          },
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the *Video*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "include_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned. `/v3/catalog/products/{product_id}/videos/{video_id}?include_fields=type, title`"
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded. `/v3/catalog/products/{product_id}/videos/{video_id}?exclude_fields=sort_order`"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductVideoResponse"
            },
            "examples": {
              "application/json": {
                "data": {
                  "title": "About us",
                  "description": "Thank you for visiting us",
                  "sort_order": 1,
                  "type": "youtube",
                  "id": 1,
                  "video_id": "123345AA",
                  "product_id": 113,
                  "length": "22:43"
                },
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Updates a video on a product using the `product_id` and the `video_id`.",
        "summary": "Update a Product Video",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsVideosVideoIdByStoreHashAndProductIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product* to which the resource belongs."
          },
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the *Video*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductVideoPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductVideoResponse"
            },
            "examples": {
              "application/json": {
                "data": {
                  "title": "About us",
                  "description": "Thank you for visiting us",
                  "sort_order": 1,
                  "type": "youtube",
                  "id": 1,
                  "video_id": "123345AA",
                  "product_id": 113,
                  "length": "22:43"
                },
                "meta": {
                  "pagination": {
                    "total": 1,
                    "count": 1,
                    "per_page": 50,
                    "current_page": 1,
                    "total_pages": 1,
                    "links": {
                      "previous": "?page=1&limit=50",
                      "current": "?page=1&limit=50",
                      "next": "?page=1&limit=50"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found.",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Deletes a product video using the `product_id` and the `video_id`.",
        "summary": "Delete a Product Video",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsVideosVideoIdByStoreHashAndProductIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "number",
            
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the *Product* to which the resource belongs."
          },
          {
            "name": "store_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your store's hash from the canonical URL."
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the *Video*."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{store_hash}/v3/catalog/products/{product_id}/variants": {
      "get": {
        "description": "Get all variants on a product by `product_id`. Optional parameters can be passed in.",
        "summary": "Get a Variant by Product Id",
        "tags": [
          "Catalog"
        ],
        "operationId": "V3CatalogProductsVariantsByStoreHashAndProductIdGet",
        "produces": [
[...]
