{
  "swagger": "2.0",
  "info": {
    "title": "BigCommerce API",
    "version": "3.0.0b",
    "description": "A Swagger Document for the BigCommmerce v3 API.",
    "termsOfService": "http://www.bigcommerce.com/terms",
    "license": {
      "name": ""
    }
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{store_hash}/v3",
  "tags": [
    {
      "name": "Catalog"
    },
    {
      "name": "Brands"
    },
    {
      "name": "Category"
    },
    {
      "name": "Products"
    },
    {
      "name": "Product Metafields"
    },
    {
      "name": "Product Bulk Pricing Rules"
    },
    {
      "name": "Product Complex Rules"
    },
    {
      "name": "Product Custom Fields"
    },
    {
      "name": "Product Modifiers"
    },
    {
      "name": "Product Variants"
    },
    {
      "name": "Product Variants Metafields"
    },
    {
      "name": "Product Variant Options"
    },
    {
      "name": "Product Reviews"
    },
    {
      "name": "Product Videos"
    },
    {
      "name": "Product Images"
    },
    {
      "name": "Customers",
      "description": "BigCommerce Customers API Definition."
    },
    {
      "name": "Orders",
      "description": "BigCommerce Orders API Definition."
    },
    {
      "name": "Price Lists",
      "description": "BigCommerce Price Lists API Definition."
    },
    {
      "name": "Scripts"
    },
    {
      "name": "Themes",
      "description": "BigCommerce Themes API Definition."
    },
    {
      "name": "Legacy"
    },
    {
      "name": "Widget Template",
      "description": "BigCommerce Widget Templates API Definition."
    },
    {
      "name": "Widget",
      "description": "BigCommerce Widgets API Definition."
    },
    {
      "name": "Placement",
      "description": "BigCommerce Placements API Definition."
    }
  ],
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/customers/subscribers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "description": "Returns a paginated Subscribers collection.\n",
        "operationId": "getSubscribers",
        "parameters": [
          {
            "$ref": "#/parameters/FilterEmailParam"
          },
          {
            "$ref": "#/parameters/FilterFirstNameParam"
          },
          {
            "$ref": "#/parameters/FilterLastNameParam"
          },
          {
            "$ref": "#/parameters/FilterSourceParam"
          },
          {
            "$ref": "#/parameters/FilterOrderIdParam"
          },
          {
            "$ref": "#/parameters/FilterDateCreatedParam"
          },
          {
            "$ref": "#/parameters/FilterDateModifiedParam"
          },
          {
            "$ref": "#/parameters/PageParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of subscriber objects and metadata.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberCollectionResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "description": "Creates a `Subscriber` object.\n",
        "operationId": "createSubscriber",
        "parameters": [
          {
            "name": "subscriber",
            "in": "body",
            "required": true,
            "description": "`Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberResponse"
            }
          },
          "409": {
            "description": "The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as email.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "description": "Deletes a Subscriber or Subscribers from BigCommerce Customers.\n",
        "operationId": "deleteSubscribers",
        "parameters": [
          {
            "$ref": "#/parameters/FilterEmailParam"
          },
          {
            "$ref": "#/parameters/FilterFirstNameParam"
          },
          {
            "$ref": "#/parameters/FilterLastNameParam"
          },
          {
            "$ref": "#/parameters/FilterSourceParam"
          },
          {
            "$ref": "#/parameters/FilterOrderIdParam"
          },
          {
            "$ref": "#/parameters/FilterDateCreatedParam"
          },
          {
            "$ref": "#/parameters/FilterDateModifiedParam"
          }
        ],
        "responses": {
          "204": {
            "description": "An empty response.\n"
          }
        }
      }
    },
    "/customers/subscribers/{subscriber_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/SubscriberIdParam"
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "description": "Gets `Subscriber` object.",
        "operationId": "getSubscriberById",
        "responses": {
          "200": {
            "description": "A `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberResponse"
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "description": "Updates a `Subscriber` object.\n",
        "operationId": "updateSubscriber",
        "parameters": [
          {
            "name": "subscriber",
            "in": "body",
            "required": true,
            "description": "Returns a `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberResponse"
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          },
          "409": {
            "description": "The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as `email`.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "description": "Deletes a `Subscriber` object.\n",
        "operationId": "deleteSubscriberById",
        "responses": {
          "204": {
            "description": "An empty response.\n"
          }
        }
      }
    }
  },
  "parameters": {
    "TemplateUUID": {
      "name": "uuid",
      "description": "The identifier for a specific template.",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "uuid"
    },
    "FilterWidgetTemplateUUIDParam": {
      "in": "query",
      "name": "widget_template_uuid",
      "description": "The identifier for a specific widget template.",
      "type": "string",
      "format": "uuid",
      "required": false
    },
    "FilterWidgetTemplateKindParam": {
      "in": "query",
      "name": "widget_template_kind",
      "description": "The kind of widget template.",
      "type": "string",
      "required": false
    },
    "FilterTemplateFileParam": {
      "in": "query",
      "name": "template_file",
      "description": "The template file, for example: `pages/home`.",
      "type": "string",
      "required": false
    },
    "RequiredTemplateFile": {
      "in": "query",
      "name": "templateFile",
      "description": "The template file, for example: `pages/home`.",
      "type": "string",
      "required": true
    },
    "PlacementUUID": {
      "name": "uuid",
      "description": "The identifier for a specific placement.",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "uuid"
    },
    "WidgetUUID": {
      "name": "uuid",
      "description": "The identifier for a specific widget.",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "uuid"
    },
    "ScriptUUID": {
      "name": "uuid",
      "description": "The identifier for a specific script.",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "uuid"
    },
    "FilterWidgetUUIDParam": {
      "name": "widget_uuid",
      "description": "The identifier for a specific widget.",
      "in": "query",
      "type": "string",
      "format": "uuid",
      "required": false
    },
    "FilterIdParam": {
      "name": "id",
      "description": "Filter items by id.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterSkuParam": {
      "name": "sku",
      "description": "Filter items by sku.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterNameParam": {
      "name": "name",
      "description": "Filter items by name.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterEmailParam": {
      "name": "email",
      "description": "Filter items by email.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterFirstNameParam": {
      "name": "first_name",
      "description": "Filter items by first_name.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterLastNameParam": {
      "name": "last_name",
      "description": "Filter items by last_name.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterSourceParam": {
      "name": "source",
      "description": "Filter items by source.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterOrderIdParam": {
      "name": "order_id",
      "description": "Filter items by order_id.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterUpcParam": {
      "name": "upc",
      "description": "Filter items by upc.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterPriceParam": {
      "name": "price",
      "description": "Filter items by price.\n",
      "required": false,
      "in": "query",
      "type": "number"
    },
    "FilterSalePriceParam": {
      "name": "sale_price",
      "description": "Filter items by sale_price.\n",
      "required": false,
      "in": "query",
      "type": "number"
    },
    "FilterRetailPriceParam": {
      "name": "retail_price",
      "description": "Filter items by retail_price.\n",
      "required": false,
      "in": "query",
      "type": "number"
    },
    "FilterMapPriceParam": {
      "name": "map_price",
      "description": "Filter items by map_price.\n",
      "required": false,
      "in": "query",
      "type": "number"
    },
    "FilterCalculatedPriceParam": {
      "name": "calculated_price",
      "description": "Filter items by calculated_price.\n",
      "required": false,
      "in": "query",
      "type": "number"
    },
    "FilterWeightParam": {
      "name": "weight",
      "description": "Filter items by weight.\n",
      "required": false,
      "in": "query",
      "type": "number"
    },
    "FilterConditionParam": {
      "name": "condition",
      "description": "Filter items by condition.\n",
      "required": false,
      "in": "query",
      "type": "integer",
      "enum": [
        "new",
        "used",
        "refurbished"
      ]
    },
    "FilterBrandIdParam": {
      "name": "brand_id",
      "description": "Filter items by brand_id.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterDateModifiedParam": {
      "name": "date_modified",
      "description": "Filter items by date_modified. For example `v3/catalog/products?date_last_imported:min=2018-06-15`",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "date-time"
    },
    "FilterDateCreatedParam": {
      "name": "date_created",
      "description": "Filter items by date_created.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "date-time"
    },
    "FilterDateLastImportedParam": {
      "name": "date_last_imported",
      "description": "Filter items by date_last_imported. For example `v3/catalog/products?date_modified:min=2018-06-15`",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "date-time"
    },
    "FilterIsVisibleParam": {
      "name": "is_visible",
      "description": "Filter items by is_visible. This filter uses numbers instead. 0 = false and 1 = true.\n",
      "required": false,
      "in": "query",
      "type": "integer",
      "enum": [
        1,
        0
      ]
    },
    "FilterIsFeaturedParam": {
      "name": "is_featured",
      "description": "Filter items by is_featured.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterIsFreeShippingParam": {
      "name": "is_free_shipping",
      "description": "Filter items by is_free_shipping.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterInventoryLevelParam": {
      "name": "inventory_level",
      "description": "Filter items by inventory_level.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterInventoryLowParam": {
      "name": "inventory_low",
      "description": "Filter items by inventory_low. Values: 1, 0.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterOutOfStockParam": {
      "name": "out_of_stock",
      "description": "Filter items by out_of_stock. To enable the filter, pass `out_of_stock`=`1`.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterTotalSoldParam": {
      "name": "total_sold",
      "description": "Filter items by total_sold.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "ProductFilterTypeParam": {
      "name": "type",
      "description": "Filter items by type: `physical` or `digital`.",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "digital",
        "physical"
      ]
    },
    "FilterCategoriesParam": {
      "name": "categories",
      "description": "Filter items by categories.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterKeywordParam": {
      "name": "keyword",
      "description": "Filter items by keywords. eg. new, towel, bath",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "ProductFilterKeywordParam": {
      "name": "keyword",
      "description": "Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "ProductFilterKeywordContextParam": {
      "name": "keyword_context",
      "description": "Set context for a product search.",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "shopper",
        "merchant"
      ]
    },
    "FilterStatusParam": {
      "name": "status",
      "description": "Filter items by status.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterIncludeParam": {
      "name": "include",
      "description": "Sub-resources to include on a product, in a comma-separated list. Valid expansions currently include `variants`, `images`, 'primary_image`, `custom_fields`, and `bulk_pricing_rules`.",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "variants",
        "images",
        "custom_fields",
        "bulk_pricing_rules",
        "primary_image"
      ]
    },
    "FilterIncludePriceRecordParam": {
      "name": "include",
      "description": "Sub-resources to include on a price record, in a comma-separated list. Valid expansions currently include `bulk_pricing_tiers` and `sku`.  Other valies will be ignored.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "bulk_pricing_tiers",
        "sku"
      ]
    },
    "FilterIncludeFieldsParam": {
      "name": "include_fields",
      "description": "Fields to include, in a comma-separated list. The ID and the specified fields will be returned.",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterExcludeFieldsParam": {
      "name": "exclude_fields",
      "description": "Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterParentIdParam": {
      "name": "parent_id",
      "description": "Filter items by parent_id. If the category is a child or sub category it can be filtered with the parent_id. ",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterPageTitleParam": {
      "name": "page_title",
      "description": "Filter items by page_title.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterAvailabilityParam": {
      "name": "availability",
      "description": "Filter items by availability. Values are: available, disabled, preorder.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "available",
        "disabled",
        "preorder"
      ]
    },
    "FilterPriceListIdParam": {
      "name": "price_list_id",
      "description": "The ID of the `Price List`.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterProductIdParam": {
      "type": "string",
      "name": "product_id",
      "in": "query",
      "required": false,
      "description": "A comma-separated list of ids of `Product`s whose prices were requested.\n"
    },
    "FilterVariantIdParam": {
      "type": "integer",
      "name": "variant_id",
      "in": "query",
      "required": false,
      "description": "The ID of the `Variant` whose prices were requested.\n"
    },
    "FilterCurrencyParam": {
      "name": "currency",
      "description": "Filter items by currency.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "ISO-4217"
    },
    "PageParam": {
      "name": "page",
      "description": "Specifies the page number in a limited (paginated) list of products.",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "LimitParam": {
      "name": "limit",
      "description": "Controls the number of items per page in a limited (paginated) list of products.",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "ScriptsSortKeyParam": {
      "name": "sort",
      "description": "Scripts field name to sort by.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "name",
        "description",
        "date_created",
        "date_modified"
      ]
    },
    "DirectionParam": {
      "name": "direction",
      "description": "Sort direction. Acceptable values are: `asc`, `desc`.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "asc",
        "desc"
      ]
    },
    "ProductSortParam": {
      "name": "sort",
      "description": "Field name to sort by.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "id",
        "name",
        "sku",
        "price",
        "date_modified",
        "date_last_imported",
        "inventory_level",
        "is_visible",
        "total_sold"
      ]
    },
    "ProductIdParam": {
      "name": "product_id",
      "in": "path",
      "description": "The ID of the `Product` to which the resource belongs.\n",
      "required": true,
      "type": "integer"
    },
    "ReviewIdParam": {
      "name": "review_id",
      "description": "The ID of the `review` that is being operated on.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "ImageIdParam": {
      "name": "image_id",
      "description": "The ID of the `Image` that is being operated on.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "VideoIdParam": {
      "name": "video_id",
      "description": "The ID of the `Video` that is being operated on.\n",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "ComplexRuleIdParam": {
      "name": "complex_rule_id",
      "description": "The ID of the `ComplexRule`.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "ConfigurableFieldIdParam": {
      "name": "configurable_field_id",
      "description": "The ID of the `ConfigurableField`.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "CustomFieldIdParam": {
      "name": "custom_field_id",
      "description": "The ID of the `CustomField`.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "BulkPricingRuleIdParam": {
      "name": "bulk_pricing_rule_id",
      "description": "The ID of the `BulkPricingRule`.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "ModifierIdParam": {
      "name": "modifier_id",
      "description": "The ID of the `Modifier`.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "ValueIdParam": {
      "name": "value_id",
      "description": "The ID of the `Modifier/Option Value`.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "OptionIdParam": {
      "name": "option_id",
      "description": "The ID of the `Option`.\n",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "SubscriberIdParam": {
      "name": "subscriber_id",
      "in": "path",
      "description": "The ID of the `Subscriber` requested.\n",
      "required": true,
      "type": "integer"
    },
    "VariantIdParam": {
      "name": "variant_id",
      "in": "path",
      "description": "ID of the variant on a product, or on an associated Price List Record.\n",
      "required": true,
      "type": "integer"
    },
    "CategoryIdParam": {
      "name": "category_id",
      "in": "path",
      "description": "The ID of the `Category` to which the resource belongs.\n",
      "required": true,
      "type": "integer"
    },
    "BrandIdParam": {
      "name": "brand_id",
      "in": "path",
      "description": "The ID of the `Brand` to which the resource belongs.\n",
      "required": true,
      "type": "integer"
    },
    "MetafieldIdParam": {
      "name": "metafield_id",
      "in": "path",
      "description": "The ID of the `Metafield`.\n",
      "required": true,
      "type": "integer"
    },
    "MetafieldKeyParam": {
      "name": "key",
      "in": "query",
      "description": "Filter based on a metafield's key.\n",
      "required": false,
      "type": "string"
    },
    "MetafieldNamespaceParam": {
      "name": "namespace",
      "in": "query",
      "description": "Filter based on a metafield's namespace.",
      "required": false,
      "type": "string"
    },
    "ImageFileParam": {
      "name": "image_file",
      "description": "An image file. Supported MIME types include GIF, JPEG, and PNG.\n",
      "required": true,
      "in": "formData",
      "type": "file"
    },
    "OrderIdParam": {
      "name": "order_id",
      "in": "path",
      "description": "The ID of the `Order` to which the transactions belong.\n",
      "required": true,
      "type": "integer"
    },
    "JobIdParam": {
      "name": "job_id",
      "description": "The job identifier.",
      "in": "path",
      "type": "string",
      "required": true
    },
    "ThemeIdParam": {
      "name": "theme_id",
      "description": "The theme identifier.",
      "in": "path",
      "type": "string",
      "required": true
    },
    "PriceListIdParam": {
      "type": "integer",
      "name": "price_list_id",
      "in": "path",
      "description": "The ID of the `Price List` requested.\n",
      "required": true
    },
    "PriceRecordCurrencyParam": {
      "name": "currency_code",
      "type": "string",
      "in": "path",
      "description": "The currency code associated with the price record being acted upon.\n",
      "required": true,
      "format": "ISO-4217"
    },
    "QueryWidgetsParam": {
      "type": "string",
      "name": "query",
      "in": "query",
      "description": "The query string associated with a widget's name and description.\n"
    },
    "Accept": {
      "in": "header",
      "type": "string",
      "name": "Accept",
      "default": "application/json"
    },
    "Content-Type": {
      "name": "Content-Type",
      "in": "header",
      "type": "string",
      "default": "application/json"
    }
  },
  "definitions": {
    "WidgetTemplatePreview": {
      "properties": {
        "widget_configuration": {
          "type": "object",
          "description": "The JSON data that populates the template.",
          "format": "json"
        }
      }
    },
    "WidgetTemplatePut": {
      "properties": {
        "name": {
          "type": "string",
          "description": "User-friendly name."
        },
        "schema": {
          "type": "object",
          "description": "The schema for this template. Describes how to build dynamic forms for widget configurations.",
          "format": "json"
        },
        "template": {
          "type": "string",
          "description": "Handlebars HTML content. Also has access to Stencil Paper helpers.",
          "format": "html"
        }
      }
    },
    "WidgetTemplatePost": {
      "required": [
        "name",
        "template"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "User friendly name."
        },
        "schema": {
          "type": "object",
          "description": "The JSON schema of data for this template. Used to validate a configuration.",
          "format": "json"
        },
        "template": {
          "type": "string",
          "description": "Handlebars HTML content. Also has access to Stencil Paper helpers.",
          "format": "html"
        }
      }
    },
    "WidgetTemplateResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/WidgetTemplate"
        }
      }
    },
    "WidgetTemplatePreviewResponse": {
      "type": "object",
      "properties": {
        "data": {
          "properties": {
            "html": {
              "type": "string",
              "description": "The HTML render of the widget template.",
              "format": "html"
            }
          }
        }
      }
    },
    "WidgetTemplatesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WidgetTemplate"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "WidgetTemplate": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "format": "uuid",
          "description": "The primary identifier."
        },
        "name": {
          "type": "string",
          "description": "The user-friendly name."
        },
        "kind": {
          "type": "string",
          "description": "The kind of widget template."
        },
        "schema": {
          "type": "object",
          "format": "json",
          "description": "The JSON schema of data for this template. Used to validate a configuration."
        },
        "template": {
          "type": "string",
          "format": "html",
          "description": "The widget template HTML. Supports Handlebars and Paper helpers."
        },
        "date_created": {
          "type": "string",
          "format": "datetime",
          "description": "The date on which this object was initially created."
        },
        "date_modified": {
          "type": "string",
          "format": "datetime",
          "description": "The date on which this object was last updated."
        }
      }
    },
    "Widget": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "format": "uuid",
          "description": "The primary identifier."
        },
        "name": {
          "type": "string",
          "description": "The user-friendly name."
        },
        "description": {
          "type": "string",
          "description": "The user-friendly description."
        },
        "widget_configuration": {
          "type": "object",
          "description": "The JSON data that populates the template.",
          "format": "json"
        },
        "widget_template": {
          "$ref": "#/definitions/WidgetTemplate"
        },
        "date_created": {
          "type": "string",
          "format": "datetime",
          "description": "The date on which this object was initially created."
        },
        "date_modified": {
          "type": "string",
          "format": "datetime",
          "description": "The date on which this object was last updated."
        }
      }
    },
    "WidgetPost": {
      "required": [
        "name",
        "widget_template_uuid"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "User friendly name."
        },
        "description": {
          "type": "string",
          "description": "The user-friendly description."
        },
        "widget_configuration": {
          "type": "object",
          "description": "The JSON data that populates the template.",
          "format": "json"
        },
        "widget_template_uuid": {
          "type": "string",
          "description": "The widget template UUID."
        }
      }
    },
    "WidgetPut": {
      "properties": {
        "name": {
          "type": "string",
          "description": "User-friendly name."
        },
        "description": {
          "type": "string",
          "description": "The user-friendly description."
        },
        "widget_configuration": {
          "type": "object",
          "description": "The JSON data that populates the template.",
          "format": "json"
        },
        "widget_template_uuid": {
          "type": "string",
          "description": "The widget template UUID."
        }
      }
    },
    "WidgetResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Widget"
        }
      }
    },
    "WidgetsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Widget"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "PlacementPost": {
      "required": [
        "widget_uuid",
        "region",
        "template_file"
      ],
      "properties": {
        "widget_uuid": {
          "type": "string",
          "description": "A widget identifier."
        },
        "entity_id": {
          "type": "string",
          "description": "The specific instance of a page that you would like to target."
        },
        "sort_order": {
          "type": "integer",
          "description": "The sort order to control the position of a content widget in a region."
        },
        "region": {
          "type": "string",
          "description": "The name of the region in which to insert content widgets."
        },
        "template_file": {
          "type": "string",
          "description": "The template file that you would like to target."
        },
        "status": {
          "type": "string",
          "description": "Sets the placement as either inactive or active.",
          "default": "inactive",
          "enum": [
            "inactive",
            "active"
          ]
        }
      },
      "title": "Placement Post"
    },
    "PlacementPut": {
      "properties": {
        "entity_id": {
          "type": "string",
          "description": "Optional. The specific instance of a page that you would like to target."
        },
        "template_file": {
          "type": "string",
          "description": "The template file that you would like to target."
        },
        "region": {
          "type": "string",
          "description": "The name of the region in which to insert content widgets."
        },
        "sort_order": {
          "type": "integer",
          "description": "The sort order to control the position of a content widget in a region."
        },
        "widget_uuid": {
          "type": "string",
          "description": "A widget identifier."
        },
        "status": {
          "type": "string",
          "description": "Sets the placement as either inactive or active.",
          "enum": [
            "inactive",
            "active"
          ]
        }
      },
      "title": "Placement Put"
    },
    "PlacementResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Placement"
        }
      },
      "title": "Placement Response"
    },
    "PlacementsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Placement"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Placements Response"
    },
    "Placement": {
      "properties": {
        "uuid": {
          "type": "string",
          "format": "uuid",
          "description": "The primary identifier."
        },
        "entity_id": {
          "type": "string",
          "description": "The specific instance of a page"
        },
        "status": {
          "type": "string",
          "description": "Determines whether this placement is `active` or `inactive`.",
          "enum": [
            "inactive",
            "active"
          ]
        },
        "template_file": {
          "type": "string",
          "description": "The page template name."
        },
        "region": {
          "type": "string",
          "description": "The user-friendly name."
        },
        "sort_order": {
          "type": "integer",
          "description": "The sort order to control position of a content widget in a region."
        },
        "widget": {
          "$ref": "#/definitions/Widget"
        },
        "date_created": {
          "type": "string",
          "format": "datetime",
          "description": "The date on which this object was initially created."
        },
        "date_modified": {
          "type": "string",
          "format": "datetime",
          "description": "The date on which this object was last updated."
        }
      },
      "title": "Placement"
    },
    "Script": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "format": "uuid",
          "description": "The primary identifier."
        },
        "name": {
          "type": "string",
          "description": "The user-friendly name."
        },
        "description": {
          "type": "string",
          "description": "The user-friendly description."
        },
        "html": {
          "type": "string",
          "description": "An html string containing exactly one `script` tag. Only present if `kind` is `script_tag`"
        },
        "src": {
          "type": "string",
          "description": "The `src` attribute of the script to load. Only present if `kind` is `src`."
        },
        "auto_uninstall": {
          "type": "boolean",
          "description": "Whether to uninstall this script when the app associated with it is removed."
        },
        "load_method": {
          "type": "string",
          "description": "The load method to use for the script. Values are `default`, `async`, or `defer`.",
          "enum": [
            "default",
            "async",
            "defer"
          ]
        },
        "location": {
          "type": "string",
          "description": "Where on the page to place the script. Values are `head` or `footer`.",
          "enum": [
            "head",
            "footer"
          ]
        },
        "visibility": {
          "type": "string",
          "description": "Which set of pages the script should load on. The values allowed for this parameter are `storefront`, `all_pages`, `checkout` and `order_confirmation`. Please note that you need to have `Checkout content` scope to use `all_pages` and `checkout`.",
          "enum": [
            "storefront",
            "all_pages",
            "checkout",
            "order_confirmation"
          ]
        },
        "kind": {
          "type": "string",
          "description": "What type of script this is. Values are `src` - a `script` tag will be generated with its `src` attribute set to the value of `src`; `script_tag` - The value of `html` will be injected directly onto the page.",
          "enum": [
            "src",
            "script_tag"
          ]
        },
        "api_client_id": {
          "type": "string",
          "description": "The client id of the API user that created this script, or blank if created by other means."
        },
        "date_created": {
          "type": "string",
          "format": "date-time",
          "description": "The date on which this object was initially created."
        },
        "date_modified": {
          "type": "string",
          "format": "date-time",
          "description": "The date on which this object was last updated."
        }
      },
      "example": {
        "uuid": "2bf40be2-e57a-4bc8-860a-5bf45edd3795",
        "name": "jQuery",
        "description": "The Write Less, Do More, JavaScript Library.",
        "src": "https://code.jquery.com/jquery-3.2.1.min.js",
        "auto_uninstall": true,
        "load_method": "defer",
        "location": "head",
        "visibility": "storefront",
        "kind": "src",
        "api_client_id": "d1j42k5q76xsm15fa3g8sp2egytoixo",
        "date_created": "2017-12-05T23:37:45.506Z",
        "date_modified": "2017-12-05T23:37:45.506Z"
      }
    },
    "ScriptPost": {
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The user-friendly name.",
          "minLength": 1,
          "maxLength": 255
        },
        "description": {
          "type": "string",
          "description": "The user-friendly description.",
          "maxLength": 255
        },
        "html": {
          "type": "string",
          "description": "An html string containing exactly one `script` tag. Required if `kind` is `script_tag`.",
          "maxLength": 65535
        },
        "src": {
          "type": "string",
          "description": "The `src` attribute of the script to load. Required if `kind` is `src`. Must be in `https` format.",
          "maxLength": 255
        },
        "auto_uninstall": {
          "type": "boolean",
          "description": "Whether to uninstall this script when the app associated with it is removed.",
          "default": true
        },
        "load_method": {
          "type": "string",
          "description": "The load method to use for the script. Acceptable values are `default`, `async`, or `defer`.",
          "default": "defer",
          "enum": [
            "default",
            "async",
            "defer"
          ]
        },
        "location": {
          "type": "string",
          "description": "Where on the page to place the script. Acceptable values are `head` or `footer`.",
          "default": "footer",
          "enum": [
            "head",
            "footer"
          ]
        },
        "visibility": {
          "type": "string",
          "description": "Which set of pages the script should load on. The values allowed for this parameter are `storefront`, `all_pages`, `checkout` and `order_confirmation`. Please note that you need to have `Checkout content` scope to use `all_pages` and `checkout`.",
          "default": "storefront",
          "enum": [
            "storefront",
            "all_pages",
            "checkout",
            "order_confirmation"
          ]
        },
        "kind": {
          "type": "string",
          "description": "What type of script this is. Acceptable values are `src` - a `script` tag will be generated with its `src` attribute set to the value of `src`; `script_tag` - The value of `html` (which must contain a single `script` tag) will be injected directly onto the page.",
          "default": "src",
          "enum": [
            "src",
            "html"
          ]
        }
      },
      "example": {
        "name": "jQuery",
        "description": "The Write Less, Do More, JavaScript Library.",
        "src": "https://code.jquery.com/jquery-3.2.1.min.js",
        "auto_uninstall": true,
        "load_method": "defer",
        "location": "head",
        "visibility": "storefront",
        "kind": "src"
      }
    },
    "ScriptPut": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The user-friendly name.",
          "minLength": 1,
          "maxLength": 255
        },
        "description": {
          "type": "string",
          "description": "The user-friendly description.",
          "maxLength": 255
        },
        "html": {
          "type": "string",
          "description": "An html string containing exactly one `script` tag. Required if `kind` is included and equal to `script_tag`.",
          "maxLength": 65535
        },
        "src": {
          "type": "string",
          "description": "The `src` attribute of the script to load. Required if `kind` is included and equal to `src`. Must be in `https` format.",
          "maxLength": 255
        },
        "auto_uninstall": {
          "type": "boolean",
          "description": "Whether to uninstall this script when the app associated with it is removed.",
          "default": true
        },
        "load_method": {
          "type": "string",
          "description": "The load method to use for the script. Acceptable values are `default`, `async`, or `defer`.",
          "default": "defer",
          "enum": [
            "default",
            "async",
            "defer"
          ]
        },
        "location": {
          "type": "string",
          "description": "Where on the page to place the script. Acceptable values are `head` or `footer`.",
          "default": "footer",
          "enum": [
            "head",
            "footer"
          ]
        },
        "visibility": {
          "type": "string",
          "description": "Which set of pages the script should load on. The values allowed for this parameter are `storefront`, `all_pages`, `checkout` and `order_confirmation`. Please note that you need to have `Checkout content` scope to use `all_pages` and `checkout`.",
          "default": "storefront",
          "enum": [
            "storefront",
            "all_pages",
            "checkout",
            "order_confirmation"
          ]
        },
        "kind": {
          "type": "string",
          "description": "What type of script this is. Acceptable values are `src` - a `script` tag will be generated with its `src` attribute set to the value of `src`; `script_tag` - The value of `html` (which must contain a single `script` tag) will be injected directly onto the page.",
          "default": "src",
          "enum": [
            "src",
            "html"
          ]
        }
      },
      "example": {
        "name": "jQuery",
        "description": "The Write Less, Do More, JavaScript Library.",
        "src": "https://code.jquery.com/jquery-3.2.1.min.js",
        "auto_uninstall": true,
        "load_method": "defer",
        "location": "head",
        "visibility": "storefront",
        "kind": "src"
      }
    },
    "ScriptResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Script"
        }
      }
    },
    "ScriptsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Script"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "ThemeRegion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The region name."
        }
      }
    },
    "ThemeRegionsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ThemeRegion"
          }
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ModifierCollectionResponse": {
      "description": "Modifier Collection Response return for /GET All Modifiers.",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Modifier"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Modifier Collection Response"
    },
    "ModifierResponse": {
      "description": "Modifier Response returns for:\n* Get Modifier by Id\n* Update Modifier\n* Create Modifier",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Modifier"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "title": "Modifier Response"
    },
    "ModifierBase": {
      "type": "object",
      "description": "Common Modifier properties.",
      "title": "Modifier Base",
      "properties": {
        "type": {
          "type": "string",
          "description": "BigCommerce API, which determines how it will display on the storefront. Acceptable values: `date`, `checkbox`, `file`, `text`, `multi_line_text`, `numbers_only_text`, `radio_buttons`, `rectangles`, `dropdown`, `product_list`, `product_list_with_images`, `swatch`. Required in a /POST.\n",
          "enum": [
            "date",
            "checkbox",
            "file",
            "text",
            "multi_line_text",
            "numbers_only_text",
            "radio_buttons",
            "rectangles",
            "dropdown",
            "product_list",
            "product_list_with_images",
            "swatch"
          ],
          "x-required": [
            "post"
          ]
        },
        "required": {
          "type": "boolean",
          "description": "Whether or not this modifer is required or not at checkout. Required in a /POST.\n",
          "x-required": [
            "post"
          ]
        },
        "config": {
          "$ref": "#/definitions/OptionConfig"
        },
        "option_values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ModifierValue"
          }
        }
      },
      "required": [
        "type",
        "required"
      ]
    },
    "Modifier": {
      "allOf": [
        {
          "$ref": "#/definitions/ModifierBase"
        },
        {
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the modifier; increments sequentially.\n",
              "example": 12
            },
            "product_id": {
              "type": "integer",
              "description": "The unique numeric ID of the product to which the option belongs.\n",
              "example": 77
            },
            "name": {
              "type": "string",
              "description": "The unique option name. Auto-generated from the display name, a timestamp, and the product ID.\n",
              "example": "Add-a-$5-Donation1535039590-191"
            },
            "display_name": {
              "type": "string",
              "description": "The name of the option shown on the storefront.\n",
              "example": "Donation"
            }
          }
        }
      ],
      "title": "Modifer",
      "description": "Product Modifier",
      "type": "object"
    },
    "ModifierPost": {
      "description": "The model for a POST to create a modifier on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/ModifierBase"
        },
        {
          "properties": {
            "display_name": {
              "type": "string",
              "description": "The name of the option shown on the storefront.\n",
              "x-required": [
                "post"
              ],
              "example": "Donation"
            }
          },
          "required": [
            "display_name"
          ]
        }
      ],
      "title": "Modifier Post",
      "type": "object"
    },
    "ModifierPut": {
      "type": "object",
      "description": "The model for a PUT to update a modifier on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/ModifierBase"
        }
      ],
      "title": "Modifier Put"
    },
    "ModifierValueCollectionResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ModifierValue"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Modifier Value Collection Response",
      "description": "Returns for GET All Modifier Values on a Product"
    },
    "ModifierValueResponse": {
      "description": "Modifier Value Response returns for:\n* Create Modifier Value\n* Get Modifier Value by Id\n* Update Modifier Value",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/ModifierValue"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "title": "Modifier Value Response"
    },
    "ModifierValueBase": {
      "allOf": [
        {
          "$ref": "#/definitions/OptionValueBase"
        },
        {
          "properties": {
            "adjusters": {
              "type": "object",
              "properties": {
                "price": {
                  "$ref": "#/definitions/Adjuster"
                },
                "weight": {
                  "$ref": "#/definitions/Adjuster"
                },
                "image_url": {
                  "type": "string",
                  "description": "The URL for an image displayed on the storefront when the modifier value is selected.\n",
                  "example": "https://cdn8.bigcommerce.com/s-{{store_hash}}/products/184/images/445/naturalcanvascart2_1024x1024__92347__29648.1534344533.1280.1280.jpg?c=2"
                },
                "purchasing_disabled": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "Flag for whether the modifier value disables purchasing when selected on the storefront. This can be used for temporarily disabling a particular modifier value.\n"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message displayed on the storefront when the purchasing disabled status is `true`.\n"
                    }
                  }
                }
              }
            }
          }
        }
      ],
      "title": "Modifier Value Base",
      "type": "object"
    },
    "ModifierValue": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ModifierValueBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the value; increments sequentially.\n"
            }
          }
        }
      ],
      "title": "Modifier Value",
      "description": "Part of Modifier Value Response "
    },
    "ModifierValuePost": {
      "type": "object",
      "description": "The model for a POST to create a modifier value on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/ModifierValueBase"
        }
      ],
      "title": "Modifier Value Post"
    },
    "ModifierValuePut": {
      "type": "object",
      "description": "The model for a PUT to update a modifier value on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/ModifierValueBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the value; increments sequentially.\n",
              "x-required": [
                "put"
              ]
            }
          }
        }
      ],
      "title": "Modifier Value Put"
    },
    "OptionCollectionResponse": {
      "description": "Get all product options",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Option"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Option Collection Response"
    },
    "OptionResponse": {
      "description": "Option Response returns for:\n* Create Option\n* Get Option by Id\n* Update Option",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Option"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "title": "Option Response"
    },
    "OptionBase": {
      "type": "object",
      "description": "Common Option properties.",
      "title": "Option Base",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique numerical ID of the option, increments sequentially.\n",
          "x-nullable": true,
          "example": 55
        },
        "product_id": {
          "type": "integer",
          "description": "The unique numerical ID of the product to which the option belongs.\n",
          "x-required": [
            "post",
            "put"
          ],
          "example": 4
        },
        "display_name": {
          "type": "string",
          "description": "The name of the option shown on the storefront.\n",
          "x-required": [
            "post",
            "put"
          ],
          "minLength": 1,
          "maxLength": 255,
          "example": "Add-a-$5-Donation1535042499-187"
        },
        "type": {
          "type": "string",
          "description": "The type of option, which determines how it will display on the storefront. Acceptable values: `radio_buttons`, `rectangles`, `dropdown`, `product_list`, `product_list_with_images`, `swatch`. For reference, the former v2 API values are: RB = radio_buttons, RT = rectangles, S = dropdown, P = product_list, PI = product_list_with_images, CS = swatch.\n",
          "enum": [
            "radio_buttons",
            "rectangles",
            "dropdown",
            "product_list",
            "product_list_with_images",
            "swatch"
          ],
          "x-required": [
            "post",
            "put"
          ]
        },
        "config": {
          "$ref": "#/definitions/OptionConfig"
        },
        "option_values": {
          "type": "array",
          "x-required": [
            "post",
            "put"
          ],
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/OptionValue"
          }
        }
      }
    },
    "Option": {
      "allOf": [
        {
          "$ref": "#/definitions/OptionBase"
        },
        {
          "properties": {
            "name": {
              "type": "string",
              "description": "The unique option name, auto-generated from the display name, a timestamp, and the product ID.\n",
              "example": "Add-a-$5-Donation1535042499-187"
            }
          }
        }
      ],
      "title": "Option",
      "type": "object"
    },
    "OptionPost": {
      "type": "object",
      "description": "The model for a POST to create options on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/OptionBase"
        }
      ],
      "title": "Option Post"
    },
    "OptionPut": {
      "type": "object",
      "description": "The model for a PUT to update options on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/OptionBase"
        }
      ],
      "title": "Option Put"
    },
    "CategoryTreeCollectionResponse": {
      "description": "Returns the categories tree, a nested lineage of the categories with parent->child relationship. The Category objects returned are simplified versions of the category objects returned in the rest of this API.\n",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryNode"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Category Tree Collection Response"
    },
    "CategoryNode": {
      "type": "object",
      "description": "Used to reflect parent <> child category relationships. Used by Category Tree.",
      "title": "Category Node",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique numeric ID of the category; increments sequentially.\n",
          "example": 26
        },
        "parent_id": {
          "type": "integer",
          "description": "The unique numeric ID of the category's parent. This field controls where the category sits in the tree of categories that organize the catalog.\n",
          "example": 25
        },
        "name": {
          "type": "string",
          "description": "The name displayed for the category. Name is unique with respect to the category's siblings.\n",
          "example": "Bath"
        },
        "is_visible": {
          "type": "boolean",
          "description": "Flag to determine whether the product should be displayed to customers browsing the store. If `true`, the category will be displayed. If `false`, the category will be hidden from view.\n",
          "example": true
        },
        "url": {
          "type": "string",
          "description": "The custom URL for the category on the storefront.\n",
          "example": "/towels/bath-towels/"
        },
        "children": {
          "type": "array",
          "description": "The list of children of the category.\n",
          "items": {
            "$ref": "#/definitions/CategoryNode"
          }
        }
      }
    },
    "CategoryCollectionResponse": {
      "description": "Response for Get All Categories",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Category Collection Response"
    },
    "CategoryResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Category"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "title": "Category Response",
      "description": "Category Response returns for:\n* Create Category\n* Get Category by Id\n* Update Category by Id"
    },
    "CategoryBase": {
      "type": "object",
      "description": "Common Category object properties.",
      "title": "Category Base",
      "properties": {
        "parent_id": {
          "type": "integer",
          "description": "The unique numeric ID of the category's parent. This field controls where the category sits in the tree of categories that organize the catalog.\nRequired in /POST if creating a child category.",
          "x-required": [
            "post"
          ],
          "example": 2
        },
        "name": {
          "type": "string",
          "description": "The name displayed for the category. Name is unique with respect to the category's siblings.\nRequired in /POST.",
          "x-required": [
            "post"
          ],
          "minLength": 1,
          "maxLength": 50,
          "example": "Bath"
        },
        "description": {
          "type": "string",
          "description": "The product description, which can include HTML formatting.\n",
          "example": "<p>We offer a wide variety of products perfect for relaxing</p>"
        },
        "views": {
          "type": "integer",
          "description": "Number of views the category has on the storefront.\n",
          "example": 1050
        },
        "sort_order": {
          "type": "integer",
          "description": "Priority this category will be given when included in the menu and category pages. The lower the number, the closer to the top of the results the category will be.\n",
          "minimum": -2147483648,
          "maximum": 2147483647,
          "example": 3
        },
        "page_title": {
          "type": "string",
          "description": "Custom title for the category page. If not defined, the category name will be used as the meta title.\n",
          "minLength": 0,
          "maxLength": 255,
          "example": "Bath"
        },
        "search_keywords": {
          "type": "string",
          "description": "A comma-separated list of keywords that can be used to locate the category when searching the store.\n",
          "minLength": 0,
          "maxLength": 65535
        },
        "meta_keywords": {
          "type": "array",
          "description": "Custom meta keywords for the category page. If not defined, the store's default keywords will be used. Must post as an array like: [\"awesome\",\"sauce\"].\n",
          "items": {
            "type": "string"
          }
        },
        "meta_description": {
          "type": "string",
          "description": "Custom meta description for the category page. If not defined, the store's default meta description will be used.\n",
          "minLength": 0,
          "maxLength": 65535
        },
        "layout_file": {
          "type": "string",
          "description": "The layout template file used to render this category.\n",
          "minLength": 0,
          "maxLength": 500,
          "example": "category.html"
        },
        "is_visible": {
          "type": "boolean",
          "description": "Flag to determine whether the product should be displayed to customers browsing the store. If `true`, the category will be displayed. If `false`, the category will be hidden from view.\n"
        },
        "default_product_sort": {
          "type": "string",
          "description": "Determines how the products are sorted on category page load.\n",
          "enum": [
            "use_store_settings",
            "featured",
            "newest",
            "best_selling",
            "alpha_asc",
            "alpha_desc",
            "avg_customer_review",
            "price_asc",
            "price_desc"
          ]
        },
        "image_url": {
          "type": "string",
          "description": "Image URL used for this category on the storefront. Images can be uploaded via form file post to `/categories/{categoryId}/image`, or by providing a publicly accessible URL in this field.\n",
          "x-url": true,
          "example": "https://cdn8.bigcommerce.com/s-123456/product_images/d/fakeimage.png"
        },
        "custom_url": {
          "$ref": "#/definitions/CustomUrlCategory"
        }
      },
      "required": [
        "parent_id",
        "name"
      ]
    },
    "Category": {
      "type": "object",
      "description": "A Category object.",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the category; increments sequentially.\n",
              "example": 15
            }
          }
        }
      ],
      "title": "Category"
    },
    "CategoryPost": {
      "type": "object",
      "description": "The model to create a Category",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryBase"
        }
      ],
      "title": "Category Post"
    },
    "CategoryPut": {
      "type": "object",
      "description": "The model to update a Category",
      "allOf": [
        {
          "$ref": "#/definitions/CategoryBase"
        }
      ],
      "title": "Category Put"
    },
    "BrandCollectionResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Brand"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Brand Collection Response",
      "description": "Get All Brands Response."
    },
    "BrandResponse": {
      "description": "Brand Response returns for:\n* Create Brand\n* Get Brand by Id\n* Update Brand by Id",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Brand"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "title": "Brand Response"
    },
    "BrandBase": {
      "type": "object",
      "description": "Common Brand properties.\n",
      "title": "Brand Base",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the brand. Must be unique.\nRequired in /POST.",
          "x-required": [
            "post",
            "put"
          ],
          "minLength": 1,
          "maxLength": 255,
          "example": "Common Good"
        },
        "page_title": {
          "type": "string",
          "description": "The title shown in the browser while viewing the brand.\n",
          "minLength": 0,
          "maxLength": 255,
          "example": "Common Good"
        },
        "meta_keywords": {
          "type": "array",
          "description": "Comma-separated list of meta keywords to include in the HTML.\n",
          "example": "modern, clean, contemporary",
          "items": {
            "type": "string"
          }
        },
        "meta_description": {
          "type": "string",
          "description": "A meta description to include.\n",
          "minLength": 0,
          "maxLength": 65535,
          "example": "Common Good is a modern brand."
        },
        "search_keywords": {
          "type": "string",
          "description": "A comma-separated list of keywords that can be used to locate this brand.\n",
          "minLength": 0,
          "maxLength": 65535,
          "example": "kitchen, laundry, cart, storage"
        },
        "image_url": {
          "type": "string",
          "description": "Image URL used for this category on the storefront. Images can be uploaded via form file post to `/brands/{brandId}/image`, or by providing a publicly accessible URL in this field.\n",
          "x-url": true,
          "example": "https://cdn8.bigcommerce.com/s-12345/product_images/k/your-image-name.png"
        },
        "custom_url": {
          "$ref": "#/definitions/CustomUrlBrand"
        }
      },
      "required": [
        "name"
      ]
    },
    "Brand": {
      "allOf": [
        {
          "$ref": "#/definitions/BrandBase"
        },
        {
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the brand; increments sequentially.\n",
              "example": 37,
              "x-nullable": true
            }
          }
        }
      ],
      "type": "object",
      "title": "Brand"
    },
    "BrandPost": {
      "description": "Model for creating a new Brand.",
      "allOf": [
        {
          "$ref": "#/definitions/BrandBase"
        }
      ],
      "type": "object",
      "title": "Brand Post"
    },
    "BrandPut": {
      "type": "object",
      "description": "Model for updating an existing Brand.",
      "allOf": [
        {
          "$ref": "#/definitions/BrandBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the brand; increments sequentially.\n",
              "example": 6,
              "x-nullable": true
            }
          }
        }
      ],
      "title": "Brand Put"
    },
    "SubscriberCollectionResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscriber"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "SubscriberResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Subscriber"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "SubscriberBase": {
      "type": "object",
      "description": "Common Subscriber properties.",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique numeric ID of the subscriber; increments sequentially.\n",
          "x-required": [
            "put"
          ]
        },
        "email": {
          "type": "string",
          "description": "The email of the subscriber. Must be unique.\n",
          "x-required": [
            "post"
          ]
        },
        "first_name": {
          "type": "string",
          "description": "The first name of the subscriber.\n",
          "minLength": 0,
          "maxLength": 255
        },
        "last_name": {
          "type": "string",
          "description": "The last name of the subscriber.\n",
          "minLength": 0,
          "maxLength": 255
        },
        "source": {
          "type": "string",
          "description": "The source of the subscriber. Values are: `storefront`, `order`, or `custom`.\n",
          "minLength": 0,
          "maxLength": 255
        },
        "order_id": {
          "type": "integer",
          "description": "The ID of the source order, if source was an order.\n",
          "x-nullable": true,
          "minimum": 1,
          "maximum": 2147483647
        }
      }
    },
    "Subscriber": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SubscriberBase"
        },
        {
          "type": "object",
          "properties": {
            "date_modified": {
              "type": "string",
              "format": "date-time",
              "description": "The date on which the subscriber was modified.\n"
            },
            "date_created": {
              "type": "string",
              "format": "date-time",
              "description": "The date of which the subscriber was created.\n"
            }
          }
        }
      ]
    },
    "SubscriberPost": {
      "type": "object",
      "description": "The model for a POST to create a subscriber.\n",
      "allOf": [
        {
          "$ref": "#/definitions/SubscriberBase"
        }
      ]
    },
    "SubscriberPut": {
      "type": "object",
      "description": "The model for a PUT to update a subscriber.\n",
      "allOf": [
        {
          "$ref": "#/definitions/SubscriberBase"
        }
      ]
    },
    "VariantCollectionResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variant"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "VariantResponse": {
      "description": "Successful response.\n",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Variant"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "VariantBase": {
      "type": "object",
      "description": "Common Variant properties.",
      "properties": {
        "cost_price": {
          "type": "number",
          "format": "double",
          "description": "The cost price of the variant. Not affected by Price List prices.",
          "x-nullable": true,
          "minimum": 0
        },
        "price": {
          "type": "number",
          "format": "double",
          "description": "This variant's base price on the storefront. If a Price List ID is used, the Price List value will be used. If a Price List ID is not used, and this value is `null`, the product's default price (set in the Product resource's `price` field) will be used as the base price.",
          "x-nullable": true,
          "minimum": 0
        },
        "sale_price": {
          "type": "number",
          "format": "double",
          "description": "This variant's sale price on the storefront. If a Price List ID is used, the Price List value will be used. If a Price List ID is not used, and this value is null, the product's sale price (set in the Product resource's `price` field) will be used as the sale price.",
          "x-nullable": true,
          "minimum": 0
        },
        "retail_price": {
          "type": "number",
          "format": "double",
          "description": "This variant's retail price on the storefront. If a Price List ID is used, the Price List value will be used. If a Price List ID is not used, and this value is null, the product's retail price (set in the Product resource's `price` field) will be used as the retail price.",
          "x-nullable": true,
          "minimum": 0
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "This variant's base weight on the storefront. If this value is null, the product's default weight (set in the Product resource's weight field) will be used as the base weight.",
          "x-nullable": true,
          "minimum": 0
        },
        "width": {
          "type": "number",
          "format": "double",
          "description": "Width of the variant, which can be used when calculating shipping costs. If this value is `null`, the product's default width (set in the Product resource's `width` field) will be used as the base width.\n",
          "x-nullable": true,
          "minimum": 0
        },
        "height": {
          "type": "number",
          "format": "double",
          "description": "Height of the variant, which can be used when calculating shipping costs. If this value is `null`, the product's default height (set in the Product resource's `height` field) will be used as the base height.\n",
          "x-nullable": true,
          "minimum": 0
        },
        "depth": {
          "type": "number",
          "format": "double",
          "description": "Depth of the variant, which can be used when calculating shipping costs. If this value is `null`, the product's default depth (set in the Product resource's `depth` field) will be used as the base depth.\n",
          "x-nullable": true,
          "minimum": 0
        },
        "is_free_shipping": {
          "type": "boolean",
          "description": "Flag used to indicate whether the variant has free shipping. If `true`, the shipping cost for the variant will be zero.\n"
        },
        "fixed_cost_shipping_price": {
          "type": "number",
          "format": "double",
          "description": "A fixed shipping cost for the variant. If defined, this value will be used during checkout instead of normal shipping-cost calculation.\n",
          "x-nullable": true,
          "minimum": 0
        },
        "purchasing_disabled": {
          "type": "boolean",
          "description": "If `true`, this variant will not be purchasable on the storefront."
        },
        "purchasing_disabled_message": {
          "type": "string",
          "description": "If `purchasing_disabled` is `true`, this message should show on the storefront when the variant is selected.",
          "minLength": 0,
          "maxLength": 255
        },
        "image_url": {
          "type": "string",
          "description": "The image that will be displayed when this variant is selected on the storefront. When updating a SKU image, send the publicly accessible URL. Supported image formats are JPEG, PNG, and GIF. Generic product images not specific to the variant should be stored on the product.",
          "x-url": true
        },
        "upc": {
          "type": "string",
          "description": "The UPC code used in feeds for shopping comparison sites and external channel integrations.",
          "x-nullable": true
        },
        "inventory_level": {
          "type": "integer",
          "description": "Inventory level for the variant, which is used when the product's inventory_tracking is set to `variant`.",
          "x-nullable": true
        },
        "inventory_warning_level": {
          "type": "integer",
          "description": "When the variant hits this inventory level, it is considered low stock.",
          "x-nullable": true
        },
        "bin_picking_number": {
          "type": "string",
          "description": "Identifies where in a warehouse the variant is located.",
          "x-nullable": true,
          "minLength": 0,
          "maxLength": 255
        }
      }
    },
    "Variant": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VariantBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "product_id": {
              "type": "integer"
            },
            "sku": {
              "type": "string"
            },
            "sku_id": {
              "type": "integer",
              "description": "Read-only reference to v2 API's SKU ID. Null if it is a base variant.",
              "x-nullable": true
            },
            "option_values": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OptionValueVariant"
              },
              "description": "Array of option and option values IDs that make up this variant. Will be empty if the variant is the product's base variant."
            },
            "calculated_price": {
              "type": "number",
              "format": "double",
              "description": "The price of the variant as seen on the storefront. This price takes into account `sale_price` and any price adjustment rules that are applicable to this variant.\n"
            }
          }
        }
      ]
    },
    "VariantPost": {
      "type": "object",
      "description": "The model for a POST to create variants on a product.\n",
      "allOf": [
        {
          "$ref": "#/definitions/VariantBase"
        },
        {
          "type": "object",
          "properties": {
            "product_id": {
              "type": "integer",
              "x-required": [
                "post"
              ]
            },
            "sku": {
              "type": "string",
              "x-required": [
                "post"
              ],
              "minLength": 1,
              "maxLength": 255
            },
            "option_values": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OptionValueVariantPost"
              },
              "description": "Array of option and option values IDs that make up this variant. Will be empty if the variant is the product's base variant.",
              "x-required": [
                "post"
              ]
            }
          }
        }
      ]
    },
    "VariantPut": {
      "type": "object",
      "description": "The model for a PUT to update variants on a product.\n",
      "allOf": [
        {
          "$ref": "#/definitions/VariantBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "x-required": [
                "put"
              ]
            }
          }
        }
      ]
    },
    "VariantProductPost": {
      "type": "object",
      "description": "The model for a POST to create variants on a product.\n",
      "allOf": [
        {
          "$ref": "#/definitions/VariantBase"
        },
        {
          "type": "object",
          "properties": {
            "product_id": {
              "type": "integer"
            },
            "sku": {
              "type": "string",
              "x-required": [
                "post"
              ],
              "minLength": 1,
              "maxLength": 255
            },
            "option_values": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OptionValueProductPost"
              },
              "x-required": [
                "post"
              ]
            }
          }
        }
      ]
    },
    "VariantProductPut": {
      "type": "object",
      "description": "The model for a PUT to update variants on a product.\n",
      "allOf": [
        {
          "$ref": "#/definitions/VariantBase"
        },
        {
          "type": "object",
          "properties": {
            "product_id": {
              "type": "integer"
            },
            "sku": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        }
      ]
    },
    "OptionValueProductBase": {
      "type": "object",
      "description": "Common Option Value Product properties.",
      "title": "Option Value Product Base",
      "properties": {
        "option_display_name": {
          "type": "string",
          "description": "The name of the option.\n",
          "x-required": [
            "post"
          ],
          "minLength": 1,
          "maxLength": 255,
          "example": "Color"
        },
        "label": {
          "type": "string",
          "description": "The label of the option value.\n",
          "x-required": [
            "post"
          ],
          "minLength": 1,
          "maxLength": 255,
          "example": "Beige"
        }
      }
    },
    "OptionValueProductPost": {
      "type": "object",
      "description": "The model for a POST to create option values on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/OptionValueProductBase"
        }
      ],
      "title": "Option Value Product Post"
    },
    "OptionValueVariant": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OptionValueProductBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "option_id": {
              "type": "integer"
            }
          }
        }
      ],
      "title": "Option Value Variant"
    },
    "OptionValueVariantPost": {
      "type": "object",
      "description": "The model for a POST to create option values on a variant.",
      "properties": {
        "id": {
          "type": "integer",
          "x-required": [
            "post"
          ]
        },
        "option_id": {
          "type": "integer",
          "x-required": [
            "post"
          ]
        }
      },
      "title": "Option Value Variant Post"
    },
    "OptionValueCollectionResponse": {
      "description": "Get Option Values response.",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OptionValue"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      },
      "title": "Option Value Collection Response"
    },
    "OptionValueResponse": {
      "description": "Option Value Response returns:\n* Create Option Value\n* Get Option Value by Id\n* Update Option Value",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/OptionValue"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "title": "Option Value Response"
    },
    "OptionValueBase": {
      "type": "object",
      "description": "Common Option Value properties.",
      "title": "Option Value Base",
      "properties": {
        "is_default": {
          "type": "boolean",
          "description": "The flag for preselecting a value as the default on the storefront. This field is not supported for swatch options/modifiers.\n",
          "example": false
        },
        "label": {
          "type": "string",
          "description": "The text display identifying the value on the storefront. Required in a /POST.\n",
          "x-required": [
            "post"
          ],
          "example": "Green"
        },
        "sort_order": {
          "type": "integer",
          "description": "The order in which the value will be displayed on the product page. Required in a /POST.\n",
          "minimum": -2147483648,
          "maximum": 2147483647,
          "x-required": [
            "post"
          ],
          "example": 0
        },
        "value_data": {
          "type": "object",
          "description": "Extra data describing the value, based on the type of option or modifier with which the value is associated. The `swatch` type option can accept an array of `colors`, with up to three hexidecimal color keys; or an `image_url`, which is a full image URL path including protocol. The `product list` type option requires a `product_id`. The `checkbox` type option requires a boolean flag, called `checked_value`, to determine which value is considered to be the checked state.\n"
        }
      },
      "required": [
        "label",
        "sort_order"
      ]
    },
    "OptionValue": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OptionValueBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the value; increments sequentially.\n"
            }
          }
        }
      ],
      "title": "Option Value"
    },
    "OptionValuePost": {
      "type": "object",
      "description": "The model for a POST to create option values on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/OptionValueBase"
        }
      ],
      "title": "Option Value Post"
    },
    "OptionValuePut": {
      "type": "object",
      "description": "The model for a PUT to update option values on a product.",
      "allOf": [
        {
          "$ref": "#/definitions/OptionValueBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the value; increments sequentially.\n",
              "x-required": [
                "put"
              ]
            }
          }
        }
      ],
      "title": "Option Value Put"
    },
    "ProductImageCollectionResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductImage"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "ProductImageResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/ProductImage"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ProductImageBase": {
      "type": "object",
      "description": "Common ProductImage properties.\n",
      "properties": {
        "is_thumbnail": {
          "description": "Flag for identifying whether the image is used as the product's thumbnail.\n",
          "type": "boolean"
        },
        "sort_order": {
          "type": "integer",
          "description": "The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the image's new `sort_order` value will have their `sort_order`s reordered.\n",
          "minimum": -2147483648,
          "maximum": 2147483647
        },
        "description": {
          "description": "The description for the image.\n",
          "type": "string"
        }
      }
    },
    "ProductImage": {
      "type": "object",
      "description": "The full ProductImage model.\n",
      "allOf": [
        {
          "$ref": "#/definitions/ProductImageBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "description": "The unique numeric ID of the image; increments sequentially.\n",
              "type": "integer"
            },
            "product_id": {
              "description": "The unique numeric identifier for the product with which the image is associated.\n",
              "type": "integer"
            },
            "image_file": {
              "description": "The local path to the original image file uploaded to BigCommerce.\n",
              "type": "string"
            },
            "url_zoom": {
              "description": "The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled.\n",
              "type": "string"
            },
            "url_standard": {
              "description": "The standard URL for this image. By default, this is used for product-page images.\n",
              "type": "string"
            },
            "url_thumbnail": {
              "description": "The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.\n",
              "type": "string"
            },
            "url_tiny": {
              "description": "The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.\n",
              "type": "string"
            },
            "date_modified": {
              "format": "date-time",
              "description": "The date on which the product image was modified.\n",
              "type": "string"
            }
          }
        }
      ]
    },
    "ProductImagePost": {
      "type": "object",
      "description": "The model for a POST to create an image on a product.\n",
      "allOf": [
        {
          "$ref": "#/definitions/ProductImageBase"
        },
        {
          "type": "object",
          "properties": {
            "image_url": {
              "description": "Must be a fully qualified URL path, including protocol.\n",
              "type": "string"
            },
            "image_file": {
              "description": "Must be sent as a multipart/form-data field in the request body.\n",
              "type": "string"
            }
          }
        }
      ]
    },
    "ProductImagePut": {
      "type": "object",
      "description": "The model for a PUT to update applicable ProductImage fields.\n",
      "allOf": [
        {
          "$ref": "#/definitions/ProductImageBase"
        }
      ]
    },
    "ProductVideoCollectionResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductVideo"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "ProductVideoResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/ProductVideo"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ProductVideoBase": {
      "type": "object",
      "description": "Common ProductVideo properties.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the video. If left blank, this will be filled in according to data on a host site.\n",
          "minLength": 0,
          "maxLength": 255
        },
        "description": {
          "type": "string",
          "description": "The description for the video. If left blank, this will be filled in according to data on a host site.\n"
        },
        "sort_order": {
          "type": "integer",
          "description": "The order in which the video will be displayed on the product page. Higher integers give the video a lower priority. When updating, if the video is given a lower priority, all videos with a `sort_order` the same as or greater than the video's new `sort_order` value will have their `sort_order`s reordered.\n",
          "minimum": -2147483648,
          "maximum": 2147483647
        },
        "type": {
          "type": "string",
          "description": "The video type (a short name of a host site).\n",
          "enum": [
            "youtube"
          ]
        }
      }
    },
    "ProductVideo": {
      "type": "object",
      "description": "A product video model.\n",
      "allOf": [
        {
          "$ref": "#/definitions/ProductVideoBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the product video; increments sequentially.\n"
            },
            "video_id": {
              "description": "The ID of the video on a host site.\n",
              "type": "string"
            },
            "product_id": {
              "description": "The unique numeric identifier for the product with which the image is associated.\n",
              "type": "integer"
            },
            "length": {
              "description": "Length of the video. This will be filled in according to data on a host site.\n",
              "type": "string"
            }
          }
        }
      ]
    },
    "ProductVideoPost": {
      "type": "object",
      "description": "The model for a POST to create a video on a product.\n",
      "allOf": [
        {
          "$ref": "#/definitions/ProductVideoBase"
        },
        {
          "type": "object",
          "properties": {
            "video_id": {
              "type": "string",
              "description": "The ID of the video on a host site.\n",
              "x-required": [
                "post"
              ],
              "minLength": 0,
              "maxLength": 25
            }
          }
        }
      ]
    },
    "ProductVideoPut": {
      "type": "object",
      "description": "The model for a PUT to update a video on a product.\n",
      "allOf": [
        {
          "$ref": "#/definitions/ProductVideoBase"
        },
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "The unique numeric ID of the product video; increments sequentially.\n",
              "x-required": [
                "put"
              ]
            }
          }
        }
      ]
    },
    "ProductReviewCollectionResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductReview"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "ProductReviewResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/ProductReview"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ProductReviewBase": {
      "type": "object",
      "description": "Common ProductReview properties.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the product review.\nRequired in ",
          "minLength": 0,
          "maxLength": 255
        },
        "text": {
          "type": "string",
          "description": "The text for the product review.\n"
        },
        "status": {
          "type": "string",
          "description": "The status of the product review. Must be one of `approved`, `disapproved` or `pending`.\n"
        },
        "rating": {
          "type": "integer",
          "description": "The rating of the product review. Must be one of 0, 1, 2, 3, 4, 5."
        },
        "email": {
          "type": "string",
          "description": "The email of the reviewer. Must be a valid email, or an empty string."
        },
        "name": {
          "type": "string",
          "description": "The name of the reviewer.",
          "minLength": 0,
          "maxLength": 255
        },
        "date_reviewed": {
          "type": "string",
          "format": "date-time",
          "description": "Date the product was reviewed.\n"
        }
      }
    },
    "ProductReview": {
      "type": "object",
      "description": "A product review model.\n",
      "allOf": [
[...]
