{
  "swagger": "2.0",
  "info": {
    "title": "V3 Subscribers",
    "version": "3.0.0b",
    "description": "A Swagger Document for the BigCommmerce v3 API.",
    "termsOfService": "http://www.bigcommerce.com/terms",
    "license": {
      "name": ""
    }
  },
  "host": "api.bigcommerce.com",
  "basePath": "/stores/{store_hash}/v3",
  "tags": [
    {
      "name": "Subscribers",
      "description": "BigCommerce Customers API Definition."
    }
  ],
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/customers/subscribers": {
      "get": {
        "description": "Returns a paginated Subscribers collection.\n",
        "operationId": "getSubscribers",
        "parameters": [
          {
            "$ref": "#/parameters/FilterEmailParam"
          },
          {
            "$ref": "#/parameters/FilterFirstNameParam"
          },
          {
            "$ref": "#/parameters/FilterLastNameParam"
          },
          {
            "$ref": "#/parameters/FilterSourceParam"
          },
          {
            "$ref": "#/parameters/FilterOrderIdParam"
          },
          {
            "$ref": "#/parameters/FilterDateCreatedParam"
          },
          {
            "$ref": "#/parameters/FilterDateModifiedParam"
          },
          {
            "$ref": "#/parameters/PageParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of subscriber objects and metadata.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberCollectionResponse"
            }
          }
        },
        "tags": [
          "Subscribers"
        ]
      },
      "post": {
        "description": "Creates a `Subscriber` object.\n",
        "operationId": "createSubscriber",
        "parameters": [
          {
            "name": "subscriber",
            "in": "body",
            "required": true,
            "description": "`Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberResponse"
            }
          },
          "409": {
            "description": "The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as email.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Subscribers"
        ]
      },
      "delete": {
        "description": "Deletes a Subscriber or Subscribers from BigCommerce Customers.\n",
        "operationId": "deleteSubscribers",
        "parameters": [
          {
            "$ref": "#/parameters/FilterEmailParam"
          },
          {
            "$ref": "#/parameters/FilterFirstNameParam"
          },
          {
            "$ref": "#/parameters/FilterLastNameParam"
          },
          {
            "$ref": "#/parameters/FilterSourceParam"
          },
          {
            "$ref": "#/parameters/FilterOrderIdParam"
          },
          {
            "$ref": "#/parameters/FilterDateCreatedParam"
          },
          {
            "$ref": "#/parameters/FilterDateModifiedParam"
          }
        ],
        "responses": {
          "204": {
            "description": "An empty response.\n"
          }
        },
        "tags": [
          "Subscribers"
        ]
      }
    },
    "/customers/subscribers/{subscriber_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/SubscriberIdParam"
        }
      ],
      "get": {
        "description": "Gets `Subscriber` object.",
        "operationId": "getSubscriberById",
        "responses": {
          "200": {
            "description": "A `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberResponse"
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "tags": [
          "Subscribers"
        ]
      },
      "put": {
        "description": "Updates a `Subscriber` object.\n",
        "operationId": "updateSubscriber",
        "parameters": [
          {
            "name": "subscriber",
            "in": "body",
            "required": true,
            "description": "Returns a `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A `Subscriber` object.\n",
            "schema": {
              "$ref": "#/definitions/SubscriberResponse"
            }
          },
          "404": {
            "description": "The resource was not found.\n",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          },
          "409": {
            "description": "The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as `email`.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.\n",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Subscribers"
        ]
      },
      "delete": {
        "description": "Deletes a `Subscriber` object.\n",
        "operationId": "deleteSubscriberById",
        "responses": {
          "204": {
            "description": "An empty response.\n"
          }
        },
        "tags": [
          "Subscribers"
        ]
      }
    }
  },
  "parameters": {
    "FilterEmailParam": {
      "name": "email",
      "description": "Filter items by email.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterFirstNameParam": {
      "name": "first_name",
      "description": "Filter items by first_name.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterLastNameParam": {
      "name": "last_name",
      "description": "Filter items by last_name.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterSourceParam": {
      "name": "source",
      "description": "Filter items by source.\n",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "FilterOrderIdParam": {
      "name": "order_id",
      "description": "Filter items by order_id.\n",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "FilterDateModifiedParam": {
      "name": "date_modified",
      "description": "Filter items by date_modified. For example `v3/catalog/products?date_last_imported:min=2018-06-15`",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "date-time"
    },
    "FilterDateCreatedParam": {
      "name": "date_created",
      "description": "Filter items by date_created.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "date-time"
    },
    "PageParam": {
      "name": "page",
      "description": "Specifies the page number in a limited (paginated) list of products.",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "LimitParam": {
      "name": "limit",
      "description": "Controls the number of items per page in a limited (paginated) list of products.",
      "required": false,
      "in": "query",
      "type": "integer"
    },
    "ScriptsSortKeyParam": {
      "name": "sort",
      "description": "Scripts field name to sort by.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "name",
        "description",
        "date_created",
        "date_modified"
      ]
    },
    "DirectionParam": {
      "name": "direction",
      "description": "Sort direction. Acceptable values are: `asc`, `desc`.\n",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "asc",
        "desc"
      ]
    },
    "SubscriberIdParam": {
      "name": "subscriber_id",
      "in": "path",
      "description": "The ID of the `Subscriber` requested.\n",
      "required": true,
      "type": "integer"
    },
    "Accept": {
      "in": "header",
      "type": "string",
      "name": "Accept",
      "default": "application/json"
    },
    "Content-Type": {
      "name": "Content-Type",
      "in": "header",
      "type": "string",
      "default": "application/json"
    }
  },
  "definitions": {
    "SubscriberCollectionResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscriber"
          }
        },
        "meta": {
          "$ref": "#/definitions/CollectionMeta"
        }
      }
    },
    "SubscriberResponse": {
      "description": "Response payload for the BigCommerce API.\n",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Subscriber"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "SubscriberBase": {
      "type": "object",
      "description": "Common Subscriber properties.",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique numeric ID of the subscriber; increments sequentially.\n",
          "x-required": [
            "put"
          ]
        },
        "email": {
          "type": "string",
          "description": "The email of the subscriber. Must be unique.\n",
          "x-required": [
            "post"
          ]
        },
        "first_name": {
          "type": "string",
          "description": "The first name of the subscriber.\n",
          "minLength": 0,
          "maxLength": 255
        },
        "last_name": {
          "type": "string",
          "description": "The last name of the subscriber.\n",
          "minLength": 0,
          "maxLength": 255
        },
        "source": {
          "type": "string",
          "description": "The source of the subscriber. Values are: `storefront`, `order`, or `custom`.\n",
          "minLength": 0,
          "maxLength": 255
        },
        "order_id": {
          "type": "integer",
          "description": "The ID of the source order, if source was an order.\n",
          "x-nullable": true,
          "minimum": 1,
          "maximum": 2147483647
        }
      }
    },
    "Subscriber": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SubscriberBase"
        },
        {
          "type": "object",
          "properties": {
            "date_modified": {
              "type": "string",
              "format": "date-time",
              "description": "The date on which the subscriber was modified.\n"
            },
            "date_created": {
              "type": "string",
              "format": "date-time",
              "description": "The date of which the subscriber was created.\n"
            }
          }
        }
      ]
    },
    "SubscriberPost": {
      "type": "object",
      "description": "The model for a POST to create a subscriber.\n",
      "allOf": [
        {
          "$ref": "#/definitions/SubscriberBase"
        }
      ]
    },
    "SubscriberPut": {
      "type": "object",
      "description": "The model for a PUT to update a subscriber.\n",
      "allOf": [
        {
          "$ref": "#/definitions/SubscriberBase"
        }
      ]
    },
    "CollectionMeta": {
      "type": "object",
      "description": "Data about the response, including pagination and collection totals.",
      "properties": {
        "pagination": {
          "$ref": "#/definitions/Pagination"
        }
      },
      "title": "Collection Meta"
    },
    "Pagination": {
      "type": "object",
      "description": "Data about the response, including pagination and collection totals.",
      "title": "Pagination",
      "properties": {
        "total": {
          "type": "integer",
          "description": "Total number of items in the result set.\n",
          "example": 36
        },
        "count": {
          "type": "integer",
          "description": "Total number of items in the collection response.\n",
          "example": 36
        },
        "per_page": {
          "type": "integer",
          "description": "The amount of items returned in the collection per page, controlled by the limit parameter.\n",
          "example": 50
        },
        "current_page": {
          "type": "integer",
          "description": "The page you are currently on within the collection.\n",
          "example": 1
        },
        "total_pages": {
          "type": "integer",
          "description": "The total number of pages in the collection.\n",
          "example": 1
        },
        "links": {
          "type": "object",
          "description": "Pagination links for the previous and next parts of the whole collection.\n",
          "properties": {
            "previous": {
              "type": "string",
              "description": "Link to the previous page returned in the response.\n"
            },
            "current": {
              "type": "string",
              "description": "Link to the current page returned in the response.\n",
              "example": "?page=1&limit=50"
            },
            "next": {
              "type": "string",
              "description": "Link to the next page returned in the response.\n"
            }
          }
        }
      }
    },
    "Meta": {
      "type": "object",
      "description": "Empty meta object; may be used later.",
      "title": "Meta"
    },
    "ErrorResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseError"
        },
        {
          "type": "object",
          "properties": {
            "errors": {
              "$ref": "#/definitions/DetailedErrors"
            }
          }
        }
      ],
      "title": "Error Response"
    },
    "BaseError": {
      "type": "object",
      "description": "Error payload for the BigCommerce API.\n",
      "properties": {
        "status": {
          "description": "The HTTP status code.\n",
          "type": "integer"
        },
        "title": {
          "description": "The error title describing the particular error.\n",
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        }
      },
      "title": "Base Error"
    },
    "NotFound": {
      "description": "Error payload for the BigCommerce API.",
      "type": "object",
      "properties": {
        "status": {
          "description": "404 HTTP status code.\n",
          "type": "integer"
        },
        "title": {
          "description": "The error title describing the particular error.",
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        }
      },
      "title": "Not Found"
    },
    "DetailedErrors": {
      "type": "object",
      "title": "Detailed Errors",
      "properties": {
        "additionalProperties": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "X-Auth-Client": {
      "type": "apiKey",
      "name": "X-Auth-Client",
      "in": "header"
    },
    "X-Auth-Token": {
      "type": "apiKey",
      "name": "X-Auth-Token",
      "in": "header"
    }
  },
  "security": [
    {
      "X-Auth-Client": []
    },
    {
      "X-Auth-Token": []
    }
  ]
}