swagger: '2.0'
info:
  version: ''
  title: Wishlist API
  contact: {}
  description: >-
    The Wishlist API allows for developers to create and edit customer
    wishlists. 
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /wishlists:
    post:
      description: Creates a wishlist (with products) and generates a wishlist ID.
      summary: Wishlists_POST
      tags:
        - Wishlists
      operationId: WishlistsPost
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistsCreateOrUpdateRequestData'
      responses:
        '201':
          description: Returns Wishlist Entity object.
          schema:
            $ref: '#/definitions/Wishlist'
        '400':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Errors'
    get:
      description: List all available wishlists
      summary: Get a Wishlist
      tags:
        - Wishlists
      operationId: wishlistsget
      produces:
        - application/json
      parameters:
        - name: customer_id
          in: query
          required: false
          type: integer
          format: int32
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: All wishlists relating to that customer.
        - name: offset
          in: query
          required: false
          type: integer
          format: int32
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: >-
            The number of items to skip before starting to collect the result
            set.
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: The numbers of items to return.
      responses:
        '200':
          description: Returns array of Wishlist Entity objects.
          schema:
            $ref: '#/definitions/Wishlists'
        '400':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Errors'
  '/wishlists/{wishlistId}/items':
    post:
      description: Add product(s) to the wishlist.
      summary: WishlistsItemsByWishlistId_POST
      tags:
        - Wishlists
      operationId: WishlistsItemsByWishlistIdPost
      produces:
        - application/json
      parameters:
        - name: wishlistId
          in: path
          required: true
          type: string
          format: uuid
          description: ''
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistAddItems'
      responses:
        '201':
          description: Returns Wishlist Entity object.
        '400':
          description: Authentication Required.
          schema: {}
        '404':
          description: Wishlist not found.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Errors'
  '/wishlists/{wishlistId}/items/{itemId}':
    delete:
      description: Removes a line item from the wishlist.
      summary: WishlistsItemsByWishlistIdAndItemId_DELETE
      tags:
        - Wishlists
      operationId: WishlistsItemsByWishlistIdAndItemIdDelete
      produces:
        - application/json
      parameters:
        - name: wishlistId
          in: path
          required: true
          type: string
          format: uuid
          description: ''
        - name: itemId
          in: path
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: Returns Wishlist Entity Object.
        '400':
          description: Authentication Required.
          schema: {}
        '404':
          description: Wishlist not found.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Errors'
  '/wishlists/{wishlistId}':
    get:
      description: 'Returns information about a given `Wishlist`, specified by its ID.'
      summary: WishlistsByWishlistId_GET
      tags:
        - Wishlists
      operationId: WishlistsByWishlistIdGet
      produces:
        - application/json
      parameters:
        - name: wishlistId
          in: path
          required: true
          type: string
          format: uuid
          description: The identifier of a specific wishlist.
      responses:
        '200':
          description: Returns Wishlist Entity Object.
          schema:
            $ref: '#/definitions/Wishlist'
        '400':
          description: Authentication Required.
          schema: {}
        '404':
          description: Wishlist not found.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Errors'
    put:
      description: Modify a wishlist.
      summary: WishlistsByWishlistId_PUT
      tags:
        - Wishlists
      operationId: WishlistsByWishlistIdPut
      produces:
        - application/json
      parameters:
        - name: wishlistId
          in: path
          required: true
          type: string
          format: uuid
          description: ''
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistUpdateData'
      responses:
        '201':
          description: Returns Wishlist Entity object.
          schema:
            $ref: '#/definitions/Wishlists'
        '400':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Errors'
    delete:
      description: Removes the entire wishlist.
      summary: WishlistsByWishlistId_DELETE
      tags:
        - Wishlists
      operationId: WishlistsByWishlistIdDelete
      produces:
        - application/json
      parameters:
        - name: wishlistId
          in: path
          required: true
          type: string
          format: uuid
          description: This wishlist's unique ID.
      responses:
        '204':
          description: An empty response.
        '400':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Errors'
definitions:
  WishlistsCreateOrUpdateRequestData:
    title: WishlistsCreateOrUpdateRequestData
    type: object
    properties:
      customer_id:
        description: The customer id.
        type: integer
        format: int32
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
      name:
        description: The title of the wishlist.
        type: string
      products:
        description: Array of products (ID + variantId)
        type: array
        items:
          $ref: '#/definitions/Product'
    required:
      - customer_id
  WishlistUpdateData:
    title: WishlistUpdateData
    type: object
    properties:
      customer_id:
        description: The customer id.
        type: integer
        format: int32
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
      name:
        description: The title of the wishlist.
        type: string
      product:
        $ref: '#/definitions/Product'
    required:
      - customer_id
  WishlistAddItems:
    title: WishlistAddItems
    type: object
    properties:
      products:
        description: Array of products
        type: array
        items:
          $ref: '#/definitions/Product'
  Wishlists:
    title: Wishlists
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Wishlist'
      meta:
        type: object
  Wishlist:
    title: Wishlist
    description: A wishlist contains a collection of items
    type: object
    properties:
      id:
        description: 'Wishlist ID, provided after creating a wishlist with a POST.'
        type: string
        format: uuid
      customer_id:
        description: The id the customer to which the wishlist belongs.
        type: integer
        format: int32
      name:
        description: The wishlist's name.
        type: string
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
      products:
        description: Array of products
        type: array
        items:
          $ref: '#/definitions/Product'
  Product:
    title: Product
    type: object
    properties:
      product_id:
        description: The ID of the product.
        type: integer
        format: int32
      variant_id:
        description: The variant ID of the product (e.g. red/blue/green in colour)
        type: integer
        format: int32
  Errors:
    title: Errors
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  Error:
    title: Error
    type: object
    properties:
      status:
        type: integer
        format: int32
      title:
        type: string
      type:
        type: string
tags:
  - name: Wishlists
    description: ''
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
parameters:
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
    required: true
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
    required: true
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
