swagger: '2.0'
info:
  version: ''
  title: Wishlist API
  contact: {}
  description: "## This API is currenty in beta. \nThere is no signup for the Wishlist API. \n\nThe Wishlist API allows a developer to create and manage customers Wishlists. A Wishlist allows you to see what your customers are interested in and saving on the store. With this information you’ll be able to create targeted campaigns to help merchants grows their business.\_ "
host: api.bigcommerce.com
basePath: '/stores/{store_hash}/v3'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /wishlists:
    post:
      description: >-
        Creates a *Wishlist* and *Wishlist* items. More than one item can be
        added in the POST.


        **Required Fields**

        * name

        * customer_id
      summary: Create a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsPost
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistCreateRequestData'
          x-examples:
            application/json:
              name: School Shopping
              items:
                - product_id: 77
                  variant_id: 1
                - product_id: 80
                  variant_id: 1
                - product_id: 81
                  variant_id: 1
                - product_id: 86
                  variant_id: 1
                - product_id: 88
                  variant_id: 1
              customer_id: 10
              is_public: true
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '201':
          $ref: ''
        '401':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    get:
      description: >-
        Returns a list of *Wishlists*. Optional filter parameters can be passed
        in.
      summary: Get All Wishlists
      tags:
        - Wishlists
      operationId: WishlistsGet
      parameters:
        - $ref: '#/parameters/FilterCustomerID'
        - $ref: '#/parameters/FilterPage'
        - $ref: '#/parameters/FilterLimit'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/WishlistCollection'
        '401':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
  '/wishlists/{wishlist_id}/items':
    post:
      description: Adds item to a *Wishlist*. More than one item can be added at a time.
      summary: Add Wishlist Item
      tags:
        - Wishlists
      operationId: WishlistsItemsByIdPost
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistAddItem'
          x-examples:
            application/json:
              items:
                - product_id: 10
                  variant_id: 10
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '201':
          $ref: '#/responses/Wishlist'
        '401':
          description: Authentication Required.
          schema: {}
        '404':
          description: Wishlist not found.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: Deletes a *Wishlist* item.
      summary: Delete Wishlist Item
      operationId: WishlistsItemsByIdDelete
      parameters:
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/Wishlist'
        '401':
          description: Authentication Required.
          schema: {}
        '404':
          description: Wishlist not found.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Wishlists
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
  '/wishlists/{wishlist_id}':
    get:
      description: Returns a single *Wishlist*.
      summary: Get a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdGet
      parameters:
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '200':
          $ref: '#/responses/Wishlist'
        '401':
          description: Authentication Required.
          schema: {}
        '404':
          description: Wishlist not found.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    put:
      description: >-
        Updates a *Wishlist*.


        Use this endpoint to updated existing *Wishlist* items, change the
        `name`, `customer_id` or if the *Wishlist* is available publicly.
      summary: Update a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdPut
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WishlistUpdateRequestData'
          x-examples:
            application/json:
              name: School Shopping
              items:
                - id: 1
                  product_id: 2
                  variant_id: 3
              customer_id: 10
              is_public: false
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '201':
          $ref: '#/responses/Wishlist'
        '401':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: Deletes a *Wishlist*.
      summary: Delete a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsByIdDelete
      parameters:
        - $ref: '#/parameters/WishlistID'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Content-Type'
      responses:
        '204':
          description: ''
          headers: {}
        '401':
          description: Authentication Required.
          schema: {}
        default:
          description: Internal server error.
          schema:
            $ref: '#/definitions/Error'
    parameters:
      - name: wishlist_id
        in: path
        type: string
        required: true
definitions:
  WishlistCreateRequestData:
    title: Create a Wishlist
    type: object
    properties:
      customer_id:
        description: The customer id.
        type: integer
        format: int32
        example: 12
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
        example: false
      name:
        description: The title of the wishlist.
        type: string
        example: School Shopping
      items:
        description: Array of Wishlist items.
        type: array
        items:
          $ref: '#/definitions/WishlistAddItem'
    required:
      - customer_id
  WishlistUpdateRequestData:
    title: Update a Wishlist
    type: object
    properties:
      customer_id:
        description: The customer id.
        type: integer
        format: int32
      is_public:
        description: Whether the wishlist is available to the public.
        type: boolean
      name:
        description: The title of the wishlist.
        type: string
      items:
        description: Array of Wishlist items.
        type: array
        items:
          $ref: '#/definitions/WishlistItem'
    required:
      - customer_id
  Wishlist:
    title: Wishlist
    type: object
    properties:
      id:
        description: 'Wishlist ID, provided after creating a wishlist with a POST.'
        type: integer
        format: int32
        example: 30
      customer_id:
        description: The ID the customer to which the wishlist belongs.
        type: integer
        format: int32
        example: 12
      name:
        description: The Wishlist's name.
        type: string
        example: Christmas List
      is_public:
        description: Whether the Wishlist is available to the public.
        type: boolean
        example: true
      token:
        description: >-
          The token of the Wishlist. This is created internally within
          BigCommerce. The Wishlist ID is to be used for external apps.
          Read-Only
        type: string
        format: uuid
        example: 2d55481-13eb-4d1e-9d79-9062b518570d
      items:
        description: Array of Wishlist items
        type: array
        items:
          $ref: '#/definitions/WishlistItem'
  WishlistItem:
    title: Wishlist Item
    type: object
    properties:
      id:
        description: The ID of the item
        type: integer
        format: int32
        example: 12
      product_id:
        description: The ID of the product.
        type: integer
        format: int32
        example: 55
      variant_id:
        description: The variant ID of the item.
        type: integer
        format: int32
        example: 22
  WishlistAddItem:
    title: Add Item to Wishlist
    type: object
    properties:
      product_id:
        description: The ID of the product.
        type: integer
        format: int32
        example: 12
      variant_id:
        description: The variant ID of the product.
        type: integer
        format: int32
        example: 152
  Pagination:
    title: Pagination
    description: 'Data about the response, including pagination and collection totals.'
    type: object
    properties:
      total:
        description: Total number of items in the result set.
        type: integer
        format: int32
      count:
        description: Total number of items in the collection response.
        type: integer
        format: int32
      per_page:
        description: >-
          The amount of items returned in the collection per page, controlled by
          the limit parameter.
        type: integer
        format: int32
      current_page:
        description: The page you are currently on within the collection.
        type: integer
        format: int32
      total_pages:
        description: The total number of pages in the collection.
        type: integer
        format: int32
  Error:
    title: Error
    type: object
    properties:
      status:
        type: integer
        format: int32
      title:
        type: string
      type:
        type: string
  Meta:
    type: object
    title: Meta
    properties:
      pagination:
        $ref: '#/definitions/Pagination'
tags:
  - name: Wishlists
    description: ''
responses:
  Wishlist:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Wishlist'
        meta:
          type: object
    examples:
      application/json:
        data:
          id: 30
          customer_id: 10
          name: Christmas List
          is_public: true
          token: d2d55481-13eb-4d1e-9d79-9062b518570d
          items:
            - id: 44
              product_id: 77
              variant_id: 1
            - id: 45
              product_id: 80
              variant_id: 1
            - id: 46
              product_id: 81
              variant_id: 1
            - id: 47
              product_id: 86
              variant_id: 1
            - id: 48
              product_id: 88
              variant_id: 1
        meta: {}
  WishlistCollection:
    description: ''
    schema:
      type: object
      properties:
        data:
          $ref: '#/definitions/Wishlist'
        meta:
          $ref: '#/definitions/Meta'
    examples:
      application/json:
        data:
          - id: 27
            customer_id: 10
            name: My First Wishlist
            is_public: true
            token: 667c336c-b42a-453d-bd63-63b5cb51aca1
            items: []
          - id: 28
            customer_id: 10
            name: Christmas List
            is_public: false
            token: a61af935-7d6d-4f7b-99c5-a2832db13f3e
            items:
              - id: 36
                product_id: 77
                variant_id: 99
              - id: 37
                product_id: 80
                variant_id: 11
              - id: 38
                product_id: 81
                variant_id: 12
              - id: 39
                product_id: 86
                variant_id: 65
              - id: 40
                product_id: 88
                variant_id: 15
          - id: 29
            customer_id: 1
            name: Birthday
            is_public: true
            token: ea826b7c-8dec-459c-a56b-c58c200da0d3
            items:
              - id: 41
                product_id: 5
                variant_id: 10
              - id: 42
                product_id: 23
                variant_id: 8
              - id: 43
                product_id: 1
                variant_id: 51
          - id: 30
            customer_id: 10
            name: Anniversary
            is_public: true
            token: d2d55481-13eb-4d1e-9d79-9062b518570d
            items:
              - id: 44
                product_id: 77
                variant_id: 1
              - id: 45
                product_id: 80
                variant_id: 1
              - id: 46
                product_id: 81
                variant_id: 1
              - id: 47
                product_id: 86
                variant_id: 1
              - id: 48
                product_id: 88
                variant_id: 1
          - id: 31
            customer_id: 9
            name: School Shopping
            is_public: true
            token: ed669a37-07d3-4492-b7d2-799f43d2a784
            items:
              - id: 49
                product_id: 77
                variant_id: 1
        meta:
          pagination:
            total: 0
            count: 5
            per_page: 50
            current_page: 1
            total_pages: 0
  Meta:
    description: ''
    schema:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  description: Total number of items in the result set.
                  type: integer
                  format: int32
                count:
                  description: Total number of items in the collection response.
                  type: integer
                  format: int32
                per_page:
                  description: >-
                    The amount of items returned in the collection per page,
                    controlled by the limit parameter.
                  type: integer
                  format: int32
                current_page:
                  description: The page you are currently on within the collection.
                  type: integer
                  format: int32
                total_pages:
                  description: The total number of pages in the collection.
                  type: integer
                  format: int32
parameters:
  FilterCustomerID:
    name: customer_id
    in: query
    type: integer
    format: int32
    description: All wishlists relating to the customer.
  FilterPage:
    in: query
    type: integer
    name: page
    format: int32
    description: >-
      The page number of results per page. 1 is the default and starts from
      record 0.
  FilterLimit:
    name: limit
    in: query
    type: integer
    format: int32
    description: The numbers of items to return per page. Default is 50 and maximum is 250.
  WishlistID:
    name: wishlist_id
    in: path
    type: integer
    required: true
    description: ID of the Wishlist
    format: int32
  Content-Type:
    name: Content-Type
    in: header
    type: string
    default: application/json
  Accept:
    name: Accept
    in: header
    type: string
    default: application/json
securityDefinitions:
  X-Auth-Client:
    type: apiKey
    name: X-Auth-Client
    in: header
  X-Auth-Token:
    type: apiKey
    name: X-Auth-Token
    in: header
security:
  - X-Auth-Client: []
  - X-Auth-Token: []
  - Content-Type: []
